.title {
  font-size: 28px;
  font-weight: bold;
}

.row {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-start;
  }

  .title {
    font-size: 22px;
  }
}

.cell {
  margin-left: 15px;
  margin-top: 10px;
}

.linked {
  color: #2181F7 !important;
  cursor: pointer;
}