.HolderLinkShorter {
  max-width: 600px;
  overflow: hidden;
  position: relative;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  span:nth-child(1) {
    display: block;
    text-align: right;
    outline: 2px solid blue;
    text-overflow: clip;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    white-space: nowrap;
  }
  span:nth-child(2) {
    display: block;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    background: #fff;
  }
}

.shareLinkTextarea {
  min-width: 600px;
  height: 102px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid red;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid rgba(0,0,0,0.2);
}

.shareLinkTextarea:focus {
  border: 2px solid #6144e5;
  outline: none;
  padding: 9px;
}

.HolderQRCode {
  img {
    display: block;
    margin: 0 auto;
    width: 250px;
    cursor: pointer;
  }
}

.ButtonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.CopyLinkButton {
  display: block;
  width: 45%;
}

.ShareButtonHolder {
  display: block;
  width: 45%;
  background: pink;

  div {
    display: block;
    width: 100%;
    padding-left: 0px;

    button {
      display: block;
      width: 100%;
    }
  }
}

.WrapShareButton {
  display: block;
  background: red;
}


@include media-mobile {
  .HolderQRCode {
    img {
      width: 95%;
    }
  }
}