
.overlay {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.text {
  color: #000;
  position: absolute;
  font-size: 59px;
  left: 50%;
  top: 200px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

$circle-size: 120px;
$circle-background: #D9D9D9;
$circle-color: #1291D4;
$inset-size: 105px;
$inset-color: #fbfbfb;
$transition-length: 1s;

.circle {
  margin: 20px auto;
  width:  $circle-size;
  height: $circle-size;
  top: 50%;
  left: 58%;
  position: absolute;
  background-color: $circle-background;
  border-radius: 50%;
    .slice, .fill {
      width:    $circle-size;
      height:   $circle-size;
      position: absolute;
      -webkit-backface-visibility: hidden;
      transition: transform $transition-length;
      border-radius: 50%;
    }
    .slice {
      clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
      .fill {
        clip: rect(0px, $circle-size/2, $circle-size, 0px);
        background-color: $circle-color;
      }
  }
  .overlay {
    width:       $inset-size;
    height:      $inset-size;
    position:    absolute;
    margin-left: ($circle-size - $inset-size)/2;
    margin-top:  ($circle-size - $inset-size)/2;

    background-color: $inset-color;
    border-radius: 50%;
  }

  $i: 0;
  $increment: 180deg / 100;
  @while $i <= 100 {
    &[data-progress='#{$i}'] {
        .slice.full, .fill {
          transform: rotate($increment * $i);
        } 
        .fill.bar {
          transform: rotate($increment * $i * 2);
        }
      $i: $i + 1;
    }
  }
}