.modalsCalled {
  height: 100%;
}

@include media-tablet-portrait-and-lower {
  .modalsCalled {
    position: fixed;
    width: 100%;
    max-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
    overflow-y: auto;
    > * {
      margin: 0;
    }
  }
}
