.footer {
  height: 44px;
  width: 100%;

  background: #ffffff;

  position: fixed;
  top: calc(100% - 44px);
  left: 0;
  right: 0;
  z-index: 4;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}