.button {
  padding: 5px 26px;
  width: auto;
  background-color: #6144e5;
  position: relative;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 6px #929292;

  &:hover {
    opacity: 0.8;
  }

  &.disabled {
    filter: grayscale(1);
    opacity: 0.2;
    cursor: not-allowed;

    &,
    &:hover {
      opacity: 0.2;
    }
  }
}


