.button {
  padding: 5px 30px;
  height: 60px;
  width: auto;
  background-color:$alternate;
  position: relative;
  opacity: 0.8;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 6px #929292;

  &:hover {
    opacity: 1;
  }
}

.disabled {
  background-color: #828795;
  color: #000000;

  &:hover {
    opacity: 0.5;
  }
}
@include media-mobile {
  .button {
    height: 60px;
    min-width: 30px;
  }
}
