label.Switch {
  margin: 0.5rem 0.5rem;

  & > input[type='checkbox'] {
    display: none;
  }

  & > span {
    position: relative;
    padding-left: 3.3em;
    user-select: none;
    height: 20px;
    display: block;
  }

  & > span:before {
    background-color: var(--color-pale);
    border-radius: 1.2em;
    border: .1em solid transparent;
    content: '';
    height: 1.2em;
    left: 0;
    position: absolute;
    margin-top: -2px;
    -webkit-transition: border-color .2s, background-color .2s;
    transition: border-color .2s, background-color .2s;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 12px;
    width: 56px;
    height: 24px;
    cursor: pointer;
  }

  & > span:after {
    background-color: var(--color-brand);
    border-radius: 50%;
    content: '';
    width: 15px;
    height: 15px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    -webkit-transition: border-color .2s, -webkit-transform .2s;
    transition: border-color .2s, -webkit-transform .2s;
    transition: transform .2s, border-color .2s;
    transition: transform .2s, border-color .2s, -webkit-transform .2s;
    cursor: pointer;
  }

  & > input:checked + span:before {
    background-color: var(--color-brand);
  }

  & > input:checked + span:after {
    background-color: var(--color-background-elements);
    right: 0px;
    left: auto;
  }

  &.disabled {
    //opacity: 0.3;
    filter: grayscale(1);

    &,
    & > span:before,
    & > span:after {
      cursor: not-allowed;
    }
  }
}


