.overlay {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, .65);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 500;
}


@include media-mobile {

  .overlay {
    position: absolute;
  }
}
