.button {
  display: flex;
  align-items: center;
  min-width: 40px;
  height: 40px;
  padding: 0 20px;
  background-color: #e91db4;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 20px;
  position: relative;

  &:hover {
    background-color: #ff1fc5;
    color: #ffffff;
  }
}

@media (max-width: 860px){
  .button {
    display: none;
  }
}

.mobile {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 10;
}

.mobile {
  min-width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 48px;
  display: block;
  margin-right: 20px;
  margin-bottom: 100px;
}

.mobile .button {
  display: none;
}
