.label {
  margin-bottom: 6px;
}

.inRow {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

@include media-tablet-landscape-and-lower  {
  .inRow {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}
