.label {
  margin-bottom: 5px;
  font-family: 'Inter-SemiBold', sans-serif;
}

.inRow {
  margin-top: 20px;
  font-family: 'Inter-SemiBold', sans-serif;
  z-index: 9999999;
  white-space: nowrap;
  strong {
    font-weight: 500;
  }
  position: relative;
  display: inline-block;
  &:first-child {
    margin-top: 0;
  }
}

.inDropDown {
  display: flex;
  padding: 0 10px;
  margin-left: -1px;
  top: -13px;
  padding-right: 25px;
}

@include media-tablet-landscape-and-lower  {
  .inRow {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }
}

@include media-mobile {
  .inRow {
    &:first-child {
      font-size: 12px;
      margin-top: 3px;
    }
  }
}
