.button, .buttonMobile {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background-color: #e91db4;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  position: relative;

  &:hover {
    background-color: #ff1fc5;
    color: #ffffff;
  }
}

.buttonMobile {
  background: #e91db4 url('./images/add.svg') 50% 50% no-repeat;
  padding: 0;
  display: none;
}

@media screen and (max-width: 860px){
  .buttonMobile {
    display: block;
  }

  .button {
    display: none;
  }
}
