.optionrow {
  white-space: nowrap;
}
.icon {
  width: 12px;
  &[role="letter"] {
    color: white;
    width: 100%;
    text-align: center;
  }
}
.circle {
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
