.swapsHistory {
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 25px;
  margin-top: 40px;
  width: 100%;
  z-index: 1;
  position: relative;

  @media all and (max-width: 767px) {
    margin-top: 25px;
    padding: 15px;
  }

  h3 {
    color: #1F2D48;
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.swapsHistoryDark {
  background: #242425;
  box-shadow: 0px 4px 16px rgba(243, 243, 243, 0.08), 0px 1px 4px rgba(240, 233, 233, 0.08);

  h3 {
    color: white;
  }

  td {
    color: white;
  }

}