.feeInfoBlock {
  color: $notice-color;
}

.feeRow {
  display: flex;
  align-items: flex-end;
}

.paleLoader {
  display: inline-block;
  opacity: 0.7;
}

.fee {
  white-space: nowrap;
  font-family: 'Roboto Mono', monospace;
}

@media all and (max-width: 600px) {
  .feeRow {
    margin-bottom: 0.5em;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
}