$information-footer-height: 44px;

.footer {
  width: 100%;
  background: #ffffff;
  margin-top: 44px;

  @include media-desktop {
    margin-bottom: $information-footer-height;
  }
}

.information-footer {
  width: 100%;
  height: $information-footer-height;
  background: #ffffff;

  @include media-mobile {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  @include media-tablet {
    display: flex;
    justify-content: center;
  }

  @include media-desktop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }
}

.text {
  font-size: 14px;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;

  &--copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    flex-wrap: wrap;

    @include media-mobile {
      justify-content: center;
    }

    @include media-tablet {
      justify-content: center;
    }

    @include media-tablet-landscape {
      padding: 0 35px;
      justify-content: space-between;
    }

    @include media-desktop {
      padding: 0 35px;
    }
  }
}


.default-footer {
  padding-bottom: 8px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include media-mobile {
    margin-top: 16px;
    flex-direction: row-reverse;
  }

  @include media-tablet {
    margin-top: 16px;
    flex-direction: row-reverse;
  }

  &-logo {
    width: 40px;
    height: 25px;

    @include media-mobile {
      width: 80px;
      height: 50px;
    }

    @include media-tablet {
      width: 80px;
      height: 50px;
    }
    @include media-tablet-landscape {
      width: 60px;
      height: 35px;
    }
  }

  &-text {
    font-size: 12px;
    color: rgba(51, 51, 51, 0.6);

    @include media-mobile {
      margin-top: 8px;
      text-align: center;
      font-size: 16px;
    }

    @include media-tablet {
      margin-top: 8px;
      text-align: center;
      font-size: 16px;
    }
  }
}

@include media-mobile {
  .information-footer.fixed {
    position: relative;
    margin-bottom: 20px;
  }

  .default-footer {
    margin-top: 30px;
  }
}
