$information-footer-height: 44px;

.footer {
  background-color: #ffffff;
  width: 100%;
}

.bluredFooter {
  filter: blur(7px);
  pointer-events: none;
  will-change: filter;
  // transition: filter ease 0.1s;
}

.information-footer {
  width: 100%;
  height: $information-footer-height;
  background: #ffffff;
}

.date {
  color: black;
  font-size: 12px;
  margin-top: 20px;
}

.text {
  font-size: 14px;
}

.shareText {
  margin: 60px auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-top: 16px;
  flex-wrap: wrap;
}

@include media-mobile {
  .information-footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .copyright {
    margin-top: 16px;
  }

  .container {
    &--copyright {
      flex-direction: column-reverse;
    }
  }
}

@include media-tablet-landscape-and-lower {
  .footer {
    padding-bottom: 70px;
  }
}

@include media-tablet {
  .information-footer {
    display: flex;
    justify-content: center;
  }

  .container {
    &--copyright {
      flex-direction: column-reverse;
    }
  }

  .copyright {
    margin-top: 16px;
  }
}

@include media-desktop {

  .information-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }
}