
$color-brand: var(--color-brand);
$color-brand-hover: var(--color-brand-hover);
$color-brand-background: var(--color-brand-background);
$color-alternate: var(--alternate);
$color-alternate-hover: var(--alternate-hover);

$color-f-brightest: #fff;
$color-f-error: #e32950;
$color-success: #0CCF14;
$color-good: #3de25b;
$color-bad: #f56e85;
$color-warning: #ffba00;
$color-link: #007bff;