$primary: var(--primary);
$secondary: var(--secondary);
$primary-hover: var(--primary-hover);
$primary-background: var(--primary-background);
$alternate: var(--alternate);
$alternate-hover: var(--alternate-hover);

$color-brand                  : #512FD1;


$color-bg-darkest             : #000;
$color-bg-content             : #fff;


// Typography and text colors --------------------------------- /

$color-f-main                 : #000;
$color-f-brightest            : #fff;
$color-f-error                : #e32950;
