$primary: var(--primary);
$primary-hover: var(--primary-hover);
$alternate: var(--alternate);
$alternate-hover: var(--alternate-hover);

// -----------------------------------------
// Light theme

$l-background-color: #f7f7f7;
$l-color: #000;

$l-brand-color: var(--primary);
$l-brand-color-hover: var(--primary-hover);

$l-background-elements: #fff;
$l-box-shadow: 0px 4px 16px rgba(0,0,0,0.08), 0px 1px 4px rgba(0,0,0,0.08);

$l-read-only: rgb(233, 233, 233);
// -----------------------------------------
// Dark theme

$d-background-color: #222427;
$d-color: #fff;

$d-background-elements: #242425;
$d-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.49),0px 1px 4px rgba(13, 13, 13, 0.06);

$d-read-only: rgb(44, 44, 44);
// -----------------------------------------
// Unchanging colors

$notice-color: #8e9aa3;
$color-brand: #512FD1;
$color-f-brightest : #fff;
$color-f-error : #e32950;
$color-good: #4dd3ab;
$color-bad: #f56e85;