.header {
    padding: 16px 0;
  }
  
  .headerContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .title {
    width: 100%;
    padding: 0 64px;
    line-height: 18px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  
    &.uppercase {
      text-transform: uppercase;
    }
  }
  
  .modal-overlay {
    position: sticky;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    opacity: 1;
  
    &.--dark {
      .modal {
        background: #1e1f20;
        color: white;
      }
    }
  }
  
  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  }
  
  .button {
    width: 45%;
    max-width: 240px;
  }
  
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  .notification-overlay {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 32px 0;
  }
  
  .notification {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  
  .button-overlay {
    display: flex;
    justify-content: space-around;
  }
  
  @include media-mobile {
    .modal {
      height: 100%;
      padding: 16px;
      border-radius: 0;
      box-shadow: none;
    }
    .title {
      font-size: 18px;;
    }
    .notification-overlay {
      height: 100%;
    }
    .button-overlay {
      justify-content: space-between;
    }
  }
  