.registerPINModalHolder {
  max-width: 600px;
  margin: 0 auto;
}

.infoCaption {
  padding-bottom: 20px;
  text-align: center;
}
.mnemonicNotice {
  padding-bottom: 20px;
  font-size: 14px;
}
.mnemonicButtonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-top: 20px;
  button {
    width: 45%;
  }
}

.finishImg {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.pinInfoBlock {
  padding-bottom: 20px;
  padding-top: 10px;
  max-width: 400px;
}
.pinCodeHolder {
  max-width: 200px;
  margin: 0 auto;
}
.confirmSmsCode {
  max-width: 200px;
  margin: 0 auto;
}

.restoreInstruction {
  text-align: center;
  pre {
    text-align: left;
  }
}

.restoryHolder {
  p {
    margin: 20px;
    text-align: center;
    font-size: 14px;
  }
}

.buttonHolder {
  margin-top: 20px;
}

.buttonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  button {
    width: 30%;
  }
  &_2_buttons button {
    width: 45%;
  }
}
.buttonContainer {
  width: 100%;
  padding: 0 11%;
}

@include media-mobile {
  .finishImg {
    margin-bottom: 1rem;
  }
}