.header {
  font-size: 36px;
  text-align: center;
  padding: 60px 0 30px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.6;
  font-family: 'Inter-Regular', sans-serif;
}

.href {
  text-align: center;
  color: black;
}

.orange {
  color: orange;
}
