.main {
  position: relative;
  padding-bottom: 44px;
  min-height: 100vh;
  main {
    padding-top: 88px;
  }

  &_widget {
    main {
      margin-top: 0;
    }
  }
}

// @media all and (max-width: 575px) and (min-width: 480px){
//   .main {
//     main {
//       padding-top: 88px !important;
//     }
//   }
// }

@media all and (max-width: 768px) and (min-width: 320px) {
  .main {
    padding-bottom: 30px;

    margin-top: 0;

    main {
      padding-top: 0;
      margin-bottom: 30px;
    }

    &_widget {
      main {
        padding-top: 20px;
      }
    }
  }
}
