.main {
  position: relative;
  padding-bottom: 44px;
  min-height: 100vh;
  main {
    padding-top: 88px;
  }

  &_widget {
    main {
      margin-top: 0;
    }
  }
}

@include media-mobile {
	.main {
    padding-bottom: 30px;

    margin-top: 0;

    main {
      padding-top: 0;
      margin-bottom: 30px;
    }

    &_widget {
      main {
        padding-top: 20px;
      }
    }
	}
}
