.main {
  position: relative;
  z-index: 1;
  padding-bottom: 55px;
  margin-top: 88px;

  main {
    margin-top: 88px;
  }
}

@include media-mobile {
	.main {
    padding-bottom: 30px;

    margin-top: 0;

    main {
      margin-top: 0;
    }

	}
}
