.submenu {
  padding: 0;
  list-style: none;
  position: absolute;
  background: #fff;
  padding: 10px 0;
  top: 55px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.submenu-item {
  padding: 5px 25px;
  &:hover {
    background: #f5f5f5;
  }
  a {
    font-size: 14px;
    color: #000!important;
  }
}
