{
  "presets": [ "react", [ "es2015", { "loose": true } ], "stage-0" ],
  "plugins": [
    [ "transform-object-rest-spread", { "useBuiltIns": true } ],
    "transform-runtime",
    "transform-decorators-legacy"
  ]
}