.blockCenter {
  text-align: center;

  strong {
    word-wrap: break-word;
  }
}

.shortInfoHolder {
  padding-bottom: 2rem;
}

.share-info {
  display: block;
  font-size: 18px;
  text-align: center;
  padding: 1rem;
}


.responsiveBlock {
  white-space: pre-line;
  text-align: left;
  padding-top: 0px !important;
  word-break: break-all;
}

.share-ready-holder {
  padding: 10px;
  padding-top: 20px;
  button {
    display: block;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }
}

.align-right {
  text-align: right !important;
}

.statusImgHolder {
  display: block;
  &_cancelled,
  &_ready,
  &_new,
  &_pending {
    img {
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
    strong {
      display: block;
      text-align: center;
      margin-bottom: 2rem;
      font-size: 22px;
    }
  }
  &_ready {
    strong {
      color: var(--color-good);
    }
  }
  &_new,
  &_pending {
    strong {
      color: var(--color-bad);
    }
  }
  &_cancelled {
    strong {
      color: var(--color-indicating);
    }
  }
}

.invoiceControlsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  >div {
    width: 49%;
    max-width: 200px;
  }
  .payControl {
    button {
      width: 100%;
    }
  }

  .closeButton,
  .shareButton {
    width: 49%;
    padding: 0px;
    margin-top: 1rem;
  }

  .closeButton {
    button {
      width: 100%;
    }
    &::before {
      content: '';
      flex-basis: 100%;
      height: 0;
    }
  }

  &.with-share-button {
    >div {
      width: 49%;
    }
  }
  &.without-share-button {
    .closeButton {
      margin: 1rem auto;
    }
  }
  &.without-pay-control {
    &.with-share-button {
      >div {
        width: 49%;
        max-width: 200px;
        margin: 0 auto;
      }
    }
  }
}

.blockCenter__table {
  max-width: 32em;
  margin: 0 auto;
  border: 1px solid var(--color-inactive-border);
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(142, 154, 163, 0.08);
  border-radius: var(--main-component-border-radius);
  font-size: 15px;
  color: var(--color);

  td.header {
    @include ff-semibold;
    text-align: left;
    font-size: 1.1em;
  }

  td.responsiveBlock {
    @include ff-mono;
  }
}

.invoiceNumber {
  font-size: 20px;
}

@include media-mobile {
  .shortInfoHolder {
    padding-bottom: 0px;
  }

  .share-ready-holder {
    button {
      max-width: none;
    }
  }

  .statusImgHolder {
    img,
    strong {
      margin-bottom: 0.5rem;
    }
  }

  .invoiceControlsHolder {
    >div {
      max-width: none;
    }
    .closeButton,
    .shareButton {
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }
    &.with-share-button {
      .payControl {
        width: 49%;
      }
    }
  }

  .blockCenter__table {
    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }
  }
}