.title {
  max-width: 32em;
  width: 80%;
  margin: 2em auto;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.row {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}

.cell {
  margin: 1.2rem 0;
}

.linked {
  color: $color-link !important;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .title {
    font-size: 22px;
  }

  .cell {
    min-width: 280px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    overflow-x: scroll;
    margin-left: 0;
  }
}

@include media-mobile {
  .title {
    font-size: 18px;
  }
} 
