
.buttonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  button {
    width: 40%;
    padding: 0 8px;
    line-height: 36px;
    @include media-mobile {
      width: 49%;
      white-space: nowrap;
    }
  }
}

.finishImg {
  display: block;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mnemonicView {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  padding-bottom: 15px;
}

.mnemonicViewWordWrapper {
  display: inline-block;
  
  div {
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    border: 1px solid var(--color-notice);
    border-radius: 2px;

    span {
      font-size: 120%;
      padding: 0 0.2em;
      font-family: 'Roboto Mono', monospace;
    }

    span:nth-child(1) {
      color: var(--color-notice);
    }
  }
}

.wordIndex {
  user-select: none;
}

.mnemonicNotice {}

.mnemonicEnter {
  border: 1px solid var(--color-border);
  min-height: 120px;

  button {
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    border: 1px solid var(--color-notice);
    border-radius: 2px;
    background: none;
    font-size: 120%;
    padding: 0 0.2em;
    font-family: 'Roboto Mono', monospace;
  }
}

.mnemonicError {
  border: 1px solid var(--color-f-error);
}

.mnemonicWords {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  button {
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    border: 1px solid var(--color-indicating);
    border-radius: 2px;
    background: none;
    font-size: 120%;
    padding: 0 0.2em;
    font-family: 'Roboto Mono', monospace;
  }
}

.mnemonicButtonsWrapper {
  display: flex;
  justify-content: center;
}

.sharedSecret {
  display: block;
  border-radius: var(--main-component-border-radius);
  background: var(--color-background-elements);
  color: var(--color);
  box-shadow: var(--box-shadow);
  padding: 1em;
  margin-bottom: 1em;
  
  .sharedSecretInfo {
    display: block;
    padding: 10px;
    margin-bottom: 0.5em;
  }
  .sharedSecretKey {
    border-radius: 2px;
    vertical-align: top;
    line-height: 14px;
    box-shadow: none;
    font-size: 15px;
    padding-left: 15px;
    font-family: "Roboto Mono", monospace;
    border: 1px solid var(--color-border);
    outline: none;
    margin-bottom: 0.5em;

    span {
      display: block;
      width: 100%;
      padding: 1em;
    }
  }
  .sharedSecretButtons {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    >div {
      width: 30%;
      button {
        width: 100%;
      }
    }
    >button,
    >a {
      width: 30%;
    }
    >a button {
      width: 100%;
    }
  }
}

.continueBtnWrapper {
  margin-left: 1em;
}

@include media-mobile {
  .mnemonicNotice {
    position: static;
    font-size: 100%;
    margin-bottom: 20px;
  }
}