.WrapShareButton {

  display: inline-block;
  padding-left: 15px;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
  img {
    margin-right: 7px;
  }
}

.halfWidth {
  width: 200px;
  padding: 0px;
  button {
    width: 100%;
  }
}

.fullWidth {
  width: 100%;
  padding: 0px;
  button {
    width: 100%;
  }
}

@include media-mobile {
  .halfWidth {
    width: 50%;
  }
}