.timer {
  @include inline-block;
  display: inline-block;
  vertical-align: bottom;
  zoom: 1;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: -100px;
}

@include media-mobile {
  .timer {
    font-size: 12px;
  }
}
