.groupField {
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 6px;
  height: 44px;
  margin-bottom: 22px;
  align-items: center;
  border-radius: 0px;
  font-family: 'Roboto Mono', monospace;
  & p {
    margin: 0;
  }
  button {
    border: none;
    width: 20%;
  }
}

.balance {
  text-align: left;
  font-size: 15px;
}

.group {
  position: relative;
  margin-right: 12px;
  width: 76%;
  display: flex;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  align-items: center;
  justify-content: space-evenly;
}

.cell {
  color: #000;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  // &:hover {
  //   color: darken(#3b95ff, 1)
  // }
}

@include media-mobile {
  .groupField {
    margin-bottom: 25px;
  }
}
