.groupField {
  width: 280px;
  display: flex;
  border-radius: 6px;
  height: 44px;
  margin-bottom: 10px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0 20px;
  justify-content: space-around;
  & p {
    margin: 0;
  }
}

.cell {
  color: #000;
  cursor: pointer;
  // &:hover {
  //   color: darken(#3b95ff, 1)
  // }
}
