.groupField {
  width: 100%;
  display: flex;
  box-shadow: rgba(#000, 0.08) 0 3px 9px 0;
  border-radius: 6px;
  height: 56px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 0px;
  font-family: 'Roboto Mono', monospace;
  justify-content: space-between;
  & p {
    margin: 0;
  }
}

.balance {
  font-size: 14px;
  right: 10px;
  position: relative;
  width: 151px;
}

.group {
  position: relative;
  width: 72%;
  display: flex;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  align-items: center;
  justify-content: space-evenly;
}

.cell {
  color: #000;
  padding-right: 10px;
  display: inline-block;

  cursor: pointer;

  &:hover {
    color: darken(#3b95ff, 1)
  }
}
