.groupField {
  width: 100%;
  display: flex;
  box-shadow: rgba(#000, 0.08) 0 3px 9px 0;
  border-radius: 6px;
  height: 56px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-around;
  & p {
    margin: 0;
  }
}


.cell {
  color: #3b95ff;
  cursor: pointer;

  &:hover {
    color: darken(#3b95ff, 1)
  }
}