.tooltip {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  line-height: 1.2em;
  border-radius: 50%;
  border: 0,5px;
  border-color: lightgrey;
  vertical-align: middle;
  background: rgba(128,128,128,0.2);
  transform: scale(0.8);
  margin-top: -2px;
}

.r-tooltip {
  max-width: 50vw;
  white-space: normal;
}


@include media-mobile {
  .tooltip {
    display: none;
    &_truesight {
      display: inline-block;
    }
  }
  .r-tooltip {
    max-width: 80%;
  }
}
