.tooltip {
  z-index: 1;

  &.isMark {
    position: relative;
    display: inline-block;
    margin-top: -2px;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--color-pale);
    color: var(--color-indicating);
    transform: scale(0.8);
    border-radius: 50%;
    text-align: center;
    line-height: 1.2em;
    vertical-align: middle;
  }

  &.noMark {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: help;
    pointer-events: none;
  }
}

.r-tooltip {
  max-width: 50vw;
  white-space: normal;
}


@include media-mobile {
  .tooltip {
    display: none;
    &_truesight {
      display: inline-block;
    }
  }
  .r-tooltip {
    max-width: 80%;
  }
}
