.tooltip {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  line-height: 1.2em;
  border-radius: 50%;
  vertical-align: middle;
  background-color: $pale-color;
  color: $indicating-color;
  transform: scale(0.8);
  margin-top: -2px;
}

.r-tooltip {
  max-width: 50vw;
  white-space: normal;
}


@include media-mobile {
  .tooltip {
    display: none;
    &_truesight {
      display: inline-block;
    }
  }
  .r-tooltip {
    max-width: 80%;
  }
}
