.registerSMSModalHolder {
  max-width: 600px;
}

.for12words {
  min-width: 400px;
}
.infoCaption {
  padding-bottom: 20px;
  text-align: center;
}
.mnemonicNotice {
  padding-bottom: 20px;
  font-size: 14px;
}
.mnemonicButtonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  button {
    width: 45%;
  }
}