.button {
  width: 40px;
  height: 40px;
  background-color: #e91db4;
  position: relative;
  opacity: 0.5;
  border-radius: 50%;

  &::after {
    @include arrow('right', 10px, 3px, #fff);
    margin: -5px 0 0 -7px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &:hover {
    opacity: 1;
  }
}

.disabled {
  background-color: #828795;

  &:hover {
    opacity: 0.5;
  }
}
