
.connectWallet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  max-width: 250px;
  color: var(--color-brand);

  @media (max-width: 767px) {
    max-width: 150px;
  }
}

.connectWalletText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}