
.connectWallet {
  display: flex;
  max-width: 250px;
}

.web3Icon {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

.connectWalletText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 35px;
}