.emptyTransactions {
    background: url('./images/list.png') no-repeat;
    height: 356px;
    position: relative;
}

.textBlock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    p {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #1F2D48;
        margin-bottom: 5px;
    }
    span {
        font-size: 13px;
        line-height: 150%;
        text-align: center;
        color: #8E9AA3;
        display: inline-block;
        font-family: 'Manrope-Medium',sans-serif;
        width: 100%;
    }
}

// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}