.orderSettings {
  width: 100%;
  padding-top: 0.4rem;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-between;
}

.makerAddressWrapper {
  padding: 0 0.5rem;
  border-radius: 0.2rem;

  input {
    padding: 0.1rem 0.6rem;
    border-radius: inherit;
    border: 1px solid var(--color-border);
  }

  button {
    margin-left: 0.3rem;
    border-radius: inherit;
    background-color: var(--color-border);
  }
}

.optionWrapper {
  position: relative;
  border: 1px solid var(--color-border);

  &.chain {
    margin-right: auto;
  }

  &:not(:first-child) {
    margin-left: 2%;
  }

  .title {
    position: relative;
    z-index: 2;
    color: var(--color-indicating);
  }

  .noOptions {
    margin-top: 1.2rem;
    padding: 0 0.7rem;
    color: var(--color-notice);
  }
}

.orderBookTable {
  @include ff-regular;
  width: 100%;
}

.row {
  @include ff-mono;
  color: var(--color-indicating);

  .number {
    color: var(--color);
  }

  &.mobile {
    font-size: 0.9em;

    .rate {
      display: none;
    }
  }

  .actionBtnWrapper {
    padding: 0.12rem 0.2rem;
  }

  .purchaseButton {
    padding: 0.1rem 0.6rem;
    border-radius: 0.2rem;
    background-color: var(--color-brand);
    color: var(--color-f-brightest);

    &.disabled,
    &.disabled:hover {
      background-color: var(--color-inactive-border);
      color: var(--color-indicating);
    }
  }
}

.noOrdersMessage {
  padding: 0.7rem 0;
  color: var(--color-notice);
}

.modalContent {
  max-width: 20rem;
  text-align: center;

  .title {
    margin-bottom: 2rem;
  }

  .amountNotice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-notice);
  }

  .buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    button:not(:first-child) {
      margin-left: 0.6rem;
    }
  }
}
