.subTitle {
  margin-bottom: 30px
}

.indent {
  margin-top: 20px;
}

.button {
  display: block;
  padding: 0 20px;
  margin: 0px auto;
}

.buttonsContainer {
  display: flex;
  flex-flow: row wrap;
}

a {
  //font-size: 16px;
}
// p {
//   font-size: 14px;
//   color: #8E9AA3;
//   margin-top: -5px;
// }

@include media-mobile {
  .subTitle {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .button {
    width: 100%;
    padding: 0;
    margin: 7px auto;
  }

  // p {
  //   font-size: 12px;
  // }
}
