.subTitle {
  margin-bottom: 30px
}

.indent {
  margin-top: 20px;
}

.button {
  display: block;
  padding: 0 20px;
  margin: 0px auto;
}

.buttonsContainer {
  display: flex;
  flex-flow: row wrap;
}

@include media-mobile {
  .subTitle {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .button {
    width: 100%;
    padding: 0;
    margin: 7px auto;
  }
}
