.react-tags {
  position: relative;
  padding: 6px 1px 1px 6px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;

  padding-top: 20px;
  margin-bottom: 10px;
  width: 400px;
}

.--is-dark .react-tags {
  background: #2b2b2b;
}
.react-tags.is-focused {
  border: 2px solid #6144e5;
  padding: 5px 0px 0px 5px;
  padding-top: 19px;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  background: rgba(97,68,229,0.15);
  color: rgba(97,68,229,0.5);
  font-weight: bold;

  font-size: inherit;
  line-height: inherit;
}

.--is-dark .react-tags__selected-tag {
  background: #232629;
  color: #fff;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__suggestions {
    width: 240px;
  }

}

.--is-mobile .react-tags {
  width: 100%;
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.08), 0px 1px 4px rgba(0,0,0,0.08);
  border: 1px solid #f5f5f5;
}
.--is-dark .react-tags__suggestions ul {
  background: #2b2b2b;
  border: none;
  color: #fff;
}
.--is-dark .react-tags__suggestions li {
  border-bottom: 1px solid #161719;
}
.--is-dark .react-tags__suggestions li mark {
  color: #fff;
}
.react-tags__suggestions li {
  border-bottom: 1px solid #f5f5f5;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #6144E5;
}

.react-tags__suggestions li.is-active {
  background: #6144E5;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}