.commentTextarea {
  overflow: hidden !important;
  resize: none;
}

.date {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Inter-Regular', sans-serif;
  color: #8E9AA3;
  white-space: pre-wrap;
  cursor: pointer;
  width: 75%;
}

.comment {
  color: #000;
}
.add-link {
  text-align: center;
  cursor: pointer;
  padding: 3px 5px;
  text-decoration: underline;
  margin-top: 15px;
}
.wrap-block {
  position: relative;
}


.input {
  font-size: 12px;
  color: #8e9aa3;
  border: 1px solid #8e9aa3;
  width: 75%;
  padding-bottom: 5px;
  position: relative;
  margin: auto;
  margin-top: 15px;

  textarea {
    width: 85%;
    font-family: 'Inter-Regular', sans-serif;
  }

  .submit {
    color: #0CCF14;
    position: absolute;
    font-size: 16px;
    right: 30px;
    top: -1px;
  }

  .close {
    color: #EE5B51;
    margin-right: 5px;
    font-size: 22px;
    position: absolute;
    right: 0;
    top: -7px;
  }
}
@media all and (max-width: 767px) {

  .date {
    width: 65%;
  }
}


@media all and (max-width: 400px) {

}
