.walletNav {
  padding: 0;
  margin-bottom: 0px;
  margin-top: 25px;
  font-family: 'Manrope-Bold', sans-serif;
}

.blured {
  filter: blur(7px);
  pointer-events: none;
  will-change: filter;
  // transition: filter ease 0.1s;
}

.walletNavItem {
  display: inline-block;
  margin-right: 40px;
}

.walletNavItem.active {
  a {
    border-bottom: 3px solid #6144e5;
    color: #1f2d48 !important;
  }
}

.walletNavItemLink {
  cursor: pointer;
  font-size: 15px;
  line-height: 140%;
  padding-bottom: 10px;
  color: #8e9aa3 !important;
}