.walletNav {
  padding: 0;
  margin-bottom: 0px;
  margin-top: 25px;
  @include ff-regular;
}

.walletNavItem {
  display: inline-block;
  margin-right: 40px;
}

.walletNavItem.active {
  a {
    border-bottom: 3px solid #6144e5;
    color: #1f2d48 !important;
  }
}

.walletNavItemLink {
  cursor: pointer;
  font-size: 15px;
  line-height: 140%;
  padding-bottom: 10px;
  color: #8e9aa3 !important;
}

@include media-tablet-portrait-and-lower {
  .walletNav {
    white-space: nowrap;
  }

  .walletNavItem {
    margin-right: 13px;
  }
}
