<!DOCTYPE html>
<html lang="en" <%= htmlWebpackPlugin.options.firebugMark %>>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:image"
      content="https://screenshots.wpmix.net/chrome_2019-03-28_18-55-506746c4c5-44e6-4bb5-89cb-52ce8fabcedf.png"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900%7CRoboto%20Mono&#038;display=swap&#038;subset=latin%2Ccyrillic"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css"
      integrity="sha256-DBYdrj7BxKM3slMeqBVWX2otx7x4eqoHRJCsSDJ0Nxw="
      crossorigin="anonymous"
    />

    <meta name="google" content="notranslate" />
    <meta property="og:url" content="https://swaponline.io" />
    <!-- ERC20 Tokens hot plug for widget-build (Dont remove this) -->
    <script src="erc20tokens.js"></script>
    <%= htmlWebpackPlugin.options.firebugScript %>
    <script>
      var isWidgetBuild = '<%= htmlWebpackPlugin.options.isWidget %>';
    </script>

    <style>
      .d-none {
        display: none;
      }

      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
      }

      .darkTheme {
        background-color: #222427;
        color: #fff;
      }

      .loader {
        text-align: center;
      }

      .loader img {
        width: 80px;
      }

      .tips {
        margin-top: 25px;
        font-size: 16px;
        text-align: center;
        padding: 0 5px;
      }

      .usersInform {
        text-align: center;
        position: relative;
        top: 100px;
      }

      .show-on-fail-ls {
        text-align: center;
        margin-top: 2em;
      }

      .show-on-fail-ls .btc-open-in-new-tab {
        margin-top: 2em;
      }

      .show-on-fail-ls .btc-open-in-new-tab > A {
        color: #fff;
        text-decoration: none;
      }

      .show-on-fail-ls SPAN {
        display: block;
      }

      @media (max-width: 767px) {
        #swiper_banners {
          margin: 0 25px;
        }
      }
    </style>
  </head>

  <body>
    <div id="root">
      <!-- Loader before any JS -->
      <div id="wrapper_element" class="overlay">
        <div class="center">
          <div id="loader" class="loader">
            <img id="loaderImg" />
          </div>
          <div id="beforeJSTip" class="tips">Loading...</div>
        </div>

        <!-- Shown for new users -->
        <div id="preloader" class="d-none">
          <h2>Simple interface to access blockchains</h2>

          <div>
            <div>
              <img id="preloaderImage1">
              <p id="preloaderTitle1"></p>
            </div>

            <div>
              <img id="preloaderImage2">
              <p id="preloaderTitle2"></p>
            </div>
          </div>
        </div>

        <div class="mb-4 show-on-fail-ls d-none" id="onFailLocalStorageMessage">
          <span>
            Not every function works In this window, please open new tab. If
            the error will repeat please contact admin
            <br />
            <a href="https://t.me/sashanoxon"> https://t.me/sashanoxon </a>
          </span>
          <button class="btn btn-primary btc-open-in-new-tab">
            <a
              href="https://wallet.wpmix.net"
              id="onFailLocalStorageLink"
              target="_blank"
            >
              Open App in new tab
            </a>
          </button>
        </div>
        <div id="usersInform" class="usersInform"></div>
      </div>

      <script>
        let localStorageIsOk = true;
        try {
          const testLocalStorage = window.localStorage;
        } catch (e) {
          localStorageIsOk = false;
          document.getElementById('onFailLocalStorageLink').href = window.location.href;
          document.getElementById('onFailLocalStorageMessage').classList.remove('d-none');

          const sendErrorFeedback = function () {
            let msg = 'localStorage error: agent(' + navigator.userAgent + ')';
            msg += ', location(' + window.location.href + ')';

            let url = 'https://noxon.wpmix.net/counter.php?msg=' + encodeURI(msg);

            window.jQuery.ajax({
              type: 'POST',
              url: url,
            });
          };

          if (!window.jQuery) {
            // inject jQuery for send request to counter for feedback
            let jsScriptTag = document.createElement('SCRIPT');
            jsScriptTag.src = 'https://code.jquery.com/jquery-3.5.1.min.js';
            console.log('jsScriptTag', jsScriptTag);
            document.getElementsByTagName('BODY')[0].appendChild(jsScriptTag);
            let waitJQLoad = function (onLoaded) {
              if (window.jQuery) {
                onLoaded();
              } else {
                window.setTimeout(function () {
                  waitJQLoad(onLoaded);
                }, 100);
              }
            };
            waitJQLoad(sendErrorFeedback);
          } else {
            sendErrorFeedback();
          }
        }

        function setCookie(name, value, options = {}) {
          let expires = options.expires;

          if (typeof expires == 'number' && expires) {
            let date = new Date();
            date.setTime(date.getTime() + expires * 1000);
            expires = options.expires = date;
          }
          if (expires && expires.toUTCString) {
            options.expires = expires.toUTCString();
          }

          value = encodeURIComponent(value);
          let updatedCookie = name + '=' + value;

          for (let propName in options) {
            updatedCookie += '; ' + propName;
            const propValue = options[propName];

            if (propValue !== true) {
              updatedCookie += '=' + propValue;
            }
          }
          document.cookie = updatedCookie;
        }

        function getCookie(cookieName) {
          const name = cookieName + '=';
          const parametersArr = document.cookie.split(';');

          for (let i = 0; i < parametersArr.length; i++) {
            let parameter = parametersArr[i];
            while (parameter.charAt(0) == ' ') {
              parameter = parameter.substring(1);
            }
            if (parameter.indexOf(name) == 0) {
              return parameter.substring(name.length, parameter.length);
            }
          }
          return '';
        }

        const wrapper = document.getElementById('wrapper_element');

        if (window.localStorage.getItem('isDark')) {
          wrapper.classList.add('darkTheme');
        } else {
          wrapper.classList.remove('darkTheme');
        }

        // detect browser's lang
        const getNavigatorLanguage = () => {
          if (navigator.languages && navigator.languages.length) {
            return navigator.languages[0];
          } else {
            return (
              navigator.userLanguage ||
              navigator.language ||
              navigator.browserLanguage ||
              'en'
            );
          }
        };

        let lang = getCookie('mylang');

        if (!lang) {
          const browserLang = getNavigatorLanguage();
          lang = browserLang.includes('ru') ? 'ru' : 'en'
          setCookie('mylang', lang);
        }

        const locale = lang.toLowerCase();
        const locationName = lang.toUpperCase();

        (function () {
          // set tip
          const tips = {
            beforeBackup: [
              {
                en: 'Loading...',
                ru: 'Загрузка...',
              },
            ],
            afterBackup: [
              {
                en: 'Keep your recovery phrase in&nbsp;a&nbsp;safe place',
                ru: 'Держите вашу фразу восстановления в&nbsp;безопасном месте',
              },
              {
                en: "Don't forget where your recovery phrase is&nbsp;saved",
                ru: 'Не забудьте, где&nbsp;хранится ваша фраза восстановления',
              },
            ],
          };
          // Determine if the passphrase is saved
          if (locale === 'en' || locale === 'ru') {
            const mnemonic = window.localStorage.getItem('testnet:twentywords') || window.localStorage.getItem('mainnet:twentywords');
            const isBackup = mnemonic === `-`;
            const relevantTips = tips[!isBackup ? 'beforeBackup' : 'afterBackup'];
            const currentTip = relevantTips[Math.floor(Math.random() * relevantTips.length)][locale];
            const tipNode = document.getElementById('beforeJSTip');
            tipNode.innerHTML = currentTip;
          } else {
            console.error('Unknown locale', locale);
          }
        })();

        const information = document.getElementById('usersInform');

        if ((locationName === 'ru' || (locale === 'ru' && locationName !== 'en')) && localStorage.length === 0) {
          information.innerText = 'Генерация приватных ключей для вашего мультивалютного кошелька прямо сейчас, \n это может занять одну минуту'
        }

        if (localStorage.length === 0) {
          information.innerText =
            locationName !== 'ru' || locale !== 'ru'
              ? 'Please wait while the application is loading,\n it may take one minute...'
              : 'Пожалуйста подождите пока приложение запускается,\n это не займет больше минуты...';
        }
      </script>
      <script>
        window.prerenderReady = false;
        window.isUserRegisteredAndLoggedIn = false;
        window.DEFAULT_FIAT = 'USD';
        window.DefaultCountryCode = '+1';
        window.widgetName = 'own widget name';
        window.buyViaCreditCardLink = 'https://buy.itez.com/swaponline';

        window.logoUrl = '#';
        window.darkLogoUrl = '';
        window.preloaderVisitorImage1 = '';
        window.preloaderVisitorTitle1 = '';
        window.preloaderVisitorImage2 = '';
        window.preloaderVisitorTitle2 = '';
        window.preloaderUserText = ''; // TODO: message about private phrase

        if (!getCookie('swapDisalbeStarter')) {
          document.getElementById("preloader").classList.remove('d-none');
          document.getElementById("preloaderImage1").src = window.preloaderVisitorImage1;
          document.getElementById("preloaderTitle1").innerText = window.preloaderVisitorTitle1;
          document.getElementById("preloaderImage2").src = window.preloaderVisitorImage2;
          document.getElementById("preloaderTitle2").src = window.preloaderVisitorTitle2;
        }

        if (window.localStorage.getItem('isDark')) {
          window.logoUrl = window.darkLogoUrl || window.logoUrl;
        }

        if (
          window.location.hostname === "localhost" ||
          window.location.hostname === "swaponline.github.io" ||
          window.location.hostname === "swaponline.io"
        ) {
          // used by Loader component
          window.loaderUserImage = 'https://wiki.swaponline.io/assets/swaponline_io.svg';
          document.getElementById("loaderImg").src = window.loaderUserImage;
        } else {
          if (window.logoUrl !== '#') {
            document.getElementById("loaderImg").src = window.localStorage.getItem("isDark")
              ? window.darkLogoUrl
              : window.logoUrl;
          } else {
            document.getElementById("loaderImg").style.display = 'none'
          }
        }
      </script>
      <!-- /Loader before any JS -->

      <!-- It's used by 'WalletSlider' component -->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"
      integrity="sha256-4sETKhh3aSyi6NRiA+qunPaTawqSMDQca/xLWu27Hg4=" crossorigin="anonymous"></script>
    </div>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="https://unpkg.com/react@16.10.2/umd/react.production.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/react-dom@16.10.2/umd/react-dom.production.min.js"></script>
    
    <div id="portal"></div>

    <!-- Google Analytics -->
    <script>
      const isMainDomain = window.location.hostname === 'swaponline.io';
      const isExtension =
        window.location.hostname === 'jbhhiineefefhcaoocmnkbmgfjbhninc';

      if (isMainDomain || isExtension) {
        const gtagScript = document.createElement('script');
        var gtagId;

        if (isMainDomain) {
          gtagId = 'UA-116857031-2';
        }

        if (isExtension) {
          gtagId = 'GTM-PJH52QL';
        }

        gtagScript.async = true;
        gtagScript.src =
          'https://www.googletagmanager.com/gtag/js?id=' + gtagId;

        document.head.appendChild(gtagScript);

        window.dataLayer = window.dataLayer || [];

        window.gtag = function () {
          window.dataLayer.push(arguments);
        };

        gtag('js', new Date());
        gtag('config', gtagId);
      }
    </script>
    <!-- /Google Analytics -->
  </body>
</html>
