.user-cont {
    float: right;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 88px;
    position: relative;
}

.user-cont__help {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.user-cont__add-user {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #e91db4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-indent: -9999px;
    margin-right: 10px;
}

.users__user {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
}

.users__user-letter {
    font-size: 16px;
    text-transform: uppercase;
    color: #7c1de9;
    font-weight: 500;
}

.users__user-status {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #e91db4;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}