.turboSwap {
  max-width: 600px;
  margin: 0 auto;
  font-size: 12px;
}


.blockchain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background: linear-gradient(#8880, #8882, #8880);
  padding: 2em 0em;
  overflow: hidden;
}

.blockchain + .blockchain {
  border-top: 2px dashed #8884;
}