.turboSwap {
  max-width: 500px;
  margin: 0 auto;
  font-size: 12px;
}

.pageTitle {
  text-align: center;
  margin: 0.1em 0;
}

.swapStatus {
  text-align: center;
  font-size: 16px;
  font-weight: bold;

  &.Pending {
    color: #f6b153;
  }
  &.Finished {
    color: #54C147;
  }
}

.blockchain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background: linear-gradient(#8880, #8882, #8880);
  padding: 2.5em 0em;
  overflow: hidden;
}

.blockchain + .blockchain {
  border-top: 2px dashed #8884;
}