.table__coins {
    font-size: 0;
}

.table__coin-left {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.table__name,
.table__balance,
.table__key {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}


.table__key {
    border-bottom: 1px solid #ebebeb;
}