.rowAmount {
  color: $l-color;
}

.rowDark {
  .rowAmount {
    color: $d-color;
  }
}

.mobileRowRemove,
.mobileRowStart {

  .firstType,
  .secondType {
    color: $indicating-color;
    display: block;
  }
  .tdContainer-1 {
    position: relative;
  }
  .tdContainer-2 {
    position: relative;
  }
  .tdContainer-3 {
    position: relative;
  }
  .startButton {
    width: auto;
    height: auto;
    padding: 0.8em 1em;
    margin-left: 0.4em;
  }
  .bigContainer {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.buttonsColumn {
  text-align: center !important;
}

@media screen and (max-width: 400px) {
  .mobileRowRemove,
  .mobileRowStart {
    .bigContainer {
      font-size: 12px;
    }
  }
}