.rowAmount {
  color: $l-color;
  font-family: 'Roboto Mono', monospace;
}

.rowDark {
  .rowAmount {
    color: $d-color;
  }
}

.rowCell:nth-of-type(1) {
  width: 10%;
}
.rowCell:nth-of-type(2) {
  width: 25%;
}
.rowCell:nth-of-type(3) {
  width: 25%;
}
.rowCell:nth-of-type(4) {
  width: 25%;
}

.mobileRowRemove,
.mobileRowStart {
  .firstType,
  .secondType {
    color: $indicating-color;
    display: block;
  }
  .tdContainer-1,
  .tdContainer-2,
  .tdContainer-3 {
    position: relative;
  }
  .startButton {
    width: auto;
    height: auto;
    padding: 0.8em 1em;
    margin-left: 0.4em;
  }
  .bigContainer {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 400px) {
  .mobileRowRemove,
  .mobileRowStart {
    .bigContainer {
      font-size: 12px;
    }
  }
}