.optionrow {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
  white-space: nowrap;
  em {
    display: block;
    height: 36px;
    float: left;
    margin-left: -46px;

    img {
      display: inline-block;
      width: 36px;
      vertical-align: middle;
    }
  }

  span {
    display: block;
  }
  
  .smalltext {
    font-size: 12px;
  }
}
