.groupField {
  width: 100%;
  display: inline-flex;
  height: 60px;
  margin-bottom: 10px;
  vertical-align: center;
  box-shadow: rgba(#000, 0.08) 0 3px 9px 0;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.textUsd {
  top: 22px;
  right: 150px;
  font-size: 15px;
  color: #828795;
  position: absolute;
}

@include media-mobile {
  .currencySelect {
    width: 130px;
  }
}

.inputRoot {
  min-width: 0;
  flex: auto 1 1;
}

.inputContainer {
  border-radius: 6px 0 0 6px !important;
  box-shadow: none !important;
}

input:disabled {
  background-color:#eee;
}

.currencySelect {
  border-radius: 0 6px 6px 0 !important;
}

@include media-widget {
  .currencySelect {
    width: 160px;
  }
}