.logo {
  display: block;
  width: 32px;
  height: 30px;
  

  img {
    display: block;
    will-change: filter;
    transition: filter 0.1s ease;
  }
}

.whiteFill {
  img {
    filter: brightness(0) invert(1);
  }
}

.otherLogoBrand {
  outline: none;
}

.customLogo {
  display: block;
  height: 100%;
  object-fit: contain;
  max-width: 160px;
  max-height: 70px;
}