.removeButton {
  width: 25px;
  height: 25px;
  background:$alternate url('./images/delete.svg') 50% 50% no-repeat;
  background-size: 12px;
  cursor: pointer;
  @include inline-block;
  opacity: 0.5;
  border-radius: 50%;
  line-height: 36px;
  border: none;
  text-align: center;

  &:hover {
    opacity: 1;
  }
}

.icon {
  height: 16px;
}
