.userTooltip {
  width: 100%;
  height: 88px;
  border-radius: 8px;
  background: #fff;
  padding: 0 25px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  margin-bottom: 5px;
}

.currency {
  font-size: 14px;
  font-weight: 700;
  min-width: 120px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin {
  color: #b4b4b4;
}

.buttons {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  display: inline-block;
  width: 5px;
}

.arrow img {
  display: block;
  width: 100%;
  height: auto;
}

.checked {
  width: 40px;
  height: 40px;
  background: #f2f9f2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #f2f9f2 url('./images/accept.svg') 50% 50% no-repeat;
  }
}

.withdrawButton {
  @include inline-block;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px;

  &:hover {
    color: #7c1de9;
    background: #dfc5ff;
  }
}

.icon {
  width: 12px;
  height: 8px;
  border: solid 2px #3bb33b;
}


