.overlay {
    background-color: rgba(255, 255, 255, 0.87);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  @-webkit-keyframes loader1 {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(25%, -50%, 0) rotateY(-77deg);
      transform: translate3d(25%, -50%, 0) rotateY(-77deg);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
      transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
      transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
    }
  }
  @keyframes loader1 {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(25%, -50%, 0) rotateY(-77deg);
      transform: translate3d(25%, -50%, 0) rotateY(-77deg);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
      transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
      transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
    }
  }
  @-webkit-keyframes loader2 {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(20%, -50%, 0) rotateY(-107deg);
      transform: translate3d(20%, -50%, 0) rotateY(-107deg);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
      transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
      transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
    }
  }
  @keyframes loader2 {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(20%, -50%, 0) rotateY(-107deg);
      transform: translate3d(20%, -50%, 0) rotateY(-107deg);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
      transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
      transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
    }
  }
  @-webkit-keyframes loader3 {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(50%, -50%, 0);
      transform: translate3d(50%, -50%, 0);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  }
  @keyframes loader3 {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(50%, -50%, 0);
      transform: translate3d(50%, -50%, 0);
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  }
  .loader {
    width: 100px;
    height: 100px;
    -webkit-perspective: 60px;
    perspective: 60px;
    -webkit-perspective-origin: 7% 57%;
    perspective-origin: 7% 57%;
  }
  .loader.small {
    width: 50px;
    height: 50px;
    -webkit-perspective: 30px;
    perspective: 30px;
  }
  .loader.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .loader1, .loader2, .loader3 {
    position: absolute;
    opacity: 0;
  }
  .loader1:first-child, .loader2:first-child, .loader3:first-child {
    margin-left: 0;
  }
  .loader1 {
    width: 28%;
    height: 80%;
    background: -webkit-gradient(linear, left top, left bottom, from(#6829df), to(#5124d5));
    background: -webkit-linear-gradient(#6829df, #5124d5);
    background: -o-linear-gradient(#6829df, #5124d5);
    background: linear-gradient(#6829df, #5124d5);
    left: 0;
    top: 50%;
    -webkit-transform: translate3d(25%, -50%, 0) rotateY(-77deg);
    transform: translate3d(25%, -50%, 0) rotateY(-77deg);
    -webkit-animation: loader1 1.6s infinite;
    animation: loader1 1.6s infinite;
  }
  .loader2 {
    width: 20%;
    height: 63%;
    background: -webkit-gradient(linear, left top, left bottom, from(#702be1), to(#623ad9));
    background: -webkit-linear-gradient(#702be1, #623ad9);
    background: -o-linear-gradient(#702be1, #623ad9);
    background: linear-gradient(#702be1, #623ad9);
    left: 48%;
    top: 50%;
    -webkit-transform: translate3d(20%, -50%, 0) rotateY(-107deg);
    transform: translate3d(20%, -50%, 0) rotateY(-107deg);
    -webkit-animation: loader2 1.6s infinite;
    animation: loader2 1.6s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .loader3 {
    width: 28%;
    height: 33%;
    right: 0;
    top: 47%;
    overflow: hidden;
    -webkit-transform: translate3d(50%, -50%, 0);
    transform: translate3d(50%, -50%, 0);
    -webkit-animation: loader3 1.6s infinite;
    animation: loader3 1.6s infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .loader3::after {
    content: '';
    display: block;
    width: 100%;
    height: 140%;
    background: -webkit-linear-gradient(295deg, #802cf6, #5023d5);
    background: -o-linear-gradient(295deg, #802cf6, #5023d5);
    background: linear-gradient(155deg, #802cf6, #5023d5);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-37%, -37%, 0) rotate(40deg);
    transform: translate3d(-37%, -37%, 0) rotate(40deg);
  }