@mixin ff-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin ff-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin ff {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin ff-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin ff-semibold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin ff-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

@mixin ff-mono {
  font-family: 'Roboto Mono', monospace;
}
