.currencyBalanceValue {
	font-weight: bold;
}


@include media-tablet-landscape-and-lower {
	.closeButton {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		opacity: 0.7;
    		transform: scale(0.7) translate(10px, -3px);
		div {
			overflow: visible;
		}
	}
}

@media all and (max-width: 570px) {
	.currencyTitle,
	.currencyToggle {
		display: none;
	}
	.currencyBalance {
		margin-bottom: 20px;
	}
	.currencyMediaSection {
		margin-top: 85px;
	}
	.currencyMobileSection {
		margin-bottom: -70px;
	}
}


@media all and (min-width: 570px) and (max-width:1024px) {
  .currencyMobileSection {
  	margin-top: -70px;
  }
}
