.container {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  transition: margin-top 0.1s linear 0.4s, margin-bottom 0.1s linear 0.4s;
  margin-top: 0;

  &.mounted {
    margin-top: 10px;
  }

  &.removed {
    overflow: hidden;
    transition: margin-top 0.1s linear 0s, margin-bottom 0.1s linear 0s;
    margin-top: 0;
  }
}

.notification {
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  position: relative;
  margin-top: -100%;
  opacity: 0;
  font-size: 14px;
  color: #000;
  border-radius: 6px;
  box-shadow: rgba(#000, 0.4) 0 2px 10px;

  &.mounted {
    margin-top: 0 !important;
    opacity: 1 !important;
    transition: all 0.4s linear;
  }

  &.removed {
    margin-top: -100% !important;
    opacity: 0.5 !important;
  }
}

.content {
  padding: 15px 25px;
  font-size: 18px;
}
