.thanks {
  font-size: 24px;
  text-align: center;
}
.title {
  font-size: 24px;
  margin-bottom: 64px;
}
.button {
  height: auto;
  padding: 24px;
  margin-bottom: 32px;
}
.button-info {
  font-size: 14px;
  text-align: center;
}
