.availableCurrencies {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.currencyList {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}
.currencyListItem {
  img {
    width: 40px;
  }
  &:first-child {
    img {
      width: 30px;
    }
  }
}
.currencyListWrap {
  position: relative;
  width: 335px;
}

.fireItem {
  position: absolute;
  width: 30px;
  justify-content: center;
  align-items: center;
  height: 30px;
  display: flex;
  border-radius: 50%;
  right: -20px;
  top: -20px;
  z-index: 111;
  background: #fff;
}

.currencyAdd {
  position: absolute;
  width: 56px;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  display: flex;
  font-weight: 100;
  justify-content: center;
  font-size: 35px;
  position: absolute;
  right: -50px;
  top: -2px;
}

@include media-mobile {
  .availableCurrencies {
    font-size: 15px;
  }
  .currencyListWrap {
    width: 100%;
  }
  .currencyList {
    width: 215px;
  }
  .currencyListItem {
    img {
      width: 30px;
    }
    &:first-child {
      img {
        width: 25px;
      }
    }
  }
  .currencyAdd {
    right: -10px;
    top: -10px;
  }
}
