###################################################################
# Instance
# (Number)
SERVER_ID=123

# (Number)
ACCOUNT=123

###################################################################
# Wallet: generate from 12 words secret phrase (Default empty)
# If empty - use auto generated private keys
SECRET_PHRASE=

###################################################################
# Trading settings

# Maximum number of parallel swaps - if the limit is reached, the bot hides orders
# 0 = no limits
MAX_PARALLEL_SWAPS=3

# SPREAD
SPREAD=0.05

# Minimum amont in USD, when we wait one confirm
# If empty - no minimum amount - use confidens (fee) and RBF (Replace by fee) check
MIN_AMOUNT_FORCONFIRM=

###################################################################
# Blockchain network, (mainnet|testnet) (Default testnet)
# ETH testnet is rinkeby
NETWORK=mainnet

# Web3 providers
WEB3_TESTNET_PROVIDER=https://mainnet.infura.io/v3/5ffc47f65c4042ce847ef66a3fa70d4c
WEB3_MAINNET_PROVIDER=https://mainnet.infura.io/v3/5ffc47f65c4042ce847ef66a3fa70d4c

###################################################################
# Web admin panel
# Ip for admin panel
IP=127.0.0.1

# User name for access admin panel (Default UserName)
API_USER=UserName

# Password for access admin panel (Default UserPassword)
API_PASS=UserPassword

###################################################################
# Notifications: Telegram id
# 1. contact @get_id_bot to get your id
# 2. say "hello" to this bot @swaponlinebot
TELEGRAM_CHATID=

###################################################################
# Database logs - Enable log to postgre database (true|false) (Default false)
LOG_TO_DB=false

# Host (Default localhost)
LOG_TO_DB_HOST=

# Port (Default 5432)
LOG_TO_DB_PORT=

# DB name (Default SwapDB)
LOG_TO_DB_BASE=

# User name for access db (Default postgre)
LOG_TO_DB_USER=

# Password (Default empty)
LOG_TO_DB_PASS=

###################################################################
# Other

KRAKEN_API_KEY=
KRAKEN_API_SECRET=
