.coins {
  justify-content: left;
}

.reloadButton {
  margin-right: 10px;
}

.copied {
  font-size: 14px;
  position: absolute;
  padding: 5px 15px;
  background: #f8f3fe;
  top: -16px;
  left: calc(10%);
  border-radius: 20px;
}

.button {
  @include inline-block;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px;
  margin-right: 10px;

  &:hover {
    color: #7c1de9;
    background: #dfc5ff;
  }
}