.ordersHeading {
  margin-top: 0;
}

.offersNotice {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $notice-color;

  .loader {
    margin: 0.2em 0;
  }
}

.orderBookTable {
  margin: 0 auto;
  width: 100%;

  thead {
    display: none; // hide default table headers
  }
}

.subtitle {
  color: #8E9AA3;
  font-size: 15px;
  margin-top: -5px;
}

.showAllSwitch {
  display: flex;
  align-items: center;
}

@media (max-width: 340px) {
  .offersNotice {
    font-size: 0.9em;
  }
}
