.customDestination {
  position: relative;
  &_error .walletToggle {
    border: 2px solid #a90101;
  }
  .dropDown{
    box-shadow: none;
    border: none;
    & > div:nth-child(1) {
      border: none;
      height: auto;
    }
    & > div {
      padding-left: 0px;
      background: #FFF;
      border: 1px solid #000;
      border-radius: 0px;
      & > span {
        display: block;
        font-size: 12pt;
        font-weight: bold;
        width: 100%;
        text-align: left;
      }
    }
  }
  &_error {
    .dropDown > div > span {
      color: #a90101;
    }
  }
  .readonlyValue {
    input {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 3px;
      min-height: 68px;
      margin-bottom: 30px;
      padding: 1px 20px;
      font-size: 24px;
      vertical-align: middle;
      line-height: 68px;
      color: #080808;
      &:focus {
        border: 2px solid #6144e5 !important;
        padding: 1px 19px;
        outline: none;
        line-height: 66px;
      }
    }
  }
}



.customWallet {
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 68px;
  margin-bottom: 30px;
  padding: 0 20px;
  &_site {
    position: relative;
  }
  &_focus {
    border: 2px solid #6144e5 !important;
  }
  .qrCode {
    position: absolute;
    right: -34px;
    top: 8px;
    background: #FFF;
    border: 6px solid #FFF;
    display: block;
  }
  &_focus .qrCode {
    right: -35px;
    top: 7px;
  }
}



.button {
  margin-top: 0;
  width: 100%;
  border-radius: 3px;
  height: 36px;
  font-size: 16px;
  flex-basis: 100%;
  margin-bottom: 10px;
  box-shadow: none;
}

.walletInput {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 68px;
}


.walletInput input {
  border: none;
  margin: 0;
  height: 40px;
  padding: 0;
  font-size: 16px;
  margin-top: 2px;
  &:focus {
    border: none;
    padding: 0;
    margin: -1px -1px;
    margin-top: 1px;
  }
}

.anotherRecepient {
  position: relative;
}

.label {
  width: 200px;
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
}


@include media-mobile {
  .label {
    width: 170px;
    font-weight: 500;
    line-height: 19px;
    font-size: 13px;
  }
  .customDestination {
    .dropDown{
      & > div {
        & > span {
          display: block;
          font-size: 10pt;
          font-weight: bold;
        }
      }
    }
    .readonlyValue {
      input {
        padding-left: 10px;
        &:focus {
          padding-left: 9px;
        }
      }
      
    }
  }
}