.wallet {
  @include ff-bold;
}

.faqWrapper {
  background: var(--color-background-elements);
  box-shadow: var(--box-shadow);
  border-radius: var(--main-component-border-radius);
  height: fit-content;
  padding: 25px;
  margin-top: 23px;
  @include ff-bold;
}

.hasCusomLogo {
  margin: 30px 0;

  ul {
    margin-top: 0
  }
}

.walletBalance {
  margin-top: 20px;
  width: 31%;
}

.yourAssetsWrapper,
.activity {
  display: none;
}

.yourAssetsWrapper.active,
.activity.active {
  display: block;
}

.walletContent {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.yourAssetsWrapper {
  width: 66%;
}

.activity {
  width: 66%;
}

.desktopEnabledViewForFaq {
  display: block;
}

.mobileEnabledViewForFaq {
  display: none;
}

@media all and (max-width: 992px) {
  .mobileEnabledViewForFaq {
    display: block;
  }

  .desktopEnabledViewForFaq {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .walletContent {
    flex-direction: column;
  }

  .yourAssetsWrapper {
    width: 100%;
  }

  .walletBalance {
    width: 100%;
  }

  .activity {
    width: 100%;
  }

  .walletBalance.active {
    display: block;

    .yourBalance {
      display: block;
    }
  }
}

@media all and (max-width: 767px) {
  .walletBalance {
    margin-top: 0;
  }

  .walletContent {
    flex-direction: column;
    margin: 0px -20px;
  }

  .yourAssetsWrapper {
    width: 100%;
  }

  .activity {
    box-shadow: none;
    width: 100%;
    margin: 20px 0;
  }

  .activity {
    padding: 25px;
  }

  .walletBalance {
    width: 100%;
  }
}

@media all and (max-width: $media-mobile-end) {
  .mobileEnabledViewForFaq {
    display: block;
  }

  .desktopEnabledViewForFaq {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .faqWrapper {
    box-shadow: none;
    background: var(--color-background);
    margin-top: 0;
  }
}