
.statusFinished {
  color: var(--color-good);
}

.statusRefunded {
  color: var(--color-good);
}

.statusStopped {
  text-align: right;
  color: var(--color-f-error);

  .refundStatus {
    max-width: 10em;
    font-size: 0.88em;
    color: var(--color-indicating);
  }
}
