.myOrdersTable {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;

  th,
  td {
    text-align: right;
    padding: 0.2em 0.3em;
    line-height: 1.1em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

  }

  th {
    padding-bottom: 0.5em;
  }

}