
.buttonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  button {
    width: 40%;
    padding: 0 8px;
    line-height: 36px;
  }
}

.finishImg {
  display: block;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.buttonFinish {
  min-width: 50%;
}
