.coins {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.coin {
  width: 75px;
  height: 75px;
  background-color: #47454a;
  border: 1px solid #fff;
  position: relative;
  border-radius: 50%;

  img {
    width: 50%;
    display: block;
    position: absolute;
    @include absolute-centring;
  }

  &:first-child {
    transform: translateX(5px);
    z-index: 1;
  }

  &:last-child {
    transform: translateX(-5px);
    z-index: 2;
  }
}
