.coin {
  position: relative;
  z-index: 1;
}

.amount {
  position: absolute;
  text-align: right;
  right: 60px;
  font-size: 13px;

  .usd {
    color: $notice-color;
  }

  @media screen and (max-width: 480px) {
    font-size: 11px;

    .usd {
      font-size: 10px;
    }
  }

  @include media-mobile {
    right: 50px;
  }
}

.customSelectArrow {
  position: absolute;
  right: 25px;
  &:before {
    content: '';
    width: 9px;
    height: 9px;
    display: block;
    border-top: 2px solid #828795;
    border-right: 2px solid #828795;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

.customSelectArrow.active {
  &:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.customSelectValue {
  border: 1px solid #ccc;
  height: 68px;
  background: $l-background-elements;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.dark {
    border-color:#222323;
    background: #2b2b2b;

    .amount {
      .currency,
      .usd {
        color: $d-color;
        background: #2b2b2b;
      }
    }
  }
  
  div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    a {
      font-size: 13px;
      color: $primary;
      &:hover {
        color: $primary;
      }

      @media screen and (max-width: 480px) {
        font-size: 11px;
      }
    }
    .address {
      color: $notice-color;
      font-size: 12px;
      @include media-mobile {
        display: none;
      }
    }
    .mobileAddress {
      color: $notice-color;
      font-size: 12px;
      > div {
        margin: 0;
      }
    }
  }
}

.customSelectList {
  margin-top: 10px;
  position: absolute;
  z-index: 1111111;
  width: 100%;
  max-height: 300px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 0px;
  box-shadow: $l-box-shadow;

  .amount {
    right: 10px;
  }

  &.darkList {
    box-shadow: $d-box-shadow;
    background:#2b2b2b;

    .customSelectValue {
      border-color:#222323;
      background: #2b2b2b;
      .amount {
        .currency {
          color: white;
          background: none;
        }

        .usd {
          background: none;
        }
      }
    }

    .customSelectListItem {
      &:hover {
        background: #424242;
      }
    }

    .customSelectListItem.disabled {
      background: rgba(36, 36, 37, 0.8);

      &:before {
        background: rgba(36, 36, 37, 0.8);
      }
    }
  }
}


.customSelectListItem {
  margin-top: -1px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.1s;

  &:hover {
    background: #f3f3f3;
  }

  &.disabled {
    position: relative;
    pointer-events: none;

    &:before {
      position: absolute;
      content: '';
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 100%;
      z-index: 1111;
    }
  }

  @media screen and (max-width: 480px) {
    padding-left: 0;
  }
}

@media all and (max-width: 480px) {
  .customSelectValue {
    cursor: pointer;
    div {
      .mobileAddress {
        font-size: 10px;
      }
    }
  }
}