.currencySelect {
  border-radius: 0 6px 6px 0 !important;
}

.choice {
  margin-bottom: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;

  &:last-child {
    width: 40%;
    justify-content: flex-end;
  }
}

.text {
  margin-bottom: 0px;
  margin-right: 25px;
}