.currencySelect {
  border-radius: 0 6px 6px 0 !important;
}

.choice {
  height: 100px;
  width: 600px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;

}

.text {
  margin-bottom: 0px;
  margin-right: 25px;
}