.toolTipBody {
    background-color: #fff;
    min-width: 290px;
    max-width: 420px;
    position: relative;
    border-radius: 5px;
}

.TooltipTitle {
    color: #f04;
    padding: 20px;
    margin: 0;
}

.TooltipContent {
    color: #000;
    padding: 20px;
}

.TooltipFooter {
    background-color: #302272;
    color: white;
        display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 5px;
    border-radius: 0 0 5px 5px;
  * + * {
    margin-left: 0.5rem;
  }

    button {
        padding: 0.8rem;
    }
}

@media all and (max-width: 480px) {
  .toolTipBody {
    min-width: 220px;
  }
}