.dropDown {
  @include inline-block;
  background: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(#000, 0.08) 0 3px 9px 0;

  &.active {
    width: 100%;
    border: 1px solid #000;
    z-index: 11111111;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    height: max-content;
    border-radius: 2px !important;

    .arrow {
      display: none;
    }

    .closeBtn {
      display: block;
      color: #000;
      position: absolute;
      right: 0;
      top: 20px;
      right: 14px;
    }

    .searchInput {
      width: 100%;

      input {
        &:focus {
          border-bottom: 1px solid #000;
        }
      }
    }

    .selectedItem {
      padding: 0 20px;
      height: 335px;
    }
  }

}

.dark {
  background: #2b2b2b;
  color: white;

  &.active {
    background: #2b2b2b;
  }

  .option,
  .select {
    background: #2b2b2b;
  }

  .option {
    border-top: 1px solid #545151;

    &:hover {
      background-color: #3f3f3f;
    }

    span {
      color: white;
    }
  }

  .selectedItem {
    background: #2b2b2b;
  }
}

.simpleDropdown {
  border-radius: 0 6px 6px 0 !important;
  position: absolute;
  top: 5px;
  right: 0px;
  box-shadow: none;
  background: transparent;

  &.active {
    top: 80px;
    border: none;
    height: 165px;
    width: 170px;
  }

  .selectedItem {
    @include ff-bold;
  }

  .fullTitle {
    display: none;
  }

  .select {
    overflow: hidden;
  }
}

.smallTooltip,
.dropDownLabel {
  color: #000;
}

.closeBtn,
.activeLabel,
.dropDownLabel {
  display: none;
}

.smallTooltip {
  >span {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;

    span {
      font-size: 10px;
    }
  }
}

.listName {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
  opacity: 0.4;
  position: relative;
  text-align: left;
  display: block;
  margin-left: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fullTitle {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  margin-right: 9px;
  margin-top: 0px;
}

.range {
  position: absolute;
  font-size: 18px;
  right: 15px;
  font-weight: 500;
}

.rangeUp {
  color: #53ae94;
}

.rangeDown {
  color: $color-f-error;
}

.currencyLogo {
  width: 20px;
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
}

.shortTitle {
  font-size: 18px;
  font-weight: 500;
}

.searchInput {
  width: 75px;

  &>div {
    box-shadow: none;
  }

  & input {
    border-radius: 0;

    &:focus {
      border: none;
    }
  }
}

.selectedItem {
  height: 57px;
  line-height: 60px;
  padding-right: 40px;
  padding-left: 16px;
  min-width: 135px;
  background: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-align: right;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 500;
  border-color: grey;
  @include no-user-select;

  &.left {
    padding-left: 40px;
    padding-right: 16px;
    text-align: left;
  }

  &_disableIteract {
    cursor: default;
    padding-right: 22px;
  }

  img {
    display: none;
  }
}

.arrow {
  @include arrow('down', 9px, 2px, #828795);
  margin-top: -6px;
  position: absolute;
  top: 50%;
  right: 19px;

  &.left {
    right: 0;
    left: 19px;
  }
}

.disabled {
  opacity: 0.2;
  filter: grayscale;
}

.selectedItemInner {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &.reducedLength {
    > * {
      display: block;
      width: 37%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.select {
  min-width: 100%;
  max-height: 245px;
  background-color: #fff;
  // margin-top: 4px;
  position: absolute;
  right: -1;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #8888;
  box-shadow: rgba(#000, 0.15) 0 3px 9px 0;
}

.dontscroll {
  max-height: auto;
  overflow-y: hidden;
}

.option {
  height: 56px;
  line-height: 56px;
  border-top: 1px solid #ddd;
  background: #fff;
  padding: 0 16px;
  cursor: pointer;
  text-align: left;
  position: relative;
  padding-left: 60px;

  &:first-child {
    border-top: 0;
  }

  &:hover {
    background-color: #f7f7f7;
  }
}

.invoiceCurrencySelect {
  .dropDown {
    display: none;
  }
}

@include media-mobile {
  .selectedItem {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .range {
    font-size: 15px;
    margin-top: 1px;
  }

  .shortTitle {
    font-size: 0.85em;
    margin-top: 1px;
  }

  .fullTitle {
    font-size: 14px;
  }

  .dontscroll {
    max-height: auto;
    overflow-y: hidden;
    left: calc(50% - 50vw + 1em);
    width: calc(100vw - 40px);
  }
}
