.righttop {
  background-color:var(--light);
  color: var(--danger);
  position: fixed;
  bottom: 100;
  right: 0;
  padding: 20px 15px 10px 15px;
  z-index: 5;
  border-radius: 4px;
   & .error-notification-heading {
    font-size: 16px;
  }
   & .error-notification-text {
    font-size: 14px;
  }
   p {
    margin-bottom: 20px;
  }
}
.middle {
  background-color:var(--light);
  color: var(--danger);
  position: fixed;
  bottom: 100;
  right: 0;
  padding: 20px 15px 10px 15px;
  z-index: 5;
  border-radius: 4px;
   & .error-notification-heading {
    font-size: 24px;
  }
   & .error-notification-text {
    font-size: 16px;
  }
}
