.mm-promo-page {

  section {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em 0;
  }

  section + section {
    border-top: 1px solid #{$color-brand}55;
  }

  .section-title {
    margin: 0 auto 1em;
    max-width: 572px;
    font-style: normal;
    line-height: 1em;
    font-size: 30px;
    text-align: center;
    @include ff-regular;
  }

  p {
    margin-bottom: 0.5em;
  }

  .how-to-earn {
    padding-top: 0;
  }

  .select-mode {

    .modes {
      display: flex;
      flex-wrap: wrap;

      .mode {
        flex: 40%;
        margin: 1em;
      }

      @media (max-width: 820px) {
        display: block;

        .mode + .mode {
          margin-left: 0;
        }
      }
    }

    .mode {
      margin-bottom: 1.8em;
      //border: 1px solid $color-brand;
      box-shadow: rgba(0,0,0, 0.2) 0 4px 24px;
      border-radius: 10px;
      padding: 1.5em 1em;

      .mode-title {
        color: #{$color-brand};
        font-weight: 500;
      }
      .number {
        font-weight: bold;
      }
      .mode-button {
        margin: 1em auto 0;
        min-width: 100px;
        display: block;
      }
    }
  }

}