.how-to-earn {
  opacity: 1;
}

.select-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mode {
    opacity: 1;
  }
}

.faq {
  opacity: 1;
}

.marketmaker-settings {
  opacity: 1;
}