.userTooltip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delete {
  color: var(--color-f-error);
  cursor: pointer;
}

.currency {
  font-size: 14px;
  font-weight: 700;
  min-width: 150px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.coin {
  text-transform: uppercase;
}

.buy {
  color: var(--color-good);
}

.sell {
  color: var(--color-f-error);
}

.buttons {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.arrow {
  display: inline-block;
  width: 5px;
  margin: 5px;
}

.arrow img {
  display: block;
  width: 100%;
  height: auto;
}

.statusFinished {
  color: var(--color-success);
}

.statusRefunded {
  color: var(--color-good);
}

.statusStopped {
  color: var(--color-f-error);

  .refundStatus {
    max-width: 10em;
    font-size: 0.88em;
    color: var(--color-indicating);
  }
}
