.trade-panel__group {
  height: 58px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: left;
  align-items: center;
}

.trade-panel__group_row {
  max-width: 340px;
}

.trade-panel__input {
  height: 58px;
  width: 60%;
  background: #fff;
  border: 0;
  border-right: 1px solid #f2f2f2;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.trade-panel__input_row {
  width: 180px;
}

.trade-panel__label {
  width: 40%;
  height: 58px;
  display: block;
  margin: 0;
  padding: 0;
}

.trade-panel__select {
  height: 58px;
  min-width: 100%;
  background: none;
  outline: none;
}

.trade-panel__select {
  border: 0;
  padding: 0;
  text-align: right;
}

.trade-panel__select:focus {
  outline: none
}

.trade-panel__btn {
  background: none;
  position: relative;
  width: 100%;
  padding: 0 40px 0 18px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.trade-panel__btn:after {
  position: absolute;
  right: 15px;
  top: 24px;
}

.trade-panel__btn:focus,
.trade-panel__btn.focus {
  box-shadow: none;
}

.trade-panel__icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 15px;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -12px;
}

.icon-btc {
  background-image: url("./images/coin-1.svg");
}

.icon-eth {
  background-image: url("./images/coin-2.svg");
}

.trade-panel__search-field {
  border: 0;
  height: 58px;
  width: 100%;
  background: none;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

  option {
    text-align: right;
  }
}

.trade-panel__input:active,
.trade-panel__input:focus {
  outline: 0;
}


.trade-panel__title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.question {
  font-size: 9px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #e5e5e5;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
}
