.status {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;

  &.in {
    .arrowWrap {
      svg {
        transform: rotate(180deg);

        path {
          stroke: #0CCF14;
        }
      }
    }

    .amount {
      color: #0CCF14;
    }
  }

  &.out {
    font-weight: bold;

    .amount {
      color: #EE5B51;
    }

    svg {
      path {
        stroke: #EE5B51;
      }
    }
  }

  &.self {
    font-weight: bold;
  }
}

.commentTextarea {
  overflow: hidden !important;
  resize: none;
}

.arrowWrap {
  width: 36px;
  height: 36px;
  background: rgba(142, 154, 163, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;

  svg {
    fill: transparent;
  }
}

.cell {
  border-radius: 20px;
  padding: 0px 25px;
  width: 145px;
  line-height: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
}

.confirm,
.unconfirmed {
  text-align: center;
  height: auto;
  background: rgba(97, 68, 229, 0.1);
  font-weight: 800;
  font-size: 8px;
  line-height: 10px;
  color: $primary;
  width: auto;
  text-transform: uppercase;
  padding: 3px 10px;
  border-radius: 2px;
  margin-left: 10px;
  position: relative;
  top: -2px;

  a {
    font-size: inherit;
  }
}

.confirm.red {
  color: #f51f1f;
  background: rgba(229, 68, 68, 0.1);
}

.confirm.green {
  color: #EE5B51;
  background: rgba(238, 91, 81, 0.1);
  padding: 3px 7px;
}


.unconfirmed {
  color: #8E9AA3;
  background: rgba(142, 154, 163, 0.1);
}

.date {
  font-size: 12px;
  font-weight: bold;
  @include ff;
  color: #8E9AA3;
  white-space: pre-wrap;
  cursor: pointer;
  width: 75%;

  @media all and (max-width: 480px) {
    font-size: 0.65em;
  }
}

.address {
  margin-top: 5px;
  font-size: 14px;
}

.amount {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  right: 15px;
  top: 15px;
  position: absolute;
}

.amountUsd {
  font-weight: 600;
  font-size: 12px;
  color: #8E9AA3;
  line-height: 15px;
  position: absolute;
  right: 15px;
  top: 45px;
}

.historyInfo {
  margin-left: 50px;
  margin-top: -37px;

  a {
    color: #212529;

    @media all and (max-width: 480px) {
      font-size: 0.85em;
    }
  }
}

.info {
  span {
    position: absolute;
    font-size: 12px;
    @include ff-regular;
    bottom: 20px;
    left: 24px;
    color: #8E9AA3;
  }
}

.info.noButtons {
  span {
    position: static;
  }
}

.comment {
  color: #000;
}

.btnWrapper {
  border-top: 1px solid #eee;
  text-align: right;
  height: 40px;
  line-height: 48px;
  margin-top: 15px;
  @include ff-bold;

  button:first-child {
    color: $primary;
  }

  button:last-child {
    color: #1F2D48;
    margin-left: 10px;
  }
}

.confirmWrapper {
  border-top: 1px solid #eee;
  height: 40px;
  line-height: 48px;
  margin-top: 15px;
  @include ff-bold;
  text-align: center;

  >span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #1F2D48;
  }

  button {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 15px;
    color: $primary;
  }
}

.icon {
  border-style: none;
  width: 14px;
  margin-left: 10px;
}

.wrapButtonShare {
  display: inline-block;
}

tr.historyRow {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  min-height: 64px;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(142, 154, 163, 0.16) !important;
  box-shadow: 0px 2px 12px rgba(142, 154, 163, 0.08);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 15px;
}

tr.dark {
  background: $d-background-elements;
  box-shadow: $d-box-shadow;

  @media screen and (max-width: 480px) {
    box-shadow: none;
    background: #222528;
  }

  .historyInfo {
    a {
      color: white;
    }
  }
}

.smallTooltip span {
  margin-top: -4px;

  span {
    font-size: 10px;
  }
}

.input {
  font-size: 12px;
  color: #8e9aa3;
  border-bottom: 1px solid #8e9aa3;
  width: 75%;
  padding-bottom: 5px;
  position: relative;

  textarea {
    width: 85%;
    @include ff;
  }

  .submit {
    color: #0CCF14;
    position: absolute;
    font-size: 16px;
    right: 22px;
    top: -1px;
  }

  .close {
    color: #EE5B51;
    margin-right: 5px;
    font-size: 22px;
    position: absolute;
    right: -6px;
    top: -7px;
  }
}

.historyInvoiceInfo {
  outline: 1px solid red;

  div {
    display: block;
    font-size: 10pt;
  }
}

@media all and (max-width: 570px) {
  tr.historyRow {
    height: max-content;
    align-items: flex-start;
  }
}


@media all and (max-width: 767px) {
  .info {
    span {
      display: none;
    }
  }

  .date {
    width: 65%;
  }

  .amountUsd {
    right: 15px;
    top: 39px;

    @media all and (max-width: 480px) {
      font-size: 0.6em;
    }
  }

  .amount {
    right: 15px;
    top: 17px;

    @media all and (max-width: 480px) {
      font-size: 0.8em;
    }
  }

  .historyInfo {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
  }

  .circleIcon {
    display: none;
  }
}


@media all and (max-width: 400px) {
  .historyInfo {
    min-height: 60px;
  }

  .confirm,
  .unconfirmed {
    top: 47px;
    position: absolute;
    right: 0;
  }
}