.table {
  width: 100%;
  border-collapse: collapse;
  border: 0;

  thead {
    box-shadow: rgba(#000 ,0.03) 0 3px 3px 0;
  }

  tbody {

    tr {
      border-top: 1px solid #f5f5f5;

      &:first-child {
        border-top: 0;
      }
    }
  }

  th, td {
    border: 0;
    text-align: left;
    white-space: nowrap;

    &:first-child {
      padding-left: 0;
      display: flex;
      align-items: center;
    }

    &:last-child {
      padding-right: 0;
    }

    div {
      button {
        i {
          display: none;
        }
      }
    }
  }

  th {
    padding: 10px;
    font-size: 14px;
    color: #bbb;
  }

  td {
    padding: 15px 10px;
  }
}

.color {
  color: #626262;
}

@include media-tablet-landscape-and-lower {
  table {
    display: block;
    overflow-x: scroll;
  }

  // Wallet
  .wallet {
    & td {
      // &:first-child {
      //   position: absolute;
      //   z-index: 2;
      //   background: $color-f-brightest;
      // }

      // &:nth-child(2) {
      //   position: absolute;
      //   z-index: 2;
      //   left: 90px;
      //   background: $color-f-brightest;
      //   height: 80px;
      //   padding-top: 28px;
      //   max-width: 146px;
      //   min-width: 100px;
      // }

      // &:nth-child(3) {
      //   min-width: 80px;
      //   display: flex;
      //   margin-left: 150px;
      //   height: 80px;
      //   align-items: center;
      // }
      padding: 15px 10px;
    }

    & th {
      // &:first-child {
      //   position: absolute;
      //   display: flex;
      //   background: $color-f-brightest;
      //   align-items: center;
      //   height: 40px;
      //   width: 50px;
      // }

      // &:nth-child(2) {
      //   position: absolute;
      //   display: flex;
      //   background: $color-f-brightest;
      //   align-items: center;
      //   height: 40px;
      //   width: 100px;
      //   left: 90px;
      // }

      // &:nth-child(3) {
      //   margin-left: 150px;
      //   display: flex;
      // }
      padding: 15px 10px;
    }

    & tr:first-child td:first-child {
      // padding-top: 15px;
      // height: 75px;
      // margin-top: 5px;
    }

    & tr:first-child td:nth-child(2) {
      // padding-top: 23px;
      // height: 75px;
      // margin-top: 5px;
    }
  }

  // Exchange and Swap history
  .exchange, .historySwap {
    th {
      &:first-child {
        position: absolute;
        display: flex;
        background: #fff;
        align-items: center;
        height: 40px;
        width: 90px;
      }

      &:nth-child(2) {
        display: block;
        margin-left: 90px;
      }
    }

    td {
      height: 80px;

      &:first-child {
        position: absolute;
        z-index: 2;
        background: $color-f-brightest;
      }

      &:nth-child(2) {
        display: flex;
        align-items: center;
        margin-left: 90px;
      }
    }

    & tr:first-child td:first-child {
      height: 77px;
      margin-top: 3px;
      display: flex;
      align-items: center;
    }

    & tr:nth-child(2) td:first-child {
      height: 80px;
      display: flex;
      align-items: center;
    }
  }

  // History
  .history {
    & th {
      &:first-child {
        position: absolute;
        display: flex;
        background: $color-f-brightest;
        align-items: center;
        height: 40px;
        width: 50px;
      }

      &:nth-child(2) {
        display: block;
        margin-left: 40px;
      }
    }

    & td {
      &:first-child {
        position: absolute;
        z-index: 2;
        background: #fff;
        display: flex;
        align-items: center;
      }

      &:nth-child(2) {
        display: block;
        margin-left: 40px;
      }
    }

    td:first-child {
      height: 109px;
    }

    & tr:first-child td:first-child {
      height: 104px;
      margin-top: 5px;
    }
  }
}



@include media-mobile {
  table {
    overflow-x: auto;
  }

  table.wallet {

    td {
      div {

        button {

          width: 40px;
          padding: 1px 7px 2px 7px;
          margin: 0 1px;

          i {
            display: block;
          }

          span {
            display: none;
          }

        }

      }

    }

    td:nth-child(2) {
      width: 100%;
    }
  }
}

.table-fixed {
  thead {
    th {
      position: sticky;
      top: 0;
      background: #fff;
      z-index: 10000;
      width: 100%;
    }
  }
}