.confirm__coins {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.confirm__left-coin {
    width: 75px;
    height: 75px;
    transform: translateX(5px);
}

.confirm__left-coin img,
.confirm__right-coin img {
    width: 100%;
    height: auto;
}

.confirm__right-coin {
    width: 75px;
    height: 75px;
    transform: translateX(-5px);
}