.wallet {
  margin: 30px 0;
  font-family: 'Manrope-Bold', sans-serif;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  position: absolute;
  right: 0;
  top: 25px;
  right: 25px;
}

.btc {
  background: orange;
}

.eth {
  background: black;
}

.usdt {
  background: #0ccf14;
}

.swap {
  background: #775cf1;
}

.yourBalanceImg {
  filter: brightness(0);
  position: absolute;
  opacity: 0.1;
  width: 33px;
  bottom: 13px;
  right: 43px;
}

.walletHeading,
.inputTitle {
  font-weight: 800;
  font-size: 40px;
  display: inline-block;
  margin-top: 40px;
  line-height: 120%;
  color: #1f2d48;
  margin-bottom: 30px;
  // cursor: url("./images/pen.svg"), move;
  //background: url('./images/pen.svg') 50% 50% no-repeat;
}

.sweepInfo {
  background: 0% 0% / cover rgb(97, 68, 229);
  color: #fff;
  padding: 1em;

  button {
    float: right;
    border: 3px solid #fff;
    color: #6144e5;
    background: #fff;
  }
}

.walletTable {
  width: 100%;

  td:first-child {
    padding-left: 0;
  }
}

.walletNav {
  padding: 0;
  margin-bottom: 0px;
  margin-top: 25px;
}

.walletNavItem {
  display: inline-block;
  margin-right: 40px;
}

.walletNavItem.active {
  a {
    border-bottom: 3px solid #6144e5;
    color: #1f2d48 !important;
  }
}

.walletNavItemLink {
  cursor: pointer;
  font-size: 15px;
  line-height: 140%;
  padding-bottom: 10px;
  color: #8e9aa3 !important;
}

.walletBalance {
  margin-top: 40px;
  width: 31%;
}

.yourAssetsWrapper,
.activity {
  display: none;
}

.yourAssetsWrapper.active,
.activity.active {
  display: block;
}

.walletContent {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.yourAssetsWrapper {
  width: 66%;
}

.yourAssets {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 25px;
  margin-top: 40px;
}

.activity {
  width: 66%;
}

.yourAssetsHeading,
.activityHeading {
  color: #1f2d48;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  margin-bottom: 10px;
}

.yourAssetsDescr {
  color: #8e9aa3;
  font-size: 13px;
  font-family: 'Manrope-Medium', sans-serif;
  line-height: 150%;
}

.yourAssetsTable {
  margin-top: 27px;
}

.yourBalance {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  height: fit-content;
  font-family: 'Manrope-Bold', sans-serif;
}

.yourBalanceTop {
  padding: 25px;
  position: relative;
}

.yourBalanceDescr {
  color: #8e9aa3;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: 25px;
  right: 25px;
}

.exchangeForm {
  margin-top: 15px;
}

.yourBalanceValue {
  display: flex;
  height: 44px;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;

  img {
    margin-top: -5px;
    width: 10px;
    margin-right: 7px;
  }

  p {
    font-size: 32px;
    line-height: 44px;
    color: #1f2d48;
    font-weight: bold;
    margin: 0;
  }

  span {
    font-size: 18px;
    line-height: 25px;
    color: #6144e5;
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    margin-left: 10px;
  }

  span.green {
    color: #0ccf14;
  }

  span.red {
    color: #ee5b51;
  }
}

.yourBalanceBottom {
  position: relative;
  padding: 25px;
  display: flex;
  justify-content: space-between;

  button {
    width: 48%;
    cursor: pointer;
    z-index: 1;
  }

  button.button__invoice {
    width: auto !important;
    margin: 0 auto;
  }

  &:before {
    position: absolute;
    width: 100%;
    height: 95px;
    left: 0;
    bottom: 0;
    opacity: 0.1;
    content: '';
    background: linear-gradient(180deg, #6144e5 0%, rgba(97, 68, 229, 0) 100%);
  }

  height: 95px;
}

.yourBalanceCurrencies {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 15px;
  top: 25px;
  justify-content: space-between;
  display: flex;

  span {
    width: 1px;
    height: 16px;
    background: rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 1px;
  }

  button {
    padding: 0;
    cursor: pointer;
    font-family: 'Inter-Bold', sans-serif;
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 13px;
    color: rgba(142, 154, 163, 0.5);
  }

  button.active {
    color: #1f2d48;
    filter: brightness(0);
  }
}

.widgetBuild {
  .yourBalanceBottom {
    button {
      width: 30%;
    }
  }
}

.keysExportImport {
  display: block;
  width: 66%;
  margin-left: auto;
  text-align: center;
  white-space: nowrap;

  button {
    width: 210px;
    cursor: pointer;
    z-index: 1;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    display: inline;
    margin: 10px 10px 0px;
  }
}

@media all and (min-width: 993px) {
  .walletTable {
    display: inline-table;
  }
}

@media all and (min-width: 767px) {
  .widgetBuild {
    .yourBalanceBottom {
      flex-wrap: wrap;
      height: auto;

      &:before {
        height: 156px;
      }

      button {
        width: 48%;
      }

      button[id='exchangeBtn'] {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .walletContent {
    flex-direction: column;
  }

  .yourAssetsWrapper {
    width: 100%;
  }

  .walletBalance {
    width: 100%;
  }

  .keysExportImport {
    width: 53%;

    button {
      width: 45%;
      margin: 10px 5px 0px;
    }
  }

  .activity {
    width: 100%;
  }

  .walletTable {
    display: inline-table;

    td:first-child {
      padding-left: 0px;
    }
  }

  .walletBalance.active {
    display: block;

    .yourBalance {
      display: block;
    }
  }
}

@media all and (max-width: 767px) {
  .walletBalance {
    margin-top: 0;
  }

  .walletNav {
    display: none;
  }

  .walletContent {
    flex-direction: column;
    margin: 0px -20px;
  }

  .yourAssetsWrapper {
    width: 100%;
  }

  .yourBalance,
  .yourAssets,
  .activity {
    box-shadow: none;
    width: 100%;
    margin-top: 20px;
  }

  .activity {
    padding: 25px;
  }

  .keysExportImport {
    width: 95%;
    margin: 0 auto;

    button {
      width: 45%;
      margin: 0 5px;
    }
  }

  .walletTable {
    display: inline-table;

    td:first-child {
      padding-left: 25px;
      left: auto;
    }
  }

  .yourBalanceBottom {
    &:before {
      display: none;
    }
  }

  .yourAssets {
    padding: 0;

    button {
      width: calc(100% - 65px);
      margin: auto;
    }
  }

  .yourBalance,
  .yourBalanceCurrencies {
    background: rgb(253, 253, 253);
  }

  .yourAssetsHeading,
  .yourAssetsDescr {
    padding: 0 25px;
  }

  .walletBalance {
    width: 100%;
  }

  .yourBalance {
    display: none;
  }

  .walletBalance.active {
    .yourBalance {
      display: block;
    }
  }

  .activityHeading {
    margin-top: -60px;
  }
}