.swap {
  padding-top: 20px;
}

.dark {
  code{
    color: white;
  }
}

.swapMobile {
  padding-top: 0;
}

.swapContainer {
  color: #000;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding-bottom: 35px;
}

@media all and (max-width: 570px) {
  .swapContainer {
    display: block;
  }
}

.swapDepositWindow {
  color: #000;
}

.unfinishedHref {
  color: $color-f-error;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.reloadText {
  text-align: center;
  color: #acacac;
  cursor: pointer;
}

.swapContainerInfo {
  position: relative;
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-around;
  margin-top: 2em;
}

.linkText {
  text-align: left;
  margin-bottom: -3px;
  display: inline-block;
  font-weight: bold;
}

.canceled {
  color: #e32950;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 78px;
  position: relative;
  cursor: pointer;
}

.refHex {
  text-align: center;
}

.included {
  margin-left: 5%;
  top: -4px;
  position: relative;
}

.swapInfo {
  max-width: 600px;
  margin-bottom: 1em;
  text-align: center;
  font-size: 18px;
}
.swapInfoMobile {
  text-align: left;
}

.swapGoNumber {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: -35px;
}

.swapWrapper {
  position: relative;
  margin-top: 70px;
}

.bitcoinScript {
  color: #a9a9a9;
  cursor: pointer;
  text-decoration: underline;
}

.onlineIndicator {
  position: absolute;
  font-size: 15px;
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

.online {
  color: #3de25b;
}
.offline {
  color: $color-f-error;
}

@include media-mobile {
  .loaderHolder {
    display: inline-block;
    margin-left: 5px;
    margin-top: 2px;
  }
  .included {
    margin-left: 0;
    font-size: 11px;
  }
}

.topUpLink {
  border: 1px solid #cecece;
  font-size: 18px;
  margin-top: 0px;
  position: relative;
  padding: 30px 25px;
  padding-left: 35px;
  border-radius: 20px;
  display: inline-block;
  text-align: left;
  padding-bottom: 75px;
  background: white;
  max-width: 600px;
}

@include media-mobile {
  .bitcoinScript {
    right: 40px;
  }
  .topUpLink {
    display: block;
    width: 100%;
    font-size: 12px;
  }
}

.top {
  width: 100%;
}

@include media-mobile {
  .top {
    display: flex;
    width: 100%;
    height: 70px;
  }
  .onlineIndicator {
    position: relative;
    font-size: 15px;
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }
}

.qrImg {
  position: relative;
  width: 100%;
}

.message {
  max-width: 100%;
}

.btcMessage {
  margin-top: 0.5em;
  max-width: 100%;
  font-size: 21px;
  display: block;
  margin-right: 5px;
  z-index: 1;
  position: relative;
}

.qr span {
  font-size: 9px;
  height: 3em;
}

.qr i {
  position: relative;
  top: 9px;
}

.linkTransactions {
  display: inline-block;
  margin-left: 5px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #007bff;
    }
  }
}

.btcMessage span > div {
  display: inline-block;
}

@include media-mobile {
  .btcMessage {
    font-size: 11.2px;
    width: 60%;
  }
}

.sendMessage {
  font-size: 22px;
}

.infoWrapper {
  position: relative;
}

.logHide {
  display: none;
}

.lockTime {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  i {
    position: absolute;
    top: 4px;
    left: -25px;
  }
}

@include media-mobile {
  .lockTime {
    left: 50%;
    transform: translateX(-50%);
    i {
      left: -20px;
    }
  }
}

.copyText {
  position: absolute;
  left: 0px;
  bottom: -40px;
  color: #000;
}
.swapText {
  color: #000;
  display: block;
  margin-top: 10px;
  width: 185px;
  text-align: center;
}

.qr {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1em;
  img {
    width: 265px;
  }
  button {
    width: 100%;
    margin: 0 1em;
    height: 56px;
    display: flex;
    width: 56px;
    justify-content: center;
    background: #eee;
    color: #000;
    align-items: center;
    flex-direction: column;
    &:hover {
      background: #eee;
    }
  }
}

@include media-mobile {
  .qr {
    a {
      font-size: 9px;
      height: 30px;
      width: 100%;
      display: block;
      padding: 10px;
      position: static;
    }
    button {
      display: none;
    }
  }
}

.cardsContainer {
  display: flex;
  width: 185px;
  margin-top: -35px;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  margin-bottom: -20px;
  display: none;
  img {
    width: 72px;
  }
}

.pressCtrlText {
  display: none;
}

.pressCtrlTextActive {
  display: block;
  margin-bottom: 20px;
  margin-top: -5px;
}

.linkAddress,
.buyWithCard {
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  align-items: center;
  height: 56px;
  display: flex;
  color: #fff;
  display: flex;
  background: #fff;
  padding: 10px 15px;
  box-shadow: 1px 1px 6px #929292;
  color: #000;
  &:hover {
    color: #000;
    background: #eee;
  }
}

.linkAddress {
  cursor: pointer;
  font-size: 17px;
}

.fa-copy-in {
  background: #000;
  color: #fff;
}

.buyWithCard {
  background: #eee;
  display: -webkit-inline-box;
  border-radius: 6px;
  text-decoration: dashed;
  color: #000;
  height: 56px;
  display: flex;
  width: fit-content;
  justify-content: normal;
  align-items: center;
  font-size: 17px;
  margin-top: 0;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  padding: 0;
  width: 182px;
  justify-content: space-around;
  text-transform: uppercase;
  margin-top: 10px;
  background: #dbdbdb;
  color: #626262;
  &:hover {
    background: #dbdbdb;
    color: #626262;
  }
}
.comingSoon {
  display: block;
  position: absolute;
  bottom: 13px;
  font-size: 16px;
  text-transform: initial;
}
.yourBalance {
  color: #000;
}
.fromClient,
.unconfBalance {
  color: #000;
}
.unconfBalance {
  margin-bottom: 20px;
}

.gohome-holder {
  text-align: center;
}

.button {
  margin-top: 20px;
  font-size: 14px;
}

.pseudolink {
  text-decoration: underline;
}

@media screen and (max-width: 690px) {
  .topUpLink {
    width: 100%;
    .top {
      width: 100%;
    }
  }
  .swapContainerInfo {
    width: 100%;
  }
  .swapDepositWindow {
    width: 100%;
  }
  .linkAddress {
    font-size: 14px;
  }

}

@include media-tablet {
  .swapDepositWindow {
    order: 2;
  }
  .swapContainerInfo {
    order: 3;
  }
  .swapInfo {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    border-radius: 6px;
    background: #cecece3b;
    color: #000;
    padding: 7px 20px;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    order: 1;
  }
  .swapContainer {
    flex-direction: column;
    align-items: baseline;
  }
}

@include media-mobile {
  .swapInfo {
    order: 1;
  }
  .swapDepositWindow {
    order: 2;
  }
  .swapContainerInfo {
    order: 3;
  }
  .transaction {
    font-size: 8.5px;
    a {
      font-size: 8.5px;
    }
  }
  .linkTransactions {
    display: block;
    margin-left: 0px;
    a {
      font-size: 11px;
    }
  }
  .swapDepositWindow {
    width: 100%;
  }
  .topUpLink {
    padding: 15px 20px;
    padding-bottom: 70px;
  }
  .swapInfo {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    border-radius: 6px;
    background: #cecece3b;
    color: #000;
    padding: 7px 20px;
    width: 100%;
  }
  .linkText {
    font-size: 11px;
    margin-top: 20px;
  }
  .qrImg {
    position: absolute;
    right: 10px;
    top: 0px;
    width: 200px;
  }

  .qrImg > div {
    height:unset;
  }

  .qr {
    justify-content: end;
    width: max-content;
    margin: 1em 0;
  }
  .swap {
    display: block;
    width: 100%;
    font-size: 11px;
  }
  .swapMobile {
    margin-top: 0;
  }
}

.information {
  position: relative;
  flex-basis: 100%;
}

h3 {
  font-size: 20px;
}

.swapInfoOpen {
  padding-bottom: 700px;
}

.icon {
  margin-right: 1%;
  cursor: pointer;
}

