.swap {
  padding-left: 30px;
  padding-top: 60px;
  min-height: calc(100vh - 75px);
  width: 600px;
  margin: -2% 20% 0;
}
@include media-mobile {
  .swap {
    display: block;
    width: 100%;
    font-size: 11px;
  }
}

.swapContainer {
  color: #000;
}

.swapStep-4 {
  color: #000;
}

.swapGoNumber {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: -35px;
}

.swapWrapper {
  position: relative;
  margin-top: 70px;
}

.loaderHolder {
  display: inline-block;
}

@include media-mobile {
  .loaderHolder {
    display: inline-block;
  }
}

.topUpLink {
  border: 1px solid #cecece;
  font-size: 18px;
  margin-top: 40px;
  position: relative;
  padding: 25px 25px;
  padding-left: 45px;
  border-radius: 20px;
  display: inline-block;
  text-align: left;
  padding-bottom: 75px;
  background: white;
  &:hover {
    color: #ff1fc5;
  }
}

.top {
  width: 575px;
  display: flex;
  justify-content: stretch;
}

@include media-mobile {
  .topUpLink {
    display: block;
    width: 100%;
    font-size: 12px;
  }
}

.top {
  width: 575px;
  display: flex;
  justify-content: stretch;
}

@include media-mobile {
  .top {
    display: block;
    width: 100%;
    justify-content: stretch;
  }
}

.qrImg {
  position: relative;
  padding: 0;
}

@include media-mobile {
  .qrImg {
    img {
      width: 50%;
      margin: -10% 0 0% 50%;
    }
  }
}
.message{
  max-width: 100%;
}

.btcMessage {
  margin-top: 0.5em;
  max-width: 100%;
  font-size: 29px;
  display: block;
}

@include media-mobile {
  .btcMessage {
    display: block;
    width: 70%;
    font-size: 14px;
    margin: 0.5em 0 -5em -2em;
  }
}

.sendMessage{
  font-size: 22px;
}

.infoWrapper {
  position: relative;
}

.logHide {
  display: none;
}

.lockTime {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: max-content;
  transform: translateX(-50%);
  i {
    position: absolute;
    top: 4px;
    left: -25px;
  }
  // div {
  //   span {
  //     span {
  //       display: none;
  //     }
  //   }
  // }
}

@include media-mobile {
  .lockTime {
    margin: 15px;
  }
}

.copyText {
  position: absolute;
  left: 0px;
  bottom: -40px;
  color: #000;
}
.swapText {
  color: #000;
  display: block;
  margin-top: 10px;
  width: 185px;
  text-align: center;
}

.qr {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  img {
    width: 265px;
  }
  button {
    width: 100%;
    margin: auto;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #eee;
    color: #000;
    margin-top: 13px;
    margin-left: 15px;
    &:hover {
      background: #eee
    }
  }
}

@include media-mobile {
  .qr {
    a {
      font-size: 11px;
      height: 30px;
      margin: 0 -2% 0 -2em;
      width: 120%;
    }
    button {
      display: none;
    }
  }
}

.cardsContainer {
    display: flex;
    width: 185px;
    margin-top: -35px;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    margin-bottom: -20px;
    display: none;
  img {
    width: 72px;
  }
}

.pressCtrlText {
  display: none;
}

.pressCtrlTextActive {
  display: block;
  margin-bottom: 20px;
  margin-top: -5px;
}

.linkAddress,
.buyWithCard {
  text-decoration: none;
  border-radius: 6px;
  font-size: 21px;
  align-items: center;
  height: 56px;
  display: flex;
  margin-top: 13px;
  color: #fff;
  display: flex;
  background: #fff;
  padding: 10px 15px;
  box-shadow: 1px 1px 6px #929292;
  color: #000;
  &:hover {
    color: #000;
    background: #eee;
  }
}

.linkAddress {
  cursor: pointer;
  width: 84%;
}

.fa-copy-in {
  background: #000;
  color: #fff;
}

.buyWithCard {
  background: #eee;
  display: -webkit-inline-box;
  border-radius: 6px;
  text-decoration: dashed;
  color: #000;
  height: 56px;
  display: flex;
  width: fit-content;
  justify-content: normal;
  align-items: center;
  font-size: 17px;
  margin-top: 0;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  padding: 0;
  width: 182px;
  justify-content: space-around;
  text-transform: uppercase;
  margin-top: 10px;
  background: #dbdbdb;
  color: #626262;
  &:hover {
    background: #dbdbdb;
    color: #626262;
  }
}
.comingSoon {
  display: block;
  position: absolute;
  bottom: 13px;
  font-size: 16px;
  text-transform: initial;
}
.yourBalance {
  color: #000;
}
.fromClient,
.unconfBalance {
  color: #000;
}
.unconfBalance {
  margin-bottom: 20px;
}

.gohome-holder {
  text-align: center;
}
.button {
  margin-top: 20px;
  font-size: 14px;
}

@include media-mobile {
  .transaction{
      font-size: 8.5px;
    a {
      font-size: 8.5px;
    }
  }
}


h3 {
  font-size: 20px;
}

