.text {
    font-size: 20px;
    width: 284px;
    text-align: center;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 16px;
    font-weight: 800;
    line-height: 140%;
    color: #8E9AA3;
    font-family: 'Inter-Bold';
}

.currenciesWrapper {
    display: flex;
    width: max-content;
    justify-content: center;
    margin: auto;
}

.header {
    padding: 16px 0;
    padding: 0px 0 25px;
    border-bottom: 1px solid #f5f5f5;
  }
  
  .headerContent {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .title {
    color: #1F2D48;
    font-family: 'Inter-Bold';
    text-align: center;
    font-size: 21px;
    line-height: 22px;
    &.uppercase {
      text-transform: uppercase;
    }
  }

  .card {
    background: #FFFFFF;
    border: 1px solid rgba(142, 154, 163, 0.16);
    box-sizing: border-box;
    box-shadow: 0px 2px 12px rgba(142, 154, 163, 0.08);
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 10px;
    height: 53px;
    list-style: none;
    display: grid;
    height: 140px;
    cursor: pointer;
    width: 110px;
    margin-right: 15px;
    transition: 0.2s background ease;
    text-align: center;
    em {
      position: absolute;
      text-align: right;
      padding-left: auto;
      width: 120px;
      font-size: 10px;
      color: #9b58b6;
    }
  
    b {
        font-weight: 800;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #1F2D48;
        margin-top: 5px;
        margin-bottom: -1px;
        font-family: 'Inter-Bold';
    }

    span {
        font-family: Inter;
        font-style: normal;
        font-weight: 800;
        font-size: 11px;
        line-height: 140%;
        text-align: center;
        color: #8E9AA3;
        margin-top: -15px;
        font-family: 'Inter-Bold';
    }
  
    li {
      font-weight: 100;
      color: #8E9AA3;
      font-size: 11px;
      font-family: Inter;
      line-height: 20px;
      text-align: center;
    }
    &:hover {
        background: rgba(237, 239, 240, 0.40);
    }
    &:last-child {
        margin: 0;
    }
  }
 
  .btc {
    background: orange;
  }

  .eth {
    background: black;
  }
  
  .usdt {
    background: #0ccf14;
  }
  
  .swap {
    background: #775cf1;
  }

  .bch {
    background: #4ac745;
  }

  .sber {
    background: black;
  }

  .circle {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
    align-items: center;
    img {
      width: auto;
      height: 20px;
    }
  }

  .closeButton {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transition: opacity .33s $ease-out-quadratic;
    position: absolute;
    right: 33px;
    top: 32px;
    &:hover {
      opacity: 1;
      transition: none;
    }
  }
  
  .modal-overlay {
    position: sticky;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    opacity: 1;
  }
  
  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 32px;
    width: 100%;
    min-width: 550px;
    max-width: max-content;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  }
  
  .button {
    width: 45%;
    max-width: 240px;
  }
  
  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  .notification-overlay {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 32px 0;
  }
  
  .notification {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  
  .button-overlay {
    display: flex;
    justify-content: space-around;
  }
  
  @include media-mobile {
    .modal {
      height: 100%;
      padding: 16px;
      border-radius: 0;
      box-shadow: none;
    }
    .title {
      font-size: 18px;;
    }
    .notification-overlay {
      height: 100%;
    }
    .button-overlay {
      justify-content: space-between;
    }
  }
  

@media all and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 15px 0 25px;
  }
  .currenciesWrapper {
    flex-direction: column;;
    margin: 0;
    width: 100%;
  }
  .modal {
    overflow: scroll;
    min-width: 100%;
  }
  .card {
    width: 100%;
    position: relative;
    display: flex;
    height: auto;
    .circle {
      margin: 0 10px 0;
    }
    b {
      margin-top: 2px;
    }
    span {
      position: absolute;
      left: 66px;
      bottom: 11px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}