.block {
  margin-top: 40px;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  color: #A9A9A9;
  position: absolute;
  font-size: 14px;
  left: 365px;
  margin: -91px 45px;
  width: 30%;
  text-decoration: underline;
}

.information {
  position: relative;
  top: -50px;
  display: block;
}
