.block {
  margin-top: 40px;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  color: #ff1fc5;
  position: absolute;
  font-size: 20px;
  left: 289px;
  margin: -89px 20px;
  width: 30%;
}

.information {
  position: relative;
  top: -50px;
  display: block;
}
