.block {
  margin-top: 70px;
  cursor: pointer;
}

.button {
  padding: 10px 20px;
  color: #A9A9A9;
  position: absolute;
  font-size: 14px;
  left: 365px;
  margin: -91px 45px;
  width: 30%;
  text-decoration: underline;
}

.information {
  position: relative;
}


@media all and (min-width: 320px) and (max-width: 570px) {
  .button {
    position: absolute;
    left: auto;
    margin: 0;
    bottom: 0px;
    right: -14px;
    width: 57%;
    margin-top: -16px;
    display: block;
    right: -4px;
    text-align: right;
  }
}
