.block {
  cursor: pointer;
}

.button {
  color: #A9A9A9;
  text-decoration: underline;
  position: absolute;
  left: 50px;
  top: -29.5px;
}

.information {
  position: relative;
  display: block;
  top: 20px;
  left: 260px;
}

@include media-tablet {
  .information {
    left: 25px;
    font-size: 12px;
  }
}

@include media-mobile {
  .button {
    left: 0;
  }
  .information {
    left: 30px;
    font-size: 6px;
  }
}
