.title {
  font-size: 14px;
  color: #b2b2b2;
  background: #ffffff;
  position: static;
  z-index: 1049;
  padding-bottom: 20px;
  padding-top: 10px;

  &.--dark {
    background: none;
  }

  &>span {
    padding-left: 5px;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
  }

  & span {
    font-weight: bold;

  }

  & svg {
    display: block;
    position: relative;
    top: 2px;
    height: 3px;
  }
  &.online,
  &.offline {
    div {
      display: none;
      padding-left: 10px;
    }
    em {
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      background: #f56e85;
      line-height: 1em;
      vertical-align: middle;
      border-radius: 0.5em;
    }
  }
  &:hover {
    div {
      display: inline-block;
    }
  }
  &.online {
    em {
      background: #4dd3ab;
    }
  }
}




.connect {
  color: #3de25b;
}

.disconnect {
  color: #e32950;
}

.copyright {
  border-top: 1px solid rgba(255,255,255, 0);

  &-text {
    font-size: 14px;
    color: rgba(51, 51, 51, 0.6);
  }
}

@include media-tablet {
  .title {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 8px;
    height: 25px;
    top: 2px;
    bottom: auto;
    left: 2px;
    background: none;
    margin: 2px 5px;
  }
}
