.title {
  font-size: 14px;
  color: #b2b2b2;

  & span {
    font-weight: bold;
  }

  & svg {
    display: block;
    width: 425px;
  }
}

.connect {
  color: #3de25b;
}

.disconnect {
  color: #e32950;
}

@include media-tablet {
  .title {
    font-size: 16px;
  }
}
