.user-cont {
    float: right;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 88px;
    position: relative;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.avatar {
    margin-left: 10px;
    background: #ffffff;
    padding: 5px;
    border-radius: 50%;
    box-sizing: content-box;
}

@include media-mobile {
    .user-cont {
        display: none;
    }
}
