.user-cont {
    float: right;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 88px;
    position: relative;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

@include media-mobile {
    .user-cont {
        display: none;
    }
} 
