.user-cont__add-user {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #e91db4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-indent: -9999px;
    margin-right: 10px;
}