input,
textarea {
  background: none;
  outline: none;
  border: 0;
  border-radius: 0;
}

.input {
  width: 100%;
  height: 68px;
  padding: 0 16px;
  border-radius: 2px;
  vertical-align: top;
  line-height: 14px;
  box-shadow: none;
  font-size: 15px;
  padding-left: 15px;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid var(--color-border);
  outline: none;

  &:focus {
    border: 2px solid var(--color-brand);
    outline: none;
    padding: 0 14px;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    @content;
  }
}

.srollingForm {
  height: 100px !important;
  overflow-y: auto !important;
}

.root {
  display: block;
  width: 100%;
}

.inputContainer {
  background-color: var(--color-background-elements);
  border-radius: 6px;

  &.withMargin {
    margin-bottom: 40px;
  }

  &.disabled {
    background-color: #fafafa;
  }

  &.withError {
    border-color: var(--color-f-error);

    .input~.label {
      color: var(--color-f-error);
    }
  }

  &.withQr {
    padding-right: 24px;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

.dollar {
  position: absolute;
  bottom: -30px;
  background: var(--color-background-elements);
  right: 10px;
  font-size: 13px;
  color: var(--color-notice);
  padding: 5px 10px;
}

.qrWrapper {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 0 12px;
  font-size: 13px;
  color: var(--color-brand);
  background-color: var(--color-background-elements);
}

/* Chrome/Opera/Safari */
.input::-webkit-input-placeholder,
/* Firefox 19+ */
.input::-moz-placeholder,
/* IE 10+ */
.input:-ms-input-placeholder,
/* Firefox 18- */
.input:-moz-placeholder {
  color: var(--color-notice);
}

.inputError {
  border: 1px solid var(--color-f-error);

  &:focus {
    border: 2px solid var(--color-f-error);
  }
}

@include media-tablet-landscape-and-lower {
  .input {
    width: 100%;
  }
}

textarea.input {
  line-height: 18px;
  padding: 20px 16px;
  font-size: 16px;

  &:focus {
    padding: 19px 15px;
  }

  @include placeholder() {
    line-height: 18px;
  }
}

.error {
  font-size: 14px;
  color: var(--color-f-error);

  [role='errorLink'] {
    display: inline !important;
    color: inherit !important;
    vertical-align: inherit !important;
    text-decoration: underline !important;
  }
}

@media all and (max-width: 767px) {
  .inputContainer {
    &.smallFontSize {
      input {
        font-size: 11px;
      }
    }

    @include placeholder() {
      font-size: 11px;
    }
  }
}

@media all and (max-width: 480px) {
  .error {
    font-size: 10px;
  }
}