.turboIcon {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 20px;
  height: 28px;
  padding-bottom: 8px;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.turboIconImage {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.turboIconText {
  position: absolute;
  font-size: 8px;
  line-height: 1em;
  bottom: 0px;
  left: 50%;
  transform: translateX(-56%);
  color: #c36900;
}
