.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--main-component-border-radius);
  background: var(--color-background-elements);
  color: var(--color);
  box-shadow: var(--box-shadow);
  width: 100%;
  height: 100%;

  &_dashboardView {
    overflow: auto;
  }
}

.header {
  height: 88px;
  border-bottom: 1px solid var(--color-border);
}

.headerContent {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @include ff-bold;
  opacity: 0.9;
  font-size: 24px;
  line-height: 33px;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  pointer-events: none;
  min-width: 0;
  flex: auto 1 1;
  line-height: 22px;
  font-size: 24px;
  text-align: left;
  padding: 0 20px;

  &.uppercase {
    text-transform: uppercase;
  }
}

.closeButton {
  position: absolute;
  right: 20px;
}

@keyframes delayClose {
  0% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.delayClose {
  animation: delayClose 1.8s ease 1 forwards;
}

.contentContainer {
  min-height: 0;
  flex: auto 1 1;
  position: relative;
  padding: 0 30px;

  &_dashboardView {
    min-height: auto;
  }
}

.content {
  min-width: 300px;
  padding: 40px 0 40px;
  font-size: 16px;

  &_dashboardView {
    position: relative;
    padding-bottom: 40px;
  }

  &.withTabs {
    padding-top: 1rem;
  }
}

@include media-mobile {
  .modal {
    border-radius: none;
  }

  .header {
    &__logo {
      display: none;
    }
  }

  .content {
    min-width: auto;
  }

  .title {
    font-size: 18px;
    padding: 0 40px 0 20px;
  }
}