@font-face {
  font-family: 'CerebriSans';
  src: url('../../fonts/Celebri/CerebriSans-Regular.woff') format('woff'),
  url('../../fonts/Celebri/CerebriSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
