@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
