@font-face {
  font-family: 'Manrope-Regular';
  src: url('../fonts/Manrope/manrope-regular.woff2') format('woff2'),
  url('../fonts/Manrope/manrope-regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../fonts/Manrope/manrope-bold.woff2') format('woff2'),
  url('../fonts/Manrope/manrope-bold.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('../fonts/Manrope/manrope-medium.woff2') format('woff2'),
  url('../fonts/Manrope/manrope-medium.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Inter-SemiBold';
//   src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
//   url('../fonts/Inter/Inter-SemiBold.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Inter-Bold';
//   src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
//   url('../fonts/Inter/Inter-Bold.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }
