.promoText {
  position: absolute;
  width: 525px;
  height: 67px;
  left: 160px;
  top: 200px;

  font-family: Inter UI;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 56px;
}
