@mixin containerCommon {
  min-width: 410px; // widget
  padding: 2.2em;
  overflow: hidden;
  border-radius: 24px; // widget
}

@mixin lightContainer {
  @include containerCommon;
  box-shadow: $l-box-shadow;
  background-color: $l-background-elements;
  color: $l-color;
}

@mixin darkContainer {
  @include containerCommon;
  box-shadow: $d-box-shadow;
  background-color: $d-background-elements;
  color: $d-color;
}

.farmFactory {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.dark {
    .farmDeployForm,
    .farmContracts {
      @include darkContainer;
    }

    .farmFormToggle {
      &::before {
        border-right: 1px solid $d-color;
        border-bottom: 1px solid $d-color;
      }
    }
  }
}

.farmDeployForm {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  @include lightContainer;

  label {
    cursor: pointer;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.farmFormHeader {
  position: relative;

  h3 {
    margin: 0;
  }
}

.farmFormToggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.8em;
    height: 0.8em;
    transform: rotateZ(45deg) translate(-50%, -50%);
    border-right: 1px solid $l-color;
    border-bottom: 1px solid $l-color;
  }

  &.up::before {
    transform: rotateZ(225deg);
  }
}

.farmFormBody {
  margin-top: 2.8em;
  display: flex;
  flex-direction: column;

  &.hide {
    display: none;
  }
}

.farmContracts {
  @include lightContainer;

  ul {
    padding: 0;
    list-style: none;
  }

  h3 {
    margin: 0;
    margin-bottom: 2em;
  }
}

.farmContractsEmpty {
  margin: 0;
  color: $indicating-color;
}
