
.FeedBack {
	width: 100%;
}
.FeedBackContact {
	display: flex;
	position: relative;
	align-items: center;
	img {
		width: 35px;
		margin-right: 10px;
	}
}
.FeedBackHeading {
	margin-bottom: 20px;
	margin-top: 50px;
}
.FeedBackText {
	margin: 0 6px;
	font-weight: bold;
}

@include media-tablet {
	.FeedBackText {
		&:last-child {
			position: absolute;
			top: 30px;
			left: 40px;
		}
	}
}

@include media-mobile {
	.FeedBackContact {
		flex-direction: column;
		img {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
	.FeedbackHeading {
		text-align: center;
		margin-bottom: 20px;
	}
}