.icon {
  margin-right: 0.5rem;
  color: var(--color-brand-hover);
  font-size: 24px;
  text-align: center;
  transition: color 300ms ease;
  cursor: pointer;

  &:hover {
    color: var(--color-brand);
  }
}

.targets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--color-brand);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
  border-radius: var(--main-component-border-radius);
  border: 1px solid var(--color-border);
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: var(--main-component-border-radius);
  background-color: var(--color-pale);
  max-width: 500px;
  word-break: break-all;
  cursor: pointer;
}

.copyButtonHolder {
  margin: 1rem auto;
  button {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

.pen-url {
  max-width: 600px;
  overflow: hidden;
  position: relative;
  background: var(--color-background-elements);
  cursor: pointer;
  padding-bottom: 15px;
  span:nth-child(1) {
    display: block;
    text-align: right;
    outline: 2px solid blue;
    text-overflow: clip;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
  }
  span:nth-child(2) {
    display: block;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
    background: var(--color-background-elements);
  }
}

.copy-link {
  padding-left: 30px;
  padding-right: 30px;
}

@include media-mobile {
  .copyButtonHolder {
    button {
      width: 100%;
    }
  }
}