.note {
  font-size: 13px;
  margin-top: -25px;
  margin-bottom: 30px;
  color: #8E9AA3;
  font-family: 'Inter-Regular';
}

.r-tooltip {
  max-width: 80vw;
}

.rednote {
  font-size: 12px;
  color: #aaa;
  height: 0px;
  color: $color-f-error;
}
.groupField {
  width: 100%;
  display: inline-flex;
  vertical-align: center;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.balance {
  position: absolute;
  right: 73px;
  top: 5px;
  padding: 0 10px 0 25px;
  background-color: white;
  text-align: left;
  font-size: 13px;
  z-index: 1;
  color: #aaa;
  /* color: #b5b5b5; */
  color: #8E9AA3;
  font-family: 'Inter-Regular';
}

.notice {
  font-weight: 800;
  line-height: 140%;
  color: #8E9AA3;
  font-family: 'Inter-Bold';
  width: 78%;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}

.rednotes {
  font-size: 16px;
  text-align: center;
  color: $color-f-error;
}

.buttonFull{
  margin-top: 10px;
  display: block;
}

.cell {
  color: #3b95ff;
  cursor: pointer;
  display: block;

  &:hover {
    color: darken(#3b95ff, 1)
  }
}

.group {
  width: 100%;
  display: inline-flex;
  height: 60px;
  border-radius: 6px;
  text-align: center;
}
.input {
  width: 100%;
  text-align: left;
  display: block;
}

.downLabel {
  position: absolute;
  top: 0.5em;
}

.highLevel {
  position: relative;
}

.lowLevel {
  position: relative;

}

@include media-mobile {
  .button {
    height: 100%;
  }

  .mobileFont {
    font-size: 16px !important;
  }

  .balance {
    position: absolute;
    right: 7em;
    top: 0.5em;
    font-size: 10px;
    padding: 0 5px 0 10px;
  }

  .downLabel {
    top: 0.8em;
  }
  .input {
    font-size: 11px;
  }
  .notice {
    position: absolute;
    top: 10px;
    font-size: 70%;
    text-align: center;
  }
}

.qrCode {
  position: absolute;
  left: 97%;
  top: 9px;
}
