.note {
  position: absolute;
  padding: 0 10px 0 10px;
  background-color: white;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  z-index: 1;
  color: #8e9aa3;
  bottom: -17px;
  left: 10px;
}

.r-tooltip {
  max-width: 80vw;
}

.rednote {
  font-size: 12px;
  color: #aaa;
  height: 0px;
  color: $color-f-error;
  position: absolute;
  bottom: -15px;
}

.groupField {
  width: 100%;
  display: inline-flex;
  vertical-align: center;
  border-radius: 6px;
  text-align: center;
  position: relative;
}

.balance {
  position: absolute;
  right: 98px;
  top: -8px;
  padding: 0 10px 0 10px;
  background-color: white;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  z-index: 1;
  color: #8e9aa3;
}

.notice {
  line-height: 140%;
  color: #8e9aa3;
  font-family: 'Manrope-Medium', sans-serif;
  width: 78%;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}

.rednotes {
  font-size: 16px;
  text-align: center;
  color: $color-f-error;
}

.buttonFull {
  margin-top: 10px;
  display: block;
}

.cell {
  color: #3b95ff;
  cursor: pointer;
  display: block;

  &:hover {
    color: darken(#3b95ff, 1);
  }
}

.group {
  width: 100%;
  display: inline-flex;
  height: 60px;
  border-radius: 6px;
  text-align: center;
}

.input {
  width: 100%;
  text-align: left;
  display: block;
}

.downLabel {
  position: absolute;
  top: 0.5em;
}

.highLevel {
  position: relative;
  margin-bottom: 60px;
}

.lowLevel {
  position: relative;
}

.sendBtnsWrapper {
  display: flex;
  justify-content: space-between;
}

.actionBtn {
  width: calc(50% - 5px);
  position: relative;
}

.dashboardViewNotice {
  margin: 0 auto;
  margin-top: 20px;
}

@include media-mobile {
  .button {
    height: 100%;
  }

  .mobileFont {
    font-size: 16px !important;
  }

  .downLabel {
    top: 0.8em;
  }
}

.qrCode {
  position: absolute;
  left: 97%;
  top: 9px;
}

.customSelectContainer {
  position: relative;
}

.customSelectValue {
  border: 1px solid #ccc;
  height: 68px;
  background: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    a {
      font-size: 13px;
      color: #6144e5;
      &:hover {
        color: #6144e5;
      }
    }
    span {
      color: #8e9aa3;
      font-size: 12px;
    }
  }
}

.customSelectList {
  margin-top: 20px;
  position: absolute;
  z-index: 1111111;
  width: 100%;
}

.customSelectListItem {
  margin-top: -1px;
  &:hover {
    background: rgb(251, 251, 251);
  }
}

.customSelectArrow {
  position: absolute;
  right: 25px;
  &:before {
    content: '';
    width: 9px;
    height: 9px;
    display: block;
    border-top: 2px solid #828795;
    border-right: 2px solid #828795;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

.customSelectArrow.active {
  &:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
