.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2%;
  padding-bottom: 100px
}

.header {
  font-size: 36px;
  text-align: center;
  padding: 50px 0 30px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.6;
  @include ff;
}

.href {
  text-align: center;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--color);

  span {
    color: orange;
  }
}

@include media-mobile {
  .container {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .container {

  }

  .header {
    font-size: 24px;
    padding: 15px 0 30px;
  }

  .href {
    font-size: 12px;
    margin: auto;
  }
}
