.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  margin: 1.6rem 0;
  padding: 1.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-border);
}
