$maxWidth: 38em;

.quickSwap {
  position: relative;
  max-width: $maxWidth;
  margin: 0.6rem auto 1rem;
  padding: 1rem 1.4rem;
  padding-bottom: 1.4rem;
  border-radius: var(--main-component-border-radius);
  text-align: center;
  box-shadow: var(--box-shadow);
  background: var(--color-background-elements);
}

.header {
  margin-bottom: 1.6rem;
  display: flex;
  font-size: 0.9rem;

  .tab {
    flex: 1;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    border: 1px solid var(--color-border);

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &:not(:first-of-type) {
      border-left: none;
    }

    &.active {
      background-color: var(--color-inactive-border);
      border-color: var(--color-inactive-border);
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.inputWrapper {
  position: relative;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0.7rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-border);
  color: var(--color-indicating);

  .walletButton {
    margin-bottom: 0.5rem;
  }
}

.formCenter {
  padding-bottom: 1.2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.padding {
    padding-bottom: 2rem;

    .arrows {
      position: static;
      font-size: 1rem;
    }
  }

  .fiatExchangeBtn {
    margin-right: 2rem;
  }

  .arrows {
    transform: rotate(90deg);
    color: var(--color-notice);
    position: absolute;
    right: 0.7rem;
    top: -0.9rem;
    font-size: 0.9em;

    button {
      width: auto;
      height: auto;
    }
  }
}

@mixin tooltip {
  position: absolute;
  z-index: 1;
  top: -0.6rem;
  right: 0.7rem;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: var(--color-background-elements);
  color: var(--color-notice);
}

.balanceTooltip {
  @include ff-mono;
  @include tooltip;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.balanceLoader {
  @include tooltip;
}

.balanceUpdateBtn {
  padding: 0.1rem 0;
  user-select: none;
  width: max-content;
  display: block;
  margin-left: 0.4rem;
  white-space: nowrap;
  color: var(--color-notice);

  .icon {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 0.9em;
  }
}

.indicator {
  @include ff-semibold;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.14rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-pale);
  }

  .value {
    @include ff-mono;
    display: inline-block;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }

  .address {
    font-size: 0.87em;
  }
}

@mixin notice(
  $color: var(--color),
  $borderColor: var(--color-border),
  $bg-color: var(--color-background)
) {
  @include ff-semibold;
  padding: 0.4rem 0.6rem;
  text-align: left;
  border-radius: 0.2rem;
  border: 1px solid $borderColor;
  background-color: $bg-color;
  color: $color;
}

.noAssetsNotice {
  @include notice(var(--color-bad), var(--color-bad));
  max-width: $maxWidth;
  margin: 0.6rem auto;
}

.dangerousNotice {
  @include notice(var(--color-f-error), var(--color-f-error));
}

.warningNotice {
  @include notice($bg-color: var(--color-warning));
}

.neutralNotice {
  @include notice();
}

.footer {
  margin-bottom: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > * {
    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
}

.addCustomTokenBtn {
  margin-bottom: 0.5rem;
}

@media all and (max-width: 500px) {
  .newTokenInstruction {
    font-size: 0.95rem;
  }

  .quickSwap {
    font-size: 0.85rem;
  }

  .balanceTooltip {
    .title {
      display: none;
    }
  }
}
