.actionsWrapper {
  display: flex;
  margin: 0.3rem 0;
  font-size: 1.1rem;

  .actionLabel {
    cursor: pointer;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 0.8rem;
    }

    input {
      display: grid;
      place-content: center;
      margin: 0 0.3rem 0 0;
      -webkit-appearance: none;
      appearance: none;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 0.15em solid var(--color-brand);
      color: currentColor;
      /* For iOS < 15 to remove gradient background */
      background-color: var(--color-background-elements);

      &::before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-radius: inherit;
        transform: scale(0);
        transition: 100ms transform ease-in-out;
        background-color: var(--color-brand);
      }

      &:checked::before {
        transform: scale(1);
      }

      &:focus {
        outline: max(2px, 0.1em) solid var(--color-brand);
        outline-offset: max(2px, 0.1em);
      }
    }
  }
}
