.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.text {
  font-size: 1.5em;

  @media all and (max-width: 480px) {
    font-size: 1em;
  }
}

.key {
  font-size: 1em;
  word-break: break-all;

  @media all and (max-width: 480px) {
    font-size: 0.8em;
  }
}

.finishImg {
  display: block;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mnemonicNotice {
  margin-bottom: 30px;
}

@include media-mobile {
  .mnemonicNotice {
    position: static;
    font-size: 100%;
    margin-bottom: 20px;
  }
}

.buttonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;

  button {
    width: 45%;
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
  }
}
