.restoreModalHolder {
  max-width: 400px;
  margin: 0 auto;
}
.buttonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;

  button {
    width: 40%;
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
  }
}

.tooltipWrapper {
  white-space: normal;
}

.alertTooltipWrapper {
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  background: rgba(var(--color-bad), 0.6);
  border-radius: 2px;
}

.finishImg {
  display: block;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.mnemonicNotice {
  margin-bottom: 30px;
}

@include media-mobile {
  .mnemonicNotice {
    position: static;
    font-size: 100%;
    margin-bottom: 20px;
  }
}