.wrapper {
  min-width: 375px;
  max-width: 375px;
  min-height: 600px;
  margin: 40px auto;
}

.formBody {
  margin: 0 16px;
}

.wrapper h2 {
  width: 320px;
  height: 68px;
  right: 39px;
  top: 93px;
  margin-bottom: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 120%;
}

.stepNumber {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 2.5;
  text-align: center;
  background-color: #f0eefd;
  color: #6144E5;
  border: 1px solid #f0eefd;
  font-weight: bold;
}

.purple {
  background-color: #6144E5;
  color: #f0eefd
}

.purpleBorder {
  border-color: #6144E5 !important;
}
.green {
  background-color: #0ccf14;
}

.subHeader {
  width: 320px;
  height: 61px;
  margin-bottom: 25px;
}

.third {
  height: 59px;
  margin-bottom: 0px;
}

.subHeader h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
}

.capture {
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  color: #8E9AA3;
}

.inLine {
  display: flex;
  width: 135px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.continue {
  border-radius: 2px;
  text-align: center;
  font-weight: 800;
  font-size: 15px;
  line-height: 150%;
  background: #6144E5;
  color: white;
  width: 100%;
  height: 45px;
  margin-top: 40px;
}

.continue:disabled{
  color: #6144E5;
  background: #f0eefd;
}

.listGroup {
  margin: auto 10px;
}

.card {
  background: #FFFFFF;
  border: 1px solid rgba(142, 154, 163, 0.16);
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(142, 154, 163, 0.08);
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 10px;
  height: 53px;
  list-style: none;
  display: flex;

  b {
    font-weight: bolder;
    font-size: 16px;
    color: #1F2D48;
  }

  li {
    font-weight: 100;
    color: #8E9AA3;
    font-size: 11px;
    font-family: Inter;
    line-height: 15px;
  }
}

.thirdCard {
  height: 65px;
}

.inputWrapper {
  display: block;
}

.currencyChooserWrapper{
  overflow-y: auto;
}

.inputWrapper,
.currencyChooserWrapper{
  height: 265px;
}

.secondStepInput {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.logo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 7px;
  margin: auto 0;
}
.btc {
  background: orange;
}

.eth {
  background: black;
}

.usdt {
  background: #0ccf14;
}

.swap {
  background: #775cf1;
}

.thirdPageIcons {
  background: #f0eefd;
}

@media screen and (max-width: 568px){
  .wrapper {
    margin: 125px auto;
  }
}

@media screen and (max-width: 480px){
  .wrapper {
    min-width: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  .wrapper h2 {
    width: 100%;
    height: 45px;
    font-size: 23px;
  }

  .subHeader {
    width: 100%;
    margin: 0;
  }
  .subHeader h5 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .capture {
    font-size: 11px;
    line-height: 14px;
  }

  .secureChooserWrapper,
  .inputWrapper,
  .currencyChooserWrapper {
    height: 50%;
    overflow-y: auto;
  }

  .card li {
    font-size: 9px;
  }

  .continue {
    position: absolute;
    top: 92vh;
    right: 21px;
    margin: 0 auto;
    width: 89%;
  }
}

@media screen and (max-width: 320px){
  .continue {
    top: 91vh;
    width: 87%;
  }
}
