.wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.08), 0px 1px 4px rgba(0,0,0,0.08);
  border-radius: 4px;
  padding: 35px 25px 40px;
  margin-top: 5%;
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%,-50%);
}

.isExist {
  width: 100%;
  height: 100%;
  font-size: 2em;
  margin: auto;
  padding: 20% 0;
  text-align: center;
}

.wrapper h2 {
  width: 450px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: 'Inter-Bold', sans-serif;
  line-height: 120%;
}

.mobileFormBody,
.formBody {
  margin: 0 16px;
}
.currencyChooserWrapper,
.inLine {
  display: flex;
}
.link-import {
  display: block;
}
.notMain {
  height: 40px;
  margin: 40px 0;
}

.secureChooserWrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}

.stepNumber {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 2.5;
  text-align: center;
  background-color: #f0eefd;
  color: #6144e5;
  border: 1px solid #f0eefd;
  font-weight: bold;
  margin-right: 10px;
}

.logo {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  img {
    width: 20px;
  }
}

.btc {
  background: orange;
}

.eth {
  background: black;
}

.coinColor {
  background: black;
}

.usdt {
  background: #33a681;
}

.eurs {
  background: #2760aa;
}

.swap {
  background: #775cf1;
}

.purple {
  background-color: #6144e5;
  color: #f0eefd;
}

.bch {
  background: #4ac745;
}

.green {
  background-color: #0ccf14;
}
.assetsTableIcon {
  // background: rgba(97, 68, 229, 0.1);
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
}

.continue {
  position: relative;
  margin: 0 auto;
  border-radius: 2px;
  text-align: center;
  font-weight: 800;
  font-size: 15px;
  line-height: 150%;
  background: #6144e5;
  color: white;
  height: 45px;
  width: 100%;
}

.continue:disabled {
  background-color: #f0eefd;
  color: #6144e5;
}

.subHeader {
  top: 5px;
  position: relative;
}

.subHeader h5 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0;
  font-family: 'Inter-Bold', sans-serif;
  margin-bottom: 5px;
}

.subHeader p {
  font-size: 13px;
  margin-bottom: 7px;
  color: #8e9aa3;
  font-family: 'Inter-Bold', sans-serif;
  line-height: 140%;
}

.currencyChooserWrapper {
  justify-content: space-between;
  padding: 30px 0;
  overflow-x: auto;
  margin: auto;
}

.smallArr {
  justify-content: center;
}

.buttonWrapper {
  position: absolute;
  right: 50px;
  top: 40px;
  button {
    color: #6144E5;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 14px;
    text-decoration: underline;
    padding: 0;
    margin-left: 20px;
    &:last-child {
      display: none;
    }
  }
}

.card {
  background: #ffffff;
  border: 1px solid rgba(142, 154, 163, 0.16);
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(142, 154, 163, 0.08);
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 10px;
  height: 53px;
  list-style: none;
  display: grid;
  height: 140px;
  min-width: 110px;
  margin: 7px;
  position: relative;

  em {
    position: absolute;
    text-align: right;
    right: 15px;
    top: 10px;
    width: 60px;
    font-size: 10px;
    color: #9b58b6;
  }

  b {
    font-weight: bolder;
    font-size: 13px;
    color: #1f2d48;
  }

  li {
    font-weight: 100;
    color: #8e9aa3;
    font-size: 10px;
    font-family: 'Inter-Bold', sans-serif;
    line-height: 18px;
    text-align: center;
  }
}

.cupture1 {
  margin-right: 5px;
}
.etc {
  padding: 0;
}

.decorated {
  text-decoration: underline;
}

.cardDisabled {
  opacity: 0.7 !important;
}

.purpleBorder {
  border-color: #6144e5 !important;
}

.cardActivated {
  border: 1px solid rgba(102, 204, 87, 0.64) !important;
  div,
  img {
    opacity: 0.5 !important;
  }
  em {
    color: #48ca2f !important;
  }
}

.cardActivated.purpleBorder {
  border-color: #6144e5 !important;
  div,
  img {
    opacity: 1 !important;
  }
  em {
    color: #9b58b6 !important;
  }
}

.secondStepInput {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 335px;
  padding: 10px;
  margin: 20px 30px;
}

.secureSize {
  height: 160px;
  width: 140px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .secureSize {
    width: 100% !important;
  }
  .currencyChooserWrapperSecond {
    display: block;
    padding: 0;
  }
  .wrapper {
    margin: 125px auto;
    padding: 0;
    position: relative;
    transform: none;
    left: auto;
    top: auto;
    box-shadow: none;
  }

  .currencyChooserWrapperSecond {
    height: 285px;
    margin: 25px 0;
    overflow-y: scroll;
  }

  .card {
    display: inline-flex em {
      position: relative;
      width: 100%;
      height: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  .flex {
    display: flex;
  }

  .ind {
    height: 0px;
    text-align: right;
  }
  .continue {
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 0;
    height: 65px;
    z-index: 1111111;
  }

  .secondStepInput {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
    margin: 0;
    margin-bottom: 20px;
  }

  .wrapper {
    min-width: 0;
    width: 100%;
    margin: 0;
    padding-top: 0;
  }

  .wrapper h2 {
    width: 100%;
    height: 45px;
    right: 39px;
    top: 93px;
    margin-bottom: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 120%;
  }

  .subHeader {
    width: 100%;
    height: 61px;
    margin: 0;
  }

  .currencyChooserWrapper {
    overflow-y: auto;
    display: block;
    padding: 0;
    height: 370px;
  }

  .second {
    height: 59px;
    margin-bottom: 0px;
  }

  .subHeader h5 {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .capture {
    font-size: 11px;
    line-height: 14px;
    font-weight: 800;
    color: #8e9aa3;
  }

  .inLine {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .steps {
    width: 100px;
  }

  .logo {
    margin: auto 0;
  }

  .buttonWrapper {
    top: 30px;
    right: auto;
    display: flex;
    justify-content: space-between;
    button {
      color: #6144E5;
      font-family: 'Inter-Bold', sans-serif;
      font-size: 14px;
      text-decoration: underline;
      &:last-child {
        margin-left: 20px;
        display: block;
      }
    }
  }

  .link-import {
    margin-left: 20px;
  }

  .listGroup {
    margin-left: 10px;
    flex-basis: 83%;
  }

  .wrapper h2 {
    padding-top: 90px;
    margin-bottom: 65px;
    font-size: 32px;
  }

  .secureSize,
  .card {
    height: 53px;
    width: 100%;
  }

  .card {
    margin-bottom: 8px;
    padding: 10px;
    list-style: none;
    height: 75px;
    width: 100%;
    position: relative;
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    b {
      font-weight: bolder;
      font-size: 13px;
      color: #1f2d48;
    }

    li {
      font-weight: 100;
      color: #8e9aa3;
      font-size: 11px;
      font-family: 'Inter-Bold', sans-serif;
      line-height: 18px;
      text-align: left;
    }
  }

  .thirdCard {
    padding: 10px;
    height: auto;
  }

  .thirdPageIcons {
    background: #f0eefd;
  }

  .error {
    color: red;
    position: relative;
    bottom: 20px;
    font-size: 12px;
  }

  .formBody {
    margin: 100px 16px;
  }

  .secureChooserWrapper {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .stepNumber {
    width: 45px;
  }
}


@media all and (min-width: 320px) and (max-width: 767px) {
  .mobileFormBody,
  .formBody {
    margin: 0px;
  }
  .card {
    margin: 7px 0;
  }
}