.heading {
  display: flex;
  justify-content: center;
}

.info-panel {
  margin-bottom: 1rem;
}

.info {
  display: flex;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button:not(:last-child) {
  margin-right: .5rem;
}