.root {
  position: static;
  width: 100%;
}

.title {
  padding: 1px 0 1px;
}

.heading {
  display: flex;
  justify-content: center;
}

.subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.table {
  width: 100%;
}

.inRow {
  margin-top: 20px;
  display: flex;
  width: 600px;
}

.button {
  margin-right: 10px;
}

.buttonD{
  height: 56px;
  padding: 0 16px;
  @include inline-block;
  cursor: pointer;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  border: none;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #f8f3fe;
  box-shadow: 1px 1px 6px #929292;
  color: #7c1de9;
  @include no-user-select;
  transition:
    background-color 0.23s ease,
    color 0.23s ease;
  &:hover {
    color: #7c1de9;
    background: #dfc5ff;
  }
}

.disable {
  height: 56px;
  padding: 0 16px;
  @include inline-block;
  cursor: pointer;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  border: none;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #F2F2F2;
  color: #000;
  @include no-user-select;
  transition:
    background-color 0.23s ease,
    color 0.23s ease;
  &:hover {
    background-color: darken(#F2F2F2, 10%);
  }
}

@include media-tablet-landscape-and-lower {
  .info {
    display: block;
  }

  .info span {
    font-size: 1rem;
  }
}

.actions {
  display: flex;
}

.actions button:not(:last-child) {
  margin-right: .5rem;
}
