.root {
  position: static;
  width: 100%;
}

.title {
  padding: 1px 0 1px;
}

.heading {
  display: flex;
  justify-content: center;
}

.subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.table {
  width: 100%;
}

.inRow {
  margin-top: 20px;
  display: flex;
  width: 220px;
  justify-content:space-between;
}
.inRowru {
  margin-top: 20px;
  display: flex;
  width: 250px;
  justify-content:space-between;
}

@include media-tablet-landscape-and-lower {
  .info {
    display: block;
  }

  .info span {
    font-size: 1rem;
  }
}

.actions {
  display: flex;
}

.actions button:not(:last-child) {
  margin-right: .5rem;
}
