.root {
  position: static;
  width: 100%;
  margin-top: 110px;
}

.currencyWalletWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  font-family: 'Manrope-Bold',sans-serif;
}

.currencyWalletBalance {
  width: 31%;
  margin-top: 40px;
}

.currencyWalletActivity {
  background: #fff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 25px;
  margin-top: 40px;
  width: 66%;
  h3 {
    color: #1F2D48;
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}


.title {
  padding: 1px 0 1px;
  margin-top: 100px;
  h1 {
    margin: 0;
  }
}

.heading {
  display: flex;
  justify-content: center;
}

.history {
  width: 100%;
  margin-top: 20px;
  display: inline-table;
  thead {
    border: none;
  }
  td,
  td:first-child {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.btc {
  color: #000;
}

.subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #8E9AA3;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 17px;
  line-height: 1.7;
  font-family: 'Manrope-Bold',sans-serif;
  p {
    color: #1F2D48;
    display: inline;
    font-size: 16px;
  }
}

.table {
  width: 100%;
}

.inRow {
  margin-top: 20px;
  display: flex;
  width: 445px;
  justify-content:space-between;
  font-family: 'Manrope-Bold',sans-serif;
  button {
    width: 140px;
    font-size: 15px;
  }
}
.inRowru {
  margin-top: 20px;
  display: flex;
  width: 250px;
  justify-content:space-between;
}

.button {
  margin-right: 10px;
}

.actions {
  display: flex;
}

.actions button:not(:last-child) {
  margin-right: .5rem;
}

@include media-tablet-landscape-and-lower {
  .info {
    display: block;
  }

  .info span {
    font-size: 1rem;
  }
}
@include media-mobile {
  .subtitle {
    word-wrap: break-word;
  }
  .inRow {
    justify-content: center;
    width: auto;
    button {
      height: auto;
      margin: 5px;
      font-size: 15px;
    }
  }
}

.loader {
  position: relative;
  margin: 15% 40%;
}@media all and (min-width: 320px) and (max-width: 767px) {
    .walletContent {
        flex-direction: column;
        margin: 0px -20px;
    }
    .yourBalance,
    .yourAssets,
    .activity {
        box-shadow: none;
        width: 100%;
    }
    .walletTable {
        display: inline-table;
        td:first-child {
            padding-left: 25px;
            left: auto;
        }
    }
    .yourBalanceBottom {
        &:before {
            display: none;
        }
    }
    .yourAssets {
        padding: 0;
        button {
            width: calc(100% - 65px);
            margin: auto;
        }
    }
    .yourBalance,
    .yourBalanceCurrencies {
        background: rgb(253, 253, 253);
    }
    .yourAssetsHeading,
    .yourAssetsDescr {
        padding: 0 25px;
    }
    .walletBalance {
        width: 100%;
    }
    .yourBalance {
        display: none;
    }
    .walletBalance.active {
        .yourBalance {
            display: block;
        }
    }
    .activityHeading {
        margin-top: -60px;
    }
}

.loader {
    position: relative;
    margin: 15% 40%;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .currencyWalletWrapper {
    margin: 0 -20px;
    flex-direction: column;
  }
  .currencyWalletActivity,
  .currencyWalletBalance {
    width: 100%;
    box-shadow: none;
  }
  .currencyWalletBalance {
    > div {
      display: block;
    }
  }
}

.loader {
  position: relative;
  margin: 15% 40%;
}

