.farm {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 2rem;
  padding: 1rem 0;
}

@media all and (max-width: 567px) { // widget
  .timer {
    font-size: 1.5rem;
    padding: 1rem 0;
  }
}
