.modal {
  background-color: #ff6161;

  [role="title"] {
    font-size: 40px;
    @include ff-bold;
    color: #fff;
  }
}

.content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  color: #fff;
  font-size: 24px;
}

.subTitle {
  text-transform: uppercase;
  @include ff-bold;
  font-size: 30px;
  color: #000;
}

.link {
  @include inline-block;
  margin: 40px 0;
  cursor: pointer;
  color: #fff !important;
  font-size: 26px;
  text-decoration: underline;

  &.black {
    color: #000 !important;
  }

  &:hover {
    text-decoration: none;
  }
}

.button {
  margin-top: 40px;
}
