.bridgeSection {
  text-align: center;

  .title {
    margin-bottom: 2rem;
  }
}

.exchangeForm {
  max-width: 42em;
  margin: 0 auto 3em;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: $l-box-shadow;
  background: #fff;
}

.inputWrapper {
  position: relative;
  margin-bottom: 2rem;
}

.calculationsWrapper {
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid $color-border;
  border-radius: 5px;
}

.buyButton {
  width: 100%;
}