.bridgeSection {
  text-align: center;

  .title {
    margin-bottom: 2rem;
  }
}

.componentsWrapper {
  max-width: 42em;
  margin: 0 auto 3em;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background: var(--color-background-elements);
}

.inputWrapper {
  position: relative;
}

.advancedOptionsToggle {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.arrow {
  @include arrow('down', 9px, 2px, var(--color));
  position: absolute;
  left: 0;
  top: 22%;
}

.calculationsWrapper {
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swapBtn {
  flex: 1;

  &:not(:first-of-type) {
    margin-left: 0.2rem;
  }
}
