.button {
  height: 48px;
  min-height: 48px;
  padding: 0 16px;
  @include inline-block;
  cursor: pointer;
  line-height: 40px;
  // text-transform: uppercase;
  // font-weight: bold;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  @include ff-bold;
  @include no-user-select;
  transition: background-color 0.23s ease, color 0.23s ease;
}

.fullWidth {
  width: 100%;
  display: block;
  padding: 0;
}

.fill {
  display: block;
  padding: inherit;
  width: 100%;
  height: 100%;
  margin: inherit;
}

.big {
  height: 68px;
  min-height: 68px;
}

.brand {
  background-color: $color-brand;
  box-shadow: 1px 1px 6px #929292;
  color: #fff;

  &:hover {
    background-color: lighten($color-brand, 5%);
  }
}

.green {
  background-color: #3de25b;
  color: #fff;

  &:hover {
    background-color: lighten(#3de25b, 5%);
  }
}

.blue {
  background-color: $primary;
  color: #fff;
  font-size: 15px;
}

// .small selector after .blue so that the font size is applied
.small {
  height: 39px;
  min-height: 39px;
  font-size: 0.9em;
}

.transparent {
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color: #fff;
}

.white {
  background-color: #fff;
  color: inherit;
  font-size: 15px;
}

.darkTheme-white {
  background-color: #cf3fff;
  color: white;
}

.gray {
  background-color: #f2f2f2;
  color: #000;

  &:hover {
    background-color: darken(#f2f2f2, 10%);
  }
}

.darkTheme-gray {
  background-color: #694cff;
  color: white;

  &:hover {
    color: black
  }
}

.transparent.blue {
  background: rgba(97, 68, 229, 0.1);
  font-weight: bold;
  color: $primary;
}

.disabled {
  filter: grayscale(1);
  opacity: 0.15;
  cursor: not-allowed;
}

.autoHeight {
  height: auto;
  padding: 0.5em 1em;
}

@include media-mobile {
  .button {
    line-height: inherit;
    padding: 0 9px;
  }
  .autoHeight {
    padding: 0.5em 0.5em;
  }
}