.button {
  @include inline-block;
  @include ff-bold;
  @include no-user-select;
  height: 48px;
  min-height: 48px;
  padding: 0 16px;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  transition: background 0.23s ease, color 0.23s ease;

  .pending {
    position: relative;
  }
  
  .pending::after {
    display: inline-block;
    animation: ellipsis 1.25s infinite;
    content: '.';
    width: 1em;
    text-align: left;
  }
}

@keyframes ellipsis {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
}

.fullWidth {
  width: 100%;
  display: block;
  padding: 0;
}

.fill {
  display: block;
  padding: inherit;
  width: 100%;
  height: 100%;
  margin: inherit;
}

.big {
  height: 68px;
  min-height: 68px;
}

.brand {
  background-color: var(--color-brand);
  color: #fff;

  &:hover {
    background-color: var(--color-brand-hover);
  }
}

.blue {
  background-color: var(--color-brand);
  color: #fff;
  font-size: 15px;
}

.small {
  width: 100%;
  min-height: 39px;
  height: 39px;
  font-size: 0.9em;
}

.empty {
  border: 1px solid var(--color-brand);
  background-color: transparent;
  color: var(--color-brand);
}

.link {
  color: var(--color-link);
  text-decoration: underline;
}

.small {
  width: 100%;
  min-height: 39px;
  height: 39px;
  font-size: 0.9em;
}

.transparent {
  font-size: 15px;
  font-weight: bold;
  background-color: var(--color-brand-background);
  color: var(--color-brand);
}

.gray {
  background-color: var(--color-border);

  &:hover {
    opacity: 0.8;
  }
}

.disabled {
  filter: grayscale(1);
  opacity: 0.25;
  cursor: not-allowed;
}

.autoHeight {
  height: auto;
  padding: 0.5em 1em;
}

@include media-mobile {
  .button {
    line-height: inherit;
    padding: 0 9px;
  }
  .autoHeight {
    padding: 0.5em 0.5em;
  }
}