.txt {
	border: 1px solid #e2e2e2;
	background: #fff;
	width: 85%;
	padding: 7px 5px;
	transition-duration: 0.2s;
	transition-property: all;
	color: #0e0f11;
	resize: none;
	height: 40px;
	text-align: left;
}

.name {
	margin: 0;
}

.wrap {
	margin: 10px 0px;
	width: 700px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}