.trade-panel__group {
    height: 58px;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: left;
    align-items: center;
}

.trade-panel__group_row {
    max-width: 340px;
}

.trade-panel__input {
    height: 58px;
    width: 60%;
    background: #fff;
    border: 0;
    border-right: 1px solid #f2f2f2;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.trade-panel__input_row {
    width: 180px;
}

.trade-panel__label {
    width: 40%;
    margin: 0;
    padding: 0;
}

.trade-panel__label_row {
    width: 155px;
}

.trade-panel__select {
    height: 58px;
    width: 40%;
}

.trade-panel__select{
    border: 0;
    border-radius: 6px;
    padding: 0;
    padding-left: 15px;
    background: #fff;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.06);
}

.trade-panel__select:focus {
    outline: none
}

.trade-panel__select .dropdown-item {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
}

.trade-panel__btn {
    background: none;
    width: 100%;
    padding: 0 40px 0 18px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    display: flex;
}

.trade-panel__btn:after {
    position: absolute;
    right: 15px;
    top: 24px;
}

.trade-panel__btn:focus,
.trade-panel__btn.focus {
    box-shadow: none;
}

.trade-panel__icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 15px;
    background-size: contain;
}

.icon-btc {
    background-image: url("./coin-1.svg");
}

.icon-eth {
    background-image: url("./coin-2.svg");
}

.trade-panel__search-field {
    border: 0;
    height: 57px;
    width: 100%;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.trade-panel__input:active,
.trade-panel__input:focus {
    outline: 0;
}