.availableCurrencies {
  position: absolute;
  width: 380px;
  height: 29px;
  left: 160px;
  top: 490px;

  font-family: Inter UI;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  font-size: 20px;

  color: #000000;
  padding-top: 45px;
  border-top: solid 0.5px #A9A9A9;

}
