
.description {
    padding-top: 30px;
}

.description__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #7c1de9;
    margin: 0 0 30px;
}

.description__sub-title {
    margin: 0 0 30px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    width: 550px;
}