.button {
  height: 40px;
  padding: 0 16px;
  @include inline-block;
  cursor: pointer;
  line-height: 40px;
  // text-transform: uppercase;
  // font-weight: bold;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  @include no-user-select;
  transition:
    background-color 0.23s ease,
    color 0.23s ease;
}

.fullWidth {
  width: 100%;
  display: block;
  padding: 0;
}

.brand {
  background-color: #E72BB3;
  box-shadow: 1px 1px 6px #929292;
  color: #fff;

  &:hover {
    background-color: lighten(#E72BB3, 5%);
  }
}

.green {
  background-color: #3de25b;
  color: #fff;

  &:hover {
    background-color: lighten(#3de25b, 5%);
  }
}

.blue {
  background-color: black;
  color: #fff;
  font-size: 15px;
}

.transparent {
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color: #fff;
}

.white {
  background-color: #fff;
  color: inherit;
  font-size: 15px;
}

.gray {
  background-color: #F2F2F2;
  color: #000;

  &:hover {
    background-color: darken(#F2F2F2, 10%);
  }
}

.disabled {
  background-color: #dbdbdb !important;
  cursor: default !important;
  color: #626262 !important;
}

.transparent.blue {
  font-weight: bold;
}
.transparent.blue,
.disabled.transparent {
  background: #a2acb2!important;
  color: white!important;
}

@include media-mobile {
  .button {
    height: 46px;
    line-height: 46px;
  }
}
