.container {
  padding: 100px 20px 0 20px;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container:after {
  content: "";
  display: block;
  left: 15px;
  right: 15px;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.text {
  width: 70%;

  h2 {
    font-family: 'Inter-Medium';
    font-size: 24px;
    color: #fff;
    margin-bottom: 70px;
    line-height: 1.5;
  }

  b {
    cursor: pointer;
  }

  a {
    font-size: 24px;
    text-decoration: underline;
  }
}

.steps {
  font-size: 24px;
  position: relative;
  top: 10px;
}


.title {
  color: #7777ff;
  font-weight: bold;
  display: block;
  font-size: 32px;
}

.btnGroup {
  display: block;
  position: relative;
  margin-bottom: 70px;
  text-align: center;
  width: 30%;

  div {
    position: relative;
    width: 100%;
    padding-left: 15px;
  }
}

.button {
  margin: 8px;
  min-width: 290px;
  font-family: 'Inter-Regular';
  border-radius: 30px;
  font-size: 16px;
  padding: 16px 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid #7777ff;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dark {
  color: white;
  background-color: #7777ff;
}

.light {
  border-color: #a8a8f9;
  color: #7777ff;
}

.light:hover {
  background-color: #6263d95e;
  border: 1px solid #a8a8f9;

  a {
    color: #a8a8f9;
  }
}

.dark:hover {
  background-color: #9c9cf8;
  border: 1px solid #9c9cf8;
}

@media screen and (max-width: 1019px) {
  .container {
    padding: 60px 20px 0 20px;
    display: block;
  }

  .text {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    h2 {
      margin-bottom: 30px;
    }
  }

  .btnGroup {
    display: flex;
    width: 100%;
  }
}

@include media-mobile {
  .container {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-top: 60px;
  }

  .text {
    text-align: left;
  }

  .button {
    font-size: 14px;
    min-width: 220px;
  }

  .text {
    h2 {
      font-size: 24px;
    }
  }

  .btnGroup {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;

    div {
      padding-left: 0;
    }
  }
}