.someSwap {
  max-width: 38em;
  margin: 0 auto 3em;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: var(--box-shadow);
  background: var(--color-background-elements);
}

.inputWrapper {
  position: relative;
}

.bankCardButton {
  margin-bottom: 2rem;
}

.balanceTooltip {
  @include ff-mono;
  padding: 0 0.5rem;
  position: absolute;
  z-index: 1;
  top: -0.5rem;
  right: 0.7rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
  background-color: var(--color-background-elements);
  color: var(--color-notice);
}

.advancedSettings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  form {
    margin-top: 1.4rem;
  }
}

.toggleWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .name {
    margin: 0;
    margin-left: 0.6rem;
  }

  label {
    margin: 0.5rem 0.3rem 0.5rem 0;
  }
}

.settings {
  width: 100%;
  border-radius: 6px;
}

.swapInfo {
  margin-bottom: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 5px;
  color: var(--color-notice);
}

.loaderWrapper {
  display: inline-block;
  margin: 0.8rem 0;
  opacity: 0.7;
}

.indicator {
  font-weight: 700;

  span {
    @include ff-mono;
    display: inline-block;
    font-weight: 400;
    margin-left: 0.3rem;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  flex: 1;

  &:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}
