.allOrders {
  margin-top: 35px;
}

.titleButtonRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  margin-left: 80%;
  font-size: 14px;
  line-height: 28px;
  height: 100%;
  padding: 5px 5px;
}
