.history-filter {
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.history-filter__item {
  font-size: 18px;
  opacity: 0.6;
  color: #000;
  margin-right: 45px;
  font-weight: bold;
  text-decoration: none;
}

.history-filter__item:hover {
  color: #000;
  opacity: 1;
}

.history-filter__item_active {
  opacity: 1;
  border-bottom: 2px solid #500ed8;
}
