.menu {
  position: absolute;
  list-style: none;
  padding: 0;
  display: flex;
  left: 160px;
  top: 52px;
}

.menuItem {
  margin-right: 40px;
}
.menuLink {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  line-height: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
