.Switching {
  display: flex;
  background: url('./images/Switching.svg') 50% 50% no-repeat;
  height: 58px;
  width: 32px;
  cursor: pointer;
  width: 25%;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
}
