.Switching {
  display: flex;
  background: url('./images/swapIcon.svg') 50% 50% no-repeat;
  position: absolute;
  top: -40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
}

.noneBorder {
  border: none;
}
