.Switching {
  display: flex;
  background: url('./images/swapIcon.svg') 50% 50% no-repeat;
  height: 44px;
  position: relative;
  cursor: pointer;
  z-index: 111;
  width: 100%;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
}

.noneBorder {
  border: none;
}
