@import "custom.scss";

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'CerebriSans';
  src: url('../fonts/CerebriSans-Regular.eot');
  src: url('../fonts/CerebriSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CerebriSans-Regular.woff2') format('woff2'),
  url('../fonts/CerebriSans-Regular.woff') format('woff'),
  url('../fonts/CerebriSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans';
  src: url('../fonts/CerebriSans-SemiBold.eot');
  src: url('../fonts/CerebriSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CerebriSans-SemiBold.woff2') format('woff2'),
  url('../fonts/CerebriSans-SemiBold.woff') format('woff'),
  url('../fonts/CerebriSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CerebriSans';
  src: url('../fonts/CerebriSans-Bold.eot');
  src: url('../fonts/CerebriSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CerebriSans-Bold.woff2') format('woff2'),
  url('../fonts/CerebriSans-Bold.woff') format('woff'),
  url('../fonts/CerebriSans-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


body {
  font-size: 18px;
  font-family: 'CerebriSans', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:hover{
  color: #fff;
}

button:hover,
button:active,
button:focus,
.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/************************* MAIN PAGE *************************/

.container {
  width: 1100px;
}

.main {
  position: relative;
  z-index: 3;
  padding-top: 88px;
}

.table tbody tr td {
  height: 114px;
  vertical-align: middle;
}

.table thead {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.03);
}

.table > thead > tr > th {
  border: 0;
}


/************************************** MEDIA QUERIES **************************************/

@media all and (max-width: 1280px) {
  .container {
    width: 100%;
  }
}