@import "~sanitize.scss/_sanitize.scss";
@import "fonts/index";

body {
  @include ff;
  font-family: sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.modal {
  display: block !important;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

button:hover,
button:active,
button:focus,
.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.__modalConductorProvided__ {
  position: relative;
}
