.registerSMSModalHolder {
  max-width: 600px;
}

.infoCaption {
  padding-bottom: 20px;
  text-align: center;
}

.mnemonicNotice {
  padding-bottom: 20px;
  font-size: 14px;
}

.mnemonicButtonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;

  button {
    width: 45%;
  }
}

.finishImg {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.smsInfoBlock {
  padding-bottom: 20px;
  padding-top: 10px;
}

.smsCodeHolder {
  max-width: 200px;
  margin: 0 auto;
}

.confirmSmsCode {
  max-width: 200px;
  margin: 0 auto;
}

.restoreInstruction {
  text-align: center;

  pre {
    text-align: left;
  }
}

.buttonsHolder {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;

  button {
    width: 30%;
  }

  &_2_buttons button {
    width: 45%;
  }
}

.buttonContainer {
  width: 100%;
  padding: 0 11%;
}

.phoneNumber {
  height: 4em;
  margin: 1em 0;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 2px solid var(--color-brand);

  input {
    height: 80%;
  }
}

@include media-mobile {
  .finishImg {
    margin-bottom: 1rem;
  }
}