.notifyBlock {
  height: 220px;
  border-radius: 4px;
  background: #6143e5;
  display: flex;
  z-index: 111111;
  cursor: pointer;
  font-family: 'Manrope-Bold', sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  position: relative;
  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.notifyBlockIcon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 30px;
  img {
    width: 100px;
  }
}

.notifyBlockOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 5px;
  left: 0;
}

.notifyBlockDescr {
  margin-left: 10px;
  color: #fff;
  position: absolute;
  font-family: 'Manrope-Bold', sans-serif;
  bottom: 20px;
  left: 10px;
  right: 25px;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .notifyBlock {
    height: max-content;
    > div:first-child {
      width: 60%;
    }
    button {
      font-size: 11px;
    }
  }
  .notifyBlockDescr {
    p {
      font-size: 12px;
      margin-bottom: 0px;
    }
    p:last-child {
      font-size: 12px;
    }
  }
  .notifyBlockIcon {
    align-self: flex-start;
    min-width: 40px;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .notifyBlock {
    flex-direction: column;
    height: max-content;
    align-items: flex-start;
    padding: 20px;
    justify-content: space-between;
    > div {
      align-items: flex-start;
      button {
        font-size: 12px;
        margin: 0;
      }
      button:first-child {
        margin-right: 10px;
      }
    }
    > div:last-child {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
    }
  }
  .notifyBlockIcon {
    min-width: 40px;
    display: none;
  }
  .notifyBlockDescr {
    margin-left: 0;
  }
}

@media all and (min-width: 571px) and (max-width: 767px) {
  .notifyBlockDescr {
    p {
      font-size: 13px;
      margin-bottom: 0px;
    }
    p:last-child {
      font-size: 12px;
    }
  }
}
@media all and (min-width: 320px) and (max-width: 570px) {
  .notifyBlockDescr {
    p {
      font-size: 13px;
      margin-bottom: 4px;
    }
    p:last-child {
      font-size: 12px;
    }
  }
  .notifyBlock {
    height: 265px;
    > div {
      flex-direction: column;
      align-items: normal;
      button {
        font-size: 12px;
        margin: 0;
        flex-basis: 100%;
      }
      button:first-child {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}
