@keyframes scrollAnimation {
  0% {
    transform: translate(-50%, 0);
  }

  13% {
    transform: translate(-50%, -3px);
  }

  26% {
    transform: translate(-50%, 3px);
  }

  40% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

.minerFeeInfo {
  text-align: center;
  font-size: 10pt;
  padding-bottom: 10px;
  font-weight: bold;
  color: #d60505;
  font-family: 'Roboto Mono', monospace;
  A {
    font-family: arial black;
    font-size: 9pt;
  }
}

@keyframes errorAppend {
  0% {
    max-height: 0;
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    max-height: 300px;
  }
}

@mixin errAppend {
  animation: errorAppend 0.7s linear 1;
  will-change: max-height, opacity;
}

@media (min-width: 831px) {
  .TitleHolder {
    position: absolute;
    width: 50%;
    top: 87px;

    h1,
    span {
      font-size: 45px;
    }

    * {
      margin: 0;
      padding: 0;
    }
  }

}

.promoContainer {
  position: relative;

  &.--dark {
    background: #222427;
    color: white;

    .formExchange {
      background: #242425;
      box-shadow: 0px 4px 16px rgba(243, 243, 243, 0.08), 0px 1px 4px rgba(240, 233, 233, 0.08);

      @media screen and (max-width: 480px) {
        height: 100%;
        background: none;
        box-shadow: none;
      }
    }

    .price,
    .maxAmount {
      background: none;
      color: #8e9aa3;
    }

    .buttonOrders,
    &:before {
      background: #694cff !important;
      color: white;
    }

    .notifyThat {
      background: #2e2941;
    }

    .maxAmount {
      color: white;
      background: #242425;
    }

    .IsSearching {
      color: white;
    }
  }

}

.darkForm {
  .maxAmount {
    color: white;
    background: #242425;
  }

  .IsSearching {
    color: white;
  }

  .mobileDubleHeader {
    display: none;
  }

  @media screen and (max-width: 480px) {
    .maxAmount {
      background: none;
    }
  }
}

.scrollToTutorialSection {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 56px;
  right: 50%;
  color: gray;
  cursor: pointer;
  transition: opacity 0.3s ease, visibility 0.1s 0.3s;

  &:global(.hidden) {
    opacity: 0;
    visibility: hidden;
  }
}

.switchButton {
  display: flex;
  position: relative;
  justify-content: flex-end;
  top: -42px;
  height: 0;
}

.scrollTrigger {
  content: '';
  background: black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: scrollAnimation 5s linear infinite;
}

.scrollAdvice {
  display: inline-block;
  margin-right: 15px;
  font-size: 10px;
  line-height: 1.1em;
}

.exchangeWrap {
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.IsSearching {
  display: block;
  position: relative;
  margin-bottom: 10px;
  @include errAppend();
}

.button {
  margin-top: 0;
  width: 100%;
  border-radius: 3px;
  height: 68px;
  font-size: 16px;
  line-height: 1em;
  flex-basis: 47%;
  box-shadow: none;
}

.button.disabled {
  background: #f5f5f5;
}

.buttonContinueSwap {
  margin-top: 1em;
  width: 100%;
}

.walletInput input {
  border: none;
  margin: 0;
  height: 30px;
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;

  &:focus {
    border: none;
  }
}

.walletOpenSide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  margin-bottom: -10px;
}

.rowBtn {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
}

.buttonOrders {
  border: 1px solid #000;
  background: #fff;
  transition: background-color 0.2s ease, color 0.1s ease, border-color 0.2s ease;

  &:hover {
    background: black;
    color: white;
    border-color: white;
  }
}

.darkButton {
  background: #694cff;
  color: white;

  &:hover {
    background: black;
    color: white;
    border-color: white;
  }
}

.specify {
  width: 200px;
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
}

.walletToggle {
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  min-height: 73px;
  margin-bottom: 30px;
  padding: 0 20px;

  &_site {
    position: relative;
  }
}

.anotherRecepient {
  position: relative;
  z-index: -1;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease;

  &_active {
    z-index: 0;
    opacity: 1;
    max-height: 100vh;
    transition: opacity 0.3s 0.2s, max-height 0.7s ease;
  }
}

.walletInput {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.widgetSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section {

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    .formExchange_widgetBuild {
      padding: 0;
    }

    .maxAmount {
      top: -5px;
      right: 10px;
    }
  }
}

.blockVideo {
  flex-basis: 58%;

  iframe {
    width: 100%;
    height: 355px;
  }
}

.formExchange {
  position: relative;
  margin-bottom: 44px;
  padding: 45px 33px 35px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding: 0;
  }
}


.error {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.3em 10px;
  margin-top: -5px;
  font-size: 13px;
  background: #ac82c5;
  border-radius: 3px;
  margin-bottom: 15px;
  @include errAppend();

  a {
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
  }
}

.error.link {
  cursor: pointer;
}

.notifyThat {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.3em 10px;
  margin-top: -5px;
  font-size: 13px;
  background: #6244e5;
  border-radius: 3px;
  margin-bottom: 15px;
  @include errAppend();

  a {
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
  }
}

.notCorrect {
  color: red;
}

.row {
  display: flex;
  align-items: center;
}

.flipButton {
  position: static;
  padding: 0;
  margin: 0px 12px -20px auto;
  transform: rotate(90deg);
}

.withLoader {
  display: block;
  position: relative;
}

.inform {
  color: #626262;
  margin-top: 40px;
}

.loaderHolder {
  display: inline-block;
  position: relative;
  top: 2px;
}

.additionalLoaderHolder {
  display: block;
  position: relative;

  >* {
    display: block;
    position: static !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.price {
  position: absolute;
  bottom: 32px;
  right: 10px;
  background: #fff;

  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-align: right;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
  z-index: 2;
}

.selectWrap {
  position: relative;
}

.scan {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 999999999999999999;
}

.close {
  text-align: right;
  position: relative;
  font-size: 30px;
}

.qrCode {
  position: absolute;
  left: 97%;
  top: 9px;
}

.extendedControls {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: -16px 0 26px;
  background: white;
  overflow: visible;
  @include errAppend();

  >div {
    margin: 0;
  }
}

.maxAmount {
  position: absolute;
  top: -10px;
  background: #fff;
  font-size: 13px;
  right: 10px;
  padding: 0 0.5em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 0;
  z-index: 2;
}

.widgetLink {
  position: absolute;
  right: 0;
  bottom: -1.7em;
  text-decoration: underline;
  font-size: 13px;
}

.networkStatusPlace {
  position: absolute;
  left: 0;
  bottom: -1.7em;
  font-size: 13px;
}

.mobileDubleHeader {
  display: none;
}

.tooltipHeader {
  font-size: 1em;
  line-height: 1em;

  *[class*="tooltip"] {
    line-height: 1.2em;
    font-size: 16px;
  }
}

.referralText {
  margin: 100px auto 40px;
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .referralText {
    padding: 0 2em;
  }
}

@include media-tablet {
  .blockVideo {
    flex-basis: 50%;
  }

  .block {
    flex-basis: 45%;
  }

  .button {
    font-size: 12px;
  }

  .maxAmount {
    font-size: 14px;
  }

  .TitleHolder {
    width: 45%;

    h1,
    span {
      font-size: 35px;
    }
  }

}

@media all and (max-width: 830px) {
  .price {
    bottom: 25px;
  }

  .section,
  .widgetSection {
    margin-top: 20px;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 830px;
    margin: auto;
  }

  .button {
    font-size: 12px;
  }

  .block {
    margin-bottom: 80px;
    margin-top: 60px;
  }

  .widgetSection {
    padding: 0 25px;
    overflow: hidden;

    .flipButton {
      left: auto;
      right: 40px;
      transform: translateY(12px) rotate(90deg);
    }

    .selectedItem {
      width: auto;
    }
  }

  .TitleHolder {
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  .button {
    font-size: 12px;
    height: 48px;
  }
}

@include media-widget {
  .block {
    margin: 0 auto;
  }
}

@include media-mobile {

  .formExchange_widgetBuild {
    padding: 50px 15px;
    box-shadow: unset;
    border-radius: unset;
  }

  .scrollToTutorialSection {
    bottom: 40px;
    right: 40%;
  }

  .referralText {
    overflow: hidden;
    width: 90%;
    position: relative;
    margin: 60px auto 0;
  }

  .mobileDubleHeader {
    display: block;
    background: white;

    h3 {
      display: block;
      margin: auto;
      margin-top: -100px;
      margin-bottom: 100px;
      padding: 0;
      padding-bottom: 10px;
      padding-top: 15px;

      div {
        display: block;
        margin: auto;
        width: 90%;
        text-align: center;
      }
    }
  }

  .inform {
    margin-top: 10px;
  }

  .IsSearching {
    font-size: 12px;
  }

  .maxAmount {
    top: 43px;
    right: 20px;
    font-size: 10px;
  }

  .formExchange {
    width: 100%;
    padding: 30px 15px;
    border-radius: 4px;
  }

  .section {
    margin: 0;
    padding: 0;
  }

  .specify {
    width: 170px;
    font-weight: 500;
    line-height: 19px;
    font-size: 13px;
  }
}
