@keyframes loader1 {
  0% {
    opacity: 0;
    transform: translate3d(25%, -50%, 0) rotateY(-77deg);
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
  }
}

@keyframes loader2 {
  0% {
    opacity: 0;
    transform: translate3d(20%, -50%, 0) rotateY(-107deg);
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
  }
}

@keyframes loader3 {
  0% {
    opacity: 0;
    transform: translate3d(50%, -50%, 0);
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -50%, 0);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
}

.overlay {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.loader {
  width: 100px;
  height: 100px;
  perspective: 60px;
  perspective-origin: 7% 57%;

  &.small {
    width: 50px;
    height: 50px;
    -webkit-perspective: 30px;
    perspective: 30px;
  }

  &.center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.loader1, .loader2, .loader3 {
  position: absolute;
  opacity: 0;
}

.loader1:first-child, .loader2:first-child, .loader3:first-child {
  margin-left: 0;
}

.loader1 {
  width: 28%;
  height: 80%;
  background: linear-gradient(#6829df, #5124d5);
  left: 0;
  top: 50%;
  transform: translate3d(25%, -50%, 0) rotateY(-77deg);
  animation: loader1 1.6s infinite;
}

.loader2 {
  width: 20%;
  height: 63%;
  background: linear-gradient(#702be1, #623ad9);
  left: 48%;
  top: 50%;
  transform: translate3d(20%, -50%, 0) rotateY(-107deg);
  animation: loader2 1.6s infinite;
  animation-delay: 0.2s;
}

.loader3 {
  width: 28%;
  height: 33%;
  right: 0;
  top: 47%;
  overflow: hidden;
  transform: translate3d(50%, -50%, 0);
  animation: loader3 1.6s infinite;
  animation-delay: 0.4s;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 140%;
    background: linear-gradient(155deg, #802cf6, #5023d5);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-37%, -37%, 0) rotate(40deg);
  }
}

.text {
   position: absolute;
   font-size: 16px;
   left: calc(50% - 245.5px);
   top: 65%;
 }

.link {
  position: absolute;
  font-size: 16px;
  left: calc(50% - 408.5px);
  top: 70%;
}

.over {
  text-transform: uppercase;
}
