.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.loader {
  width: 100px;
  height: 100px;
  perspective: 60px;
  perspective-origin: 7% 57%;
  margin: auto;

  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &.small {
    width: 50px;
    height: 50px;
    -webkit-perspective: 30px;
    perspective: 30px;
  }
}

.loader1:first-child, .loader2:first-child, .loader3:first-child {
  margin-left: 0;
}

.text {
  margin-top: 20px;
  font-size: 16px;
  top: 65%;
  text-align: center;
  padding: 0 5px;
 }

.link {
  margin-top: 10px;
  font-size: 16px;
  top: 70%;
  text-align: center;
  padding: 0 5px;
}

.over {
  text-transform: uppercase;
}

.tips {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;
  padding: 0 5px;
}

.Firefox {
  .loader {
    div {
      opacity: 1;
      animation: none;
    }
  }
  .loader1 {
    transform: translate3d(-15%, -50%, 0) rotateY(-37deg);
  }
  .loader2 {
    transform: translate3d(-60%, -50%, 0) rotateY(-57deg);
  }
  .loader3 {
    transform: translate3d(0, -50%, 0);
  }
}

@include media-mobile {
  .overlay {
    width: 100%;
    height: 100%;
  }

  .text {
    margin-top: 20px;
    font-size: 10px;
    top: 65%;
    text-align: center;
    padding: 0 5px;
   }

   .link {
     margin-top: 10px;
     font-size: 7px;
     top: 70%;
     text-align: center;
     padding: 0 5px;
   }
}
