.blockCenter {
  text-align: center;

  strong {
    word-wrap: break-word;
  }
}

.finishImg {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.txLink {
  word-break: break-all;
}
.shortInfoHolder {
  padding-bottom: 2rem;
}

.buttonHolder {
  padding-top: 3rem;
}

.balanceRow {
  color: #8E9AA3;
  font-size: 13px;
}

.textThrough {
  text-decoration: line-through;
}

.blockCenter__table {

  border: 1px solid rgba(142, 154, 163, 0.16);
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(142, 154, 163, 0.08);
  border-radius: 4px;
  font-size: 15px;

  td.header {
    text-align: left;
    font-weight: bold;
  }

  td.data {
    text-align: justify;
  }

}

@include media-mobile {
  .finishImg {
    margin-bottom: 0px;
  }
  .shortInfoHolder {
    padding-bottom: 0px;
  }
  .buttonHolder {
    padding-top: 0px;
  }
}