.button {
  height: 56px;
  background-color: #E72BB3;
  cursor: pointer;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border-radius: 6px;
}
