.button {
  height: 48px;
  min-height: 48px;
  padding: 0 16px;
  @include inline-block;
  cursor: pointer;
  line-height: 40px;
  // text-transform: uppercase;
  // font-weight: bold;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  font-family: "Inter-Bold", sans-serif;
  @include no-user-select;
  transition: background-color 0.23s ease, color 0.23s ease;
}

.fullWidth {
  width: 100%;
  display: block;
  padding: 0;
}

.fill {
  display: block;
  padding: inherit;
  width: 100%;
  height: 100%;
  margin: inherit;
}

.big {
  height: 68px;
  min-height: 68px;
}

.brand {
  background-color: #e72bb3;
  box-shadow: 1px 1px 6px #929292;
  color: #fff;

  &:hover {
    background-color: lighten(#e72bb3, 5%);
  }
}

.green {
  background-color: #3de25b;
  color: #fff;

  &:hover {
    background-color: lighten(#3de25b, 5%);
  }
}

.blue {
  background-color: #6144e5;
  color: #fff;
  font-size: 15px;
}

.transparent {
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color: #fff;
}

.white {
  background-color: #fff;
  color: inherit;
  font-size: 15px;
}

.gray {
  background-color: #f2f2f2;
  color: #000;

  &:hover {
    background-color: darken(#f2f2f2, 10%);
  }
}

.transparent.blue {
  background: rgba(97, 68, 229, 0.1);
  font-weight: bold;
  color: #6144e5;
}

.disabled {
  background: rgba(97, 68, 229, 0.15);
  font-weight: bold;
  color: rgba(97, 68, 229, 0.5);
}

.autoHeight {
  height: auto;
  padding: 0.5em 1em;
}

@include media-mobile {
  .button {
    line-height: inherit;
    padding: 0 9px;
  }
  .autoHeight {
    padding: 0.5em 0.5em;
  }
}