.promoText {
  width: 560px;
  font-style: normal;
  line-height: 60px;
  font-size: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  margin-bottom: 50px;
  font-family: 'Inter-Bold', sans-serif;
}

.promoTextColored {
  color: black;
}

@include media-tablet {
  .promoText {
    width: auto;
    text-align: center;
    font-size: 30px;
  }
}

@include media-mobile {
  .promoText {
    display: none;
    width: 100%;
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 70px;
  }
}
