.promoText {
  width: 560px;
  font-style: normal;
  line-height: 60px;
  font-size: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  margin-bottom: 50px;
  font-family: 'Inter-Bold', sans-serif;
}

.promoTextColored {
  color: #6144E5;
}
