.links {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 40px;
}

.column {
  display: flex;
  flex-direction: column;

  h4 {
    font-weight: bold;
    font-size: 24px;
    color: #E72BB3;
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
    color: #000000;
    transition: all 0.3s ease;
    line-height: 14px;
    margin-bottom: 10px;

    &:hover {
      color: #e91db4;
    }
  }

  span {
    font-size: 16px;
    margin-top: 12px;
  }
}

@include media-mobile {
  .column {
    width: 100%;

    h4 {
      text-align: center;
    }

    span {
      font-size: 18px;
    }
  }
}

@include media-tablet {
  .column {
    flex: 0 45%;
    margin-right: 5%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    span {
      font-size: 18px;
    }
  }
}

@include media-desktop {
  .column {
    margin-top: 0;
  }

  h4 {
    font-size: 20px;
  }

  a {
    font-size: 14px;
  }
}
