.langSwitcher {
  a {
    font-size: 14px;
  }
}

.language {
  font-size: 20px;
  cursor: pointer;
  color: var(--color-brand-hover);
  font-weight: bolder;
  padding: 0 3px 0 3px;

  &:not([href]) {
    color: var(--color-notice);
  }
}

