.trade-panel__change {
    display: flex;
    align-items: center;
    height: 58px;
    width: 32px;
    cursor: pointer;
    margin: 0px 25px;
}

@media screen and (max-width: 690px) {
    .trade-panel__change {
        display: none;
    }
} 
