.swapsHistory {
  box-shadow: var(--box-shadow);
  background: var(--color-background-elements);
  border-radius: var(--main-component-border-radius);
  padding: 25px;
  margin-top: 40px;
  width: 100%;
  z-index: 1;
  position: relative;

  @media all and (max-width: 767px) {
    margin-top: 25px;
    padding: 15px;
  }

  h3 {
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
