.user-cont__add-user {
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  background: #e91db4;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;

  &:hover {
    background: #e91db4;
    color: #fff;
  }
}