.userTooltip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.buy, .accept {
  color: #3de25b;
}

.sell, .delete {
  color: #e32950;
}


.delete, .accept {
  cursor: pointer;
}

td {
  text-align: center;

  th {
    text-transform: lowercase;
  }
}

/* .currency {
  font-size: 14px;
  font-weight: 700;
  min-width: 150px;
  margin-right: 10px;
  display: flex;
  align-items: center;
} */

.coin {
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: space-around;

  > * + * {
    margin-left: 3px;
  }
}

.arrow {
  display: inline-block;
  width: 5px;
  margin: 5px;
}

.arrow img {
  display: block;
  width: 100%;
  height: auto;
}

.shareFrame {
  height: 25px;
  width: 25px;
  border: 1px solid #0004;
  border-radius: 50%;
  background-color: #aaa2;
  cursor: pointer;
  position: relative;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -50%);
  width: 18px;
  height: 18px;
}

.share {
  color: #212529;
  &:hover {
    color: #212529;
  }
}

.shareTip {
  position: absolute;
  font-size: 12px;
  top: -1.5em;
  left: -50%;
}

.value {
  opacity: 1;
}

.currency {
  opacity: 0.6;
}


