.withdrawButton {
  @include inline-block;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px;

  &:hover {
    color: #7c1de9;
    background: #dfc5ff;
  }
}
