input,
textarea {
  background: none;
  outline: none;
  border: 0;
  border-radius: 0;
}

.input {
  width: 100%;
  height: 68px;
  padding: 0 16px;
  border-radius: 2px;
  vertical-align: top;
  line-height: 14px;
  box-shadow: none;
  font-size: 15px;
  padding-left: 15px;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;

  &:focus {
    border: 2px solid #6144e5;
    outline: none;
    padding: 0 14px;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}

.srollingForm {
  height: 100px !important;
  overflow-y: auto !important;
}

.root {
  display: block;
  width: 100%;

  &.--dark {
    .inputContainer {
      background-color: #2b2b2b;

      input {
        color: white;
      }

      input:disabled {
        background-color: #2b2b2b !important;
        cursor: no-drop;
      }
    }
    .qr {
      background: #2b2b2b;
    }
  }
}

.inputContainer {
  position: relative;
  background-color: #fff;
  border-radius: 6px;

  &.withMargin {
    margin-bottom: 40px;
  }

  &.disabled {
    background-color: #fafafa;
  }

  &.withError {
    border-color: $color-f-error;

    .input~.label {
      color: $color-f-error;
    }
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

.rightEl {
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 13px;
  color: #828795;
  padding: 5px;
}

.dollar {
  position: absolute;
  bottom: -30px;
  background: #fff;
  right: 10px;
  font-size: 13px;
  color: #828795;
  padding: 5px 10px;
}

.qr {
  color: #6143e5;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
}


.input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(31, 45, 72, 0.3);
}

.input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(31, 45, 72, 0.3);
}

.input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(31, 45, 72, 0.3);
}

.input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(31, 45, 72, 0.3);
}

.inputError {
  border: 1px solid red;

  &:focus {
    border: 1px solid red;
  }
}

@include media-tablet-landscape-and-lower {
  .input {
    width: 100%;
  }
}

textarea.input {
  line-height: 18px;
  padding: 20px 16px;
  font-size: 16px;

  &:focus {
    padding: 19px 15px;
  }

  @include placeholder() {
    line-height: 18px;
  }
}

.error {
  font-size: 14px;
  color: $color-f-error;

  [role='errorLink'] {
    display: inline !important;
    color: inherit !important;
    vertical-align: inherit !important;
    text-decoration: underline !important;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .inputContainer {
    &.smallFontSize {
      input {
        font-size: 11px;
      }
    }

    @include placeholder() {
      font-size: 11px;
    }
  }
}

@media all and (max-width: 480px) {
  .error {
    font-size: 10px;
  }
}