input, textarea {
  background: none;
  outline: none;
  border: 0;
  border-radius: 0;
}

.root {
  display: block;
  width: 100%;
}

.inputContainer {
  position: relative;
  background-color: #fff;
  border-radius: 6px;

  &.disabled {
    background-color: #fafafa;
  }

  &.withError {
    border-color: $color-f-error;

    .input ~ .label {
      color: $color-f-error;
    }
  }
}


.textUsd {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 16px;
  color: #828795;
  background: white;
  padding: 5px;
  box-shadow: -20px 0px 20px -15px rgba(0,0,0, 0.5);
}

.input {
  width: 100%;
  height: 68px;
  padding: 0 16px;
  border-radius: 3px;
  // TODO placeholder doesn't change. Check on Messages page in New Message textarea
  //+input-placeholder()
  vertical-align: top;
  line-height: 14px;
  box-shadow: none;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  padding-left: 20px;
  color: $color-f-main;
  appearance: textfield;
  border: 1px solid rgba(0,0,0,0.2);
  outline: none;

  &:focus {
    border: 1px solid #1E2A4B;
    outline: none;
  }
}

.inputError {
  border: 1px solid red;
  &:focus {
    border: 1px solid red;
  }
}

@include media-tablet-landscape-and-lower {
  .input {
    width: 100%;
  }
}

textarea.input {
  line-height: 18px;
  padding: 11px 12px;
  font-size: 16px;
  transition: padding 0.13s linear;

  @include placeholder() {
    line-height: 18px;
  }
}

.error {
  font-size: 14px;
  color: $color-f-error;

  [role = "errorLink"] {
    display: inline !important;
    color: inherit !important;
    vertical-align: inherit !important;
    text-decoration: underline !important;
  }
}

@include media-mobile {
  .input {
    font-size: 14px !important;;
    height: 60px;
  }

  .root {
    width: 95%;
  }
  .textUsd {
    top: 15px;
    font-size: 14px;
  }
}
