input, textarea {
  background: none;
  outline: none;
  border: 0;
  border-radius: 0;
}

.root {
  display: block;
}

.inputContainer {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(#000, 0.08) 0 3px 9px 0;
  border-radius: 6px;

  &.disabled {
    background-color: #fafafa;
  }

  &.withError {
    border-color: $color-f-error;

    .input ~ .label {
      color: $color-f-error;
    }
  }
}

.input {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  // TODO placeholder doesn't change. Check on Messages page in New Message textarea
  //+input-placeholder()
  vertical-align: top;
  line-height: 16px;
  font-size: 16px;
  @include ff;
  color: $color-f-main;

  &:focus {
    border-color: #6F8BC2;
  }
}

textarea.input {
  line-height: 18px;
  padding: 11px 12px;
  font-size: 16px;
  transition: padding 0.13s linear;

  @include placeholder() {
    line-height: 18px;
  }
}

.error {
  margin-top: 6px;
  line-height: 13px;
  font-size: 12px;
  color: $color-f-error;

  [role = "errorLink"] {
    display: inline !important;
    color: inherit !important;
    vertical-align: inherit !important;
    text-decoration: underline !important;
  }
}
