input, textarea {
  background: none;
  outline: none;
  border: 0;
  border-radius: 0;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


.srollingForm {
  height: 100px !important;
  overflow-y: auto !important;;
}


.root {
  display: block;
  width: 100%;
}

.inputContainer {
  position: relative;
  background-color: #fff;
  border-radius: 6px;

  &.withMargin {
    margin-bottom: 25px;
  }

  &.disabled {
    background-color: #fafafa;
  }

  &.withError {
    border-color: $color-f-error;

    .input ~ .label {
      color: $color-f-error;
    }
  }
}


.rightEl {
  position: absolute;
  top: 13px;
  right: 10px;
  font-size: 16px;
  color: #828795;
  background: white;
  padding: 5px;
  box-shadow: -20px 0px 20px -15px rgba(0,0,0, 0.5);
}

.qr {
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  height: 48px;
  padding: 0 16px;
  border-radius: 2px;
  vertical-align: top;
  line-height: 14px;
  box-shadow: none;
  font-size: 15px;
  font-family: 'Inter-Bold', sans-serif;
  padding-left: 15px;
  border: 1px solid rgba(0,0,0,0.2);
  outline: none;

  &:focus {
    border: 1px solid #6144E5;
    outline: none;
  }
  
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(31, 45, 72, 0.3);
}
.input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(31, 45, 72, 0.3);
}
.input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(31, 45, 72, 0.3);
}
.input:-moz-placeholder { /* Firefox 18- */
  color: rgba(31, 45, 72, 0.3);
}


.inputError {
  border: 1px solid red;
  &:focus {
    border: 1px solid red;
  }
}

@include media-tablet-landscape-and-lower {
  .input {
    width: 100%;
  }
}

textarea.input {
  line-height: 18px;
  padding: 11px 12px;
  font-size: 16px;
  transition: padding 0.13s linear;

  @include placeholder() {
    line-height: 18px;
  }
}

.error {
  font-size: 14px;
  color: $color-f-error;

  [role = "errorLink"] {
    display: inline !important;
    color: inherit !important;
    vertical-align: inherit !important;
    text-decoration: underline !important;
  }
}

@include media-mobile {

  .root {
    width: 95%;
  }
  .rightEl {
    top: 15px;
    font-size: 14px;
  }
}
