.button {
  margin-top: 40px;
}

.error {
  margin-top: 6px;
  font-size: 14px;
  color: red;
}

.payment {
  margin-top: 6px;
  font-size: 14px;
  color: green;
}

.input {
  width: 550px;
}

.margin {
  margin-bottom: 20px;
}
