.groupField {
  width: 100%;
  display: inline-flex;
  height: 68px;
  margin-bottom: 20px;
  vertical-align: center;
  border-radius: 6px;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}

.row {
  display: flex;
  display: flex;
  align-items: baseline;
  position: absolute;
  top: -0.8em;
  left: 1em;
}

.smallTooltip {
  > span {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    justify-content: center;
    span {
      font-size: 10px;
    }
  }
}

.balance {
  position: absolute;
  z-index: 1;
  top: -9px;
  font-weight: bold;
  background: var(--color-background-elements);
  font-size: 13px;
  right: 20px;
  font-family: "Roboto Mono", monospace;
  padding: 0 10px;
  color: var(--color-indicating);
}

.textUsd {
  color: var(--color-notice);
  position: absolute;
  left: 10px;
  font-family: "Roboto Mono", monospace;
  bottom: -14px;
  top: auto;
  background: var(--color-background-elements);
  right: auto;
  padding: 0 10px;
  font-size: 13px;
}

.inputRoot {
  min-width: 0;
  flex: auto 1 1;
  input {
    padding-right: 75px;
    font-size: 24px;
  }
}

.textForNull {
  display: none;
}

.inputContainer {
  border-radius: 6px 0 0 6px !important;
  box-shadow: none !important;
}

.textForNull {
  font-size: 10px;
  position: absolute;
  left: -1px;
  margin-top: 70px;
  width: 350px;
}

.tooltip {
  z-index: 1;
}

.label {
  z-index: 1;
  font-weight: bold;

  background: var(--color-background-elements);
  @include ff-semibold;
  z-index: 1;
}

.red {
  color: var(--color-f-error);
}

input:disabled {
  background-color: #eee;
}

.selectGroupContainer {
  position: relative;
}

.currencySelect {
  border-radius: 0 6px 6px 0 !important;
  background: none!important;
  box-shadow: none!important;
  @include ff-bold;
  position: absolute!important;
  right: 5px;
  top: 5px;

  > div:nth-child(2) {
    margin-top: 10px;
    display: block;
    position: absolute;
    top: 75px;
    border: none;
    left: 0;
    width: auto;
    z-index: 1111112;
    border-radius: 0;
    box-shadow: none;
    div {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      border: none;
    }
  }
  
  input {
    border: none;
    height: 69px;
    border-bottom: 1px solid var(--color);
    padding-left: 2px;
  }
}

.currencySelect.dropDown {
  width: 100%;
  border: 1px solid var(--color);
  top: 0px;
  z-index: 1;
  background: var(--color-background-elements);
  height: 375px;
  border-radius: 3px;
}

@include media-mobile {
  .currencySelect {
    width: 130px;
  }
  .textUsd {
    font-size: 14px;
  }
  .inputRoot {
    input {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .textUsd {
    top: 0px;
    font-size: 12px;
    right: 135px;
  }
}
