$purple: #510ed8;


@keyframes theme {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.themeSwitcher {
  color: white;
  width: 20px;
  cursor: pointer;
}

.themeAnimation {
  animation: theme 0.8s ease-in-out forwards;
}

.withExit {
  position: unset;
  right: unset;
  top: unset;
}

.rightArea {
  display: flex;
  width: 5em;
  justify-content: space-between;

  @media all and (max-width: 480px) {
    position: absolute;
    right: 10px;
  }
}

.buttonLan {
  color: #7c1de9 !important;

  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.header,
.header-mobile {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: position 0.3s ease;
}

.flexebleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.customLogo {
  display: block;
  height: 100%;
  object-fit: contain;
  max-width: 160px;
  max-height: 70px;
}

@include media-mobile {
  .widgetHeader {
    display: unset;
    width: 100%;
  }
}

.logoutWrapper {
  display: flex;
  align-items: baseline;
  cursor: pointer;

  span {
    margin-left: 0.5em;
  }

  &:hover {
   color: #6044e6;;
  }

  &.dark {
    color: white
  }
}

.header-fixed {
  position: fixed;
  height: 88px;
  animation: slide-down 0.4s;
}

.header-promo {
  background: transparent;
}

.header-mobile > div {
  transform: none;
  z-index: 9999999;
  transition: transform 250ms ease;
}

.loaderCreateWallet {
  display: block;
  position: fixed;
  z-index: 9999999999999999;
  width: 100vw;
  height: 100vh;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.walletTour {
  position: absolute;
}