details {
  border: 1px solid var(--color-inactive-border);
  border-radius: 4px;
  padding: .5em .5em 0;
}

details + details {
  margin-top: 0.7em;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 1px solid var(--color-inactive-border);
  margin-bottom: .5em;
}
