.dropDown {
  @include inline-block;
  background: #fff;
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(#000, 0.08) 0 3px 9px 0;

  &.active {

    .arrow {
      @include arrow('up', 9px, 2px, #828795);
      margin-top: -2px;
    }
  }
}

.selectedItem {
  height: 60px;
  line-height: 60px;
  padding-right: 46px;
  padding-left: 16px;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  @include no-user-select;
}

.arrow {
  @include arrow('down', 9px, 2px, #828795);
  margin-top: -6px;
  position: absolute;
  top: 50%;
  z-index: 9999;
  right: 20px;
}

.select {
  min-width: 100%;
  max-height: (56px * 4);
  background-color: #fff;
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;
  border-radius: 6px;
  box-shadow: rgba(#000, 0.08) 0 3px 9px 0;
}

.option {
  height: 56px;
  line-height: 56px;
  border-top: 1px solid #ddd;
  padding: 0 16px;
  cursor: pointer;
  text-align: left;

  &:first-child {
    border-top: 0;
  }

  &:hover {
    background-color: #fbfbfb;
  }
}

@media screen and (max-width: 690px) {
  .dropDown.active {
    z-index: 1;
  }
}
