.nav {
  height: 100%;
  min-width: 0;
  flex: auto 1 1;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.6;
  border-bottom: 2px solid transparent;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    opacity: 0.6;
    color: #000;
    border-bottom: 2px solid #000;
  }

  &.active {
    border-bottom: 2px solid #000;
    opacity: 0.6;
    color: #000;
  }
}


@media screen and (max-width: 860px){
  .link {
    display: none;
  }
  .nav {
    padding: 0;
  }
}

.active {
  border-bottom: 2px solid #fff;
  font-weight: 700;
  color: #fff;
}
