.nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.link {
  margin-left: 25px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #dccef7;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #fff;
  }

  &.active {
    border-bottom: 2px solid #fff;
    font-weight: 700;
    color: #fff;
  }
}
