.nav {
  height: 100%;
  min-width: 0;
  flex: auto 1 1;
  display: flex;
  align-items: center;
}

.mainMenu {
  margin-right: 25px;
}

.mainMenu {
  margin-left: 25px;
}

.link {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  }

  &.active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
  }
}


@media screen and (max-width: 860px){
  .link {
    display: none;
  }
  .nav {
    padding: 0;
  }
}

.active {
  border-bottom: 2px solid #fff;
  font-weight: 700;
  color: #fff;
}
