.nav {
  height: 100%;
  min-width: 0;
  flex: auto 1 1;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.link {
  margin-left: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #dccef7;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #fff;
  }

  &.active {
    border-bottom: 2px solid #fff;
    font-weight: 700;
    color: #fff;
  }
}

.button {
  padding: 0 16px;
  height: 56px;
  cursor: pointer;
  margin-left: 20px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  display: inline-block;
  background-color: #E72BB3;
  color: #ffffff;
}

@media screen and (max-width: 860px){
  .link {
    display: none;
  }
  .nav {
    padding: 0;
  }

  .button {
    display: none;
  }
}