$textColor: #1F2D48;
$exchangeBorder: #512ed0;

.nav {
  height: 100%;
  min-width: 0;
  flex: auto 1 1;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.mainMenu {
  margin-right: 25px;
  position: relative;
}

.fixed-width {
  width: 145px;
  padding: 0 5px;
}

.link {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.1s ease;
  font-weight: 800;
  font-size: 15px;
  @include ff-bold;
  line-height: 140%;
  color: #8E9AA3;

  &:first-child {
    margin-left: 0px;
    z-index: 1;
  }

  &:hover {
    color: rgba($textColor, 1);
    img {
      filter: none;
      transform: rotate(180deg);
    }
  }

  &.active {
    color: rgba($textColor, 1);
    &_exchange {
      border-color: $exchangeBorder;
    }
  }
}


.container {
  cursor: pointer;
}

.humburger {
  position: relative;
  width: 10px;
  height: 1px;
  background-color: #000;
  margin: 2px 4px 0;
  bottom: 2px;
  z-index: 0;
}

@media screen and (max-width: 860px){
  .humburger {
    display: none;
  }
  .link {
    display: none;
  }
  .nav {
    padding: 0;
  }
}

.active {
  font-weight: 700;
  color: #512ed0;
}

.bold {
  font-weight: bold;
}

.arrowSub {
  display: inline-block;
  filter: opacity(0.7) brightness(0);
  transition: transform 0.2s ease,
    filter 0.2s ease;
}
