.myOrdersTable {
  width: 100%;

  @media screen and (max-width: 720px) {
    font-size: 13px;
  }

  @media screen and (max-width: 480px) {
    font-size: 11px;
  }

  th,
  td {
    text-align: left;

    padding: 0.2em 0.3em;
    line-height: 1.1em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

  }

  th {
    padding-bottom: 0.5em;
  }
}