.question {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #7c1de9;
  cursor: pointer;
}
