.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  font-family: 'Inter-Bold', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#510ed8+0,510ed8+70,8821ee+100 */

  a {
    display: block;
    font-size: 17px;
    flex: 1;
    padding: 14px 7px;
    text-align: center;
    color: #a7a7a7;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    &.active {
      font-weight: 700;
      color: #fff;
    }

    i {
      padding: 5px 0;
    }
    &:first-child {
      border-right: 1px solid #fff;
    }
  }
}

.active {
  font-weight: 700;
  color: #fff;
}

.bold {
  font-weight: bold;
}

@media all and (min-width: 320px) and (max-width: 570px) {
  .navbar {
    a {
      font-size: 12px;
      padding: 7px;

      i {
        font-size: 18px;
      }
    }
  }
}
