.navMobile {
  height: 100%;
  min-width: 0;
  flex: auto 1 1;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.linkMobile {
  margin-left: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #dccef7;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #fff;
  }

  &.active {
    border-bottom: 2px solid #fff;
    font-weight: 700;
    color: #fff;
  }
}


.hide {
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}


.button {
  padding: 0 16px;
  height: 56px;
  cursor: pointer;
  margin-top: 10px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  display: inline-block;
  background-color: #E72BB3;
  color: #ffffff;
}

@media screen and (min-width: 860px){
  .linkMobile {
    display: none;
  }
  .navMobile {
    padding: 0;
    display: none;
  }
}

@include media-mobile {
  .navMobile {
  	padding-left: 0;
  }
}
