.nav {
  width: 280px;
  background: #fff;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  position: fixed;
  top: 100px;
  left: calc(50% - 150px);
  border-radius: 10px;
  animation: open 0.7s ease-in-out forwards;
}

.hide {
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

.link {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #E72BB3;

  &:hover {
    color: #e700ab;
    font-weight: bold;
  }
}

.button {
  padding: 0 16px;
  height: 56px;
  cursor: pointer;
  margin-top: 10px;
  line-height: 56px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
  display: inline-block;
  background-color: #E72BB3;
  color: #ffffff;
}

@keyframes open {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(100px);
  }
}