.faQuestions {
  display: block;
  width: 100%;
  font-family: "Inter-Regular";
  padding-left: 1px;
  font-size: 13px;
  line-height: 1.538em;

  &__header {
    font-family: "Inter-Bold";
    font-size: 24px;
  }

  &__tabsContainer {
    margin-top: 10px;
  }
}

.tab {
  width: 100%;
  margin-bottom: 5px;
  user-select: none;

  &__header {
    display: flex;
    position: relative;
    padding-left: 23px;
    font-family: "Inter-Medium";
    cursor: pointer;

    // &:hover {
    //   .chrest {
    //     transform: rotate(90deg) translateX(1px) translateY(-1px);
    //     transition: transform ease 0.2s;
    //   }
    // }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    // transition: max-height linear 0.2s,
    //   opacity ease 0.2s;

    &_active {
      visibility: visible;
      opacity: 1;
      max-height: 1000px;
      padding-bottom: 15px;
      overflow-y: visible;
      // transition: max-height linear 0.4s,
      //   opacity ease 0.15s 0.25s;
    }
  }
}

$chrestStripWidth: 2px;
$chrestStripHeight: 12px;

.chrest {
  position: absolute;
  top: 1px;
  left: 1px;

  &_active {
    transform: rotate(0deg) translateX(0px) translateY(0px) !important;

    &::after {
      opacity: 0;
      // transition: opacity ease 0.2s;
    }
  }

  &::after,
  &::before {
    display: block;
    content: '';
    position: relative;
    background: #8e9aa3;
    border-radius: 1px;
  }

  &::before {
    height: $chrestStripWidth;
    width: $chrestStripHeight;
    left: 0;
    top: ($chrestStripHeight / 2) + ($chrestStripWidth / 2);
  }

  &::after {
    width: $chrestStripWidth;
    height: $chrestStripHeight;
    left: ($chrestStripHeight / 2) - ($chrestStripWidth / 2);
    top: 0px;
  }
}

@media all and (max-width: 992px) {
  .faQuestions {
    padding: 0 25px;
  }
}
