.optionrow {
  white-space: nowrap;

  em {
    display: block;
    height: 36px;
    float: left;
    margin-left: -46px;

    img {
      display: inline-block;
      width: 36px;
      vertical-align: middle;
    }
  }

  &.disabled {
    opacity: 0.3;
    filter: grayscale(1);
    cursor: not-allowed;
  }
}

.optionTitle {
  display: flex;
  justify-content: space-between;

  &.smalltext {
    font-size: 0.8em;
  }

}
