<!doctype html>
<html lang="ru">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="wrapper" id="app"></div>
</body>
</html>