
.table__withdraw {
    display: inline-block;
    height: 40px;
    border-radius: 20px;
    background: #f8f3fe;
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
    color: #7c1de9;
    padding: 0 25px;
}

.table__withdraw:hover {
    color: #7c1de9;
    background: #dfc5ff;
}