.animationLoading {
  display: block;
  padding: 20px;
  background: #ffffff;
  //box-shadow: 0px 4px 16px rgba(0,0,0,0.08), 0px 1px 4px rgba(0,0,0,0.08);
  border-radius: 4px;
  position: relative;
  right: 0;
  width: 100%;
  top: 20px;
  opacity: 0.6;

  &.--dark {
    background: #2a2929;
    opacity: unset;
    .textBlock {
      p {
        color: white;
      }
      span {
        color: #79838a;
      }
    }
    .one,
    .two,
    .three,
    .four,
    .five,
    .six {
        background: linear-gradient(to right, #353535 8%, #353535 18%, #353535 33%);
    }
  }
}

.animationLoading.rideSideContent {
  height: 500px;
}

.animationLoading.leftSideContent {
  height: 215px;
  top: 0;
}

.animationLoading.stop {
  .container > div {
    animation: none;
  }
}

@keyframes animate {
  0% {
    background-position: -1500px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.container {
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 55px;
}

.animationLoading.inner {
  padding: 0;
  box-shadow: none;
  top: 60px;
  height: auto;
}

.descr {
  .one {
    border-radius: 0;
    height: 70px;
    width: 100%;
  }
}

.balance {
  height: 215px;
  margin-bottom: 0;

  .one {
    left: 0;
    height: 70px;
    width: 100%;
  }

  .three,
  .two {
    position: absolute;
    height: 42px;
    left: 0px;
    bottom: 50px;
    width: 48%;
  }

  .three {
    left: 0px;
  }

  .two {
    right: 0px;
    left: auto;
  }
}

.content {
  .one {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    position: relative;
  }

  .two {
    top: 2px;
    height: 20px;
    width: 150px;
    left: 65px;
  }

  .three {
    bottom: 0;
    height: 20px;
    width: 260px;
    left: 65px;
    right: auto;
  }

  .four {
    top: 2px;
    height: 20px;
    right: 0;
    width: 120px;
    left: auto;
  }

  .five {
    bottom: 0;
    height: 20px;
    right: 0;
    left: auto;
    width: 210px;
  }

  .six {
    bottom: -30px;
    height: 1px;
    width: 100%;
    left: 0;
  }
}

.one,
.two,
.three,
.four,
.five,
.six {
  background-color: #ccc;
  height: 6px;
  animation-name: animate;
  border-radius: 4px;
  animation-duration: 2s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, #eeeeee),
    color-stop(18%, #dddddd),
    color-stop(33%, #eeeeee)
  );
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 3200px 104px;
}

.banners {
  padding: 0;
  top: auto;
  margin: 0;
  height: 250px;
  display: flex;
  justify-content: space-between;
  .one,
  .two,
  .three,
  .four {
    position: relative;
    height: 220px;
    width: 167px;
  }
}


.textBlock {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  z-index: 111111;

  p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #1f2d48;
    margin-bottom: 5px;
  }
  span {
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #8e9aa3;
    display: inline-block;
    @include ff-regular;
    width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .four,
  .five {
    display: none;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .animationLoading {
    box-shadow: none;
  }
  .four,
  .five {
    display: none;
  }
  .banners {
    padding: 0 12px;
    top: auto;
    margin: 0;
    height: 130px;
    display: flex;
    justify-content: space-between;
    .one,
    .two,
    .three,
    .four {
      position: relative;
      height: 100px;
      width: 32%;
    }
    .four {
      display: none;
    }
  }
}
