.FailControler {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 470px;
  width: 600px;
  border-radius: 20px;
  padding: 0 30px 30px;
  border: 1px solid var(--color-border);
  box-shadow: var(--box-shadow);
  background: var(--color-background-elements);
  color: var(--color);
  font-size: 16px;
}

.failHeading {
  font-size: 23px;
  margin-bottom: 20px;
}

.warning {
  font-size: 120px;
  color: var(--color-bad);
  margin-bottom: 5px;
}

.button {
  cursor: pointer;
  width: 200px;
  margin-left: 20%;
  background: var(--color-brand);
  margin: 0;
  &:hover {
    background: var(--color-brand-hover);
  }
}

.address {
  font-weight: bold;
  margin-top: 30px;
  padding: 13px 19px;
  border-radius: 5px;
  font-size: 19px;
  color: #373737;
  box-shadow: 1px 1px 6px #929292;
  margin-bottom: 35px;
}
