.marginRight {
  margin-right: 10px;
}

.copied {
  font-size: 14px;
  position: absolute;
  padding: 5px 15px;
  background: #f8f3fe;
  top: -16px;
  left: calc(25%);
  border-radius: 20px;
}

.no-select-inline {
  cursor: pointer;
  display: inline;
  user-select: none;
  white-space: nowrap;
}

.icon {
  margin-right: 5px;
}

.notActiveLink {
  font-size: 12px;
  color: #c9c9c9;
  position: absolute;
  bottom: -20px;
}

.unconfirmedBalance {
  font-size: 12px;
  color: #c9c9c9;
  span {
    margin-bottom: -5px;
    display: block;
  }
}

.notContractAddress {
  float: left;
  position: relative;
  height: 100%;
}

.button {
  @include inline-block;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px;
  margin-right: 10px;

  &:hover {
    color: #7c1de9;
    background: #dfc5ff;
  }
}
.buttonActivate {
  margin-left: 15px;
}

.marginRight {
  margin-right: 10px;
}

.copied {
  font-size: 14px;
  position: absolute;
  padding: 5px 15px;
  background: #f8f3fe;
  top: -16px;
  left: calc(25%);
  border-radius: 20px;
}

.no-select-inline {
  cursor: pointer;
  display: inline;
  user-select: none;
  white-space: nowrap;
}

.icon {
  margin-right: 5px;
}

.button {
  @include inline-block;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px;
  margin-right: 10px;

  &:hover {
    color: #7c1de9;
    background: #dfc5ff;
  }
}

.table_balance-cell {
  min-width: 170px;
  max-width: 170px;
}

.mobileName {
  color: #000;
  display: block;
  margin-left: -10px;
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: none;
}

tr button:disabled,
tr button[disabled],
tr button[disabled]:hover {
  background-color: #dbdbdb;
  cursor: default;
  color: #626262;
}


.actButton, .useButton {
  display:  inline-block;
  margin-left: 10px;
}

.walletButtons {
  color: inherit;
}

.notActivated {
  button:nth-child(2),
  button:nth-child(3) {
    display: none!important;
  }
}

@media all and (min-width: 570px) and (max-width:900px) {
  .buttonActivate {
    margin-left: 0px;
  }
}


@include media-mobile {
  .mobileName {
    display: block;
  }
  .yourAddress {
    display: none;
  }
  .table_balance-cell {
    min-width: 75px;
  }
  .no-select-inline {
    font-size: 15px;
    position: absolute;
    right: 20px;
    background: transparent!important;
    top: 23px;
  }
  .mobileName {
    color: #000;
    display: block;
    font-size: 16px;
  }
  tr.showButtons {
    color: #000;
    height: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px 0;
    margin-bottom: 10px;
    margin-top: 10px;
    td:nth-child(1) {
      a {
        top: 14px;
        position: absolute;
      }
    }
    .mobileName {
      position: absolute;
      left: 70px;
      top: 23px;
      margin: 0;
      color: #000;
    }
    .buttonActivate {
      top: -45px;
    }
  }
  tr.hidden {
    td:nth-child(5) {
      div {
        display: none;
      }
    }
  }
  .unconfirmedBalance {
    position: absolute;
    right: 0;
    top: 23px;
    span {
      display: inline-block;
      margin-right: 5px;
    }
  }
  .buttonActivate {
    position: absolute;
    right: 0;
    height: 22px;
    line-height: 0px;
    font-size: 10px!important;
    top: -47px;
    left: 103px;
  }
}
