.marginRight {
  margin-right: 10px;
}

.copied {
  font-size: 14px;
  position: absolute;
  padding: 5px 15px;
  background: #f8f3fe;
  top: -16px;
  left: calc(25%);
  border-radius: 20px;
}

.no-select-inline {
  cursor: pointer;
  display: inline;
  user-select: none;
  white-space: nowrap;
}

.icon {
  margin-right: 5px;
  font-size: 20px;
  width: 22px;
}

.notActiveLink {
  font-size: 12px;
  color: #c9c9c9;
  position: absolute;
  bottom: -20px;
}

.disableWth {
  @include inline-block;
  height: 40px;
  background: #dbdbdb;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  border: none;
  font-weight: 500;
  color: #626262;
  border-radius: 20px;
  margin-right: 10px;

}

.unconfirmedBalance {
  font-size: 12px;
  color: #c9c9c9;
  span {
    margin-bottom: -5px;
    display: block;
  }
}

.notContractAddress {
  float: left;
  position: relative;
  height: 23px;
}

.button {
  @include inline-block;
  height: 40px;
  background: #f8f3fe;
  padding: 0 25px;
  cursor: pointer;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #7c1de9;
  border-radius: 20px;
  margin-right: 10px;

  &:hover {
    color: #7c1de9;
    background: #dfc5ff;
  }
}

.disbutton {
  onClick: none;
}
.buttonActivate {
  margin-left: 15px;
}

.buttonActivateTlos {
  position: relative;
  left: 18px;
}

.buttonUseAnotherTLOS {
  position: relative;
  left: 18px;
}

.marginRight {
  margin-right: 10px;
}

.copied {
  font-size: 14px;
  position: absolute;
  padding: 5px 15px;
  background: #f8f3fe;
  top: -16px;
  left: calc(25%);
  border-radius: 20px;
}

.no-select-inline {
  cursor: pointer;
  display: inline;
  user-select: none;
  white-space: nowrap;
}

.icon {
  margin-right: 5px;
}

.table_balance-cell {
  min-width: 170px;
  max-width: 170px;
}

.mobileName {
  color: #000;
  display: block;
  margin-left: -10px;
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: none;
}

tr button:disabled,
tr button[disabled],
tr button[disabled]:hover {
  background-color: #dbdbdb;
  cursor: default;
  color: #626262;
}

.yourAddress {
  position: relative;
  min-width: 400px;
}
.yourAddressWithOptions {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.walletButtons {
  color: inherit;
}

.activeControlButtons {
  color: inherit;
  display: flex;
  margin-left: 10px;
  bottom: 0;
  .buttonActivate,
  .buttonUseAnother {
   display: block;
  }
}

.withdrawBtn {
  position: relative;
  &:hover {
    .additionalWithdrawing {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease;
    }
  }
}

.littleText {
  font-size: 10px;
}

.additionalWithdrawing {
  visibility: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: -70px;
  left: 50%;
  height: 51px;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  button {
    box-shadow: 0 0 5px rgba(black, 0.2);
  }
}

.actButton {
  button {
    color: #ffffff;
    width: auto;
    background: rgba(61, 226, 91, 0.7);
    height: 25px;
    line-height: 25px;
    padding: 0px 25px;
    margin-left: 31px;
    margin: 0;
    margin-bottom: 0;
    font-size: 16px;
    margin-right: 10px;
    height: 40px;
    &:hover {
      color: #ffffff;
      background: rgba(61, 226, 91, 0.8);
    }
  }
}
.useButton {
  button {
    background: #ffffff;
    color: #8c8c8c;
    border: 1px solid #dbdbdb;
    height: 25px;
    line-height: 15px;
    padding: 0 25px;
    font-size: 16px;
    height: 40px;
    margin-right: -10px;
    &:hover {
      background: #ffffff;
      color: #8c8c8c;
      border: 1px solid #dbdbdb;
    }
  }
}

 .buttonActivate,
 .buttonUseAnother {
  display: none;
 }

 .actButtonTelos {
   button {
     color: #ffffff;
     width: auto;
     background: rgba(61, 226, 91, 0.7);
     height: 25px;
     line-height: 25px;
     padding: 0px 25px;
     margin: 0;
     margin-bottom: 0;
     font-size: 16px;
     margin-right: 10px;
     margin-left: 60px;
     height: 40px;
     &:hover {
       color: #ffffff;
       background: rgba(61, 226, 91, 0.8);
     }
   }
 }
 .useButtonTelos {
   button {
     background: #ffffff;
     color: #8c8c8c;
     border: 1px solid #dbdbdb;
     height: 25px;
     line-height: 15px;
     padding: 0 25px;
     font-size: 16px;
     height: 40px;
     margin-right: -10px;
     &:hover {
       background: #ffffff;
       color: #8c8c8c;
       border: 1px solid #dbdbdb;
     }
   }
 }

 .addressExist {
   position: relative;
   left: 51%;
 }

 .errorMessage {
   position: absolute;
   color: red;
   font-size: 14px;
   z-index: 5;
 }

@media all and (min-width: 570px) and (max-width:1024px) {
  .buttonActivateTelos,
  .buttonActivate {
    margin-left: 0px;
  }
  .yourAddress {
    display: table-cell;
  }
  .buttonActivateTelos,
  .buttonActivate {
    top: auto;
  }
  .activeControlButtons {
    color: inherit;
    display: flex;
    left: 170px;
    top: -65px;
    position: absolute;
    flex-direction: row;
  }
  .notActivated {
    display: flex;
    max-width: 140px;
    display: none;
    align-items: flex-end!important;
  }
}

@media all and (min-width: 320px) and (max-width:1024px) {
  .notActiveLink {
    bottom: -10px;
  }
  .mobileName {
    display: block;
  }
  .yourAddress {
    position: absolute;
    bottom: 0;
    right: 10px;
    min-width: 80px;
    width: auto!important;
  }
  .yourAddressWithOptions {
    position: absolute;
    right: 40px;
    bottom: 10px;
    width: 100%!important;
    .notContractAddress {
      position: absolute;
      right: -20px;
      bottom: 15px;
      display: none;
    }
  }
  .table_balance-cell {
    min-width: 75px;
  }
  .no-select-inline {
    font-size: 15px;
    position: absolute;
    right: 20px;
    background: transparent!important;
    top: 23px;
  }
  .yourAddress {
    display: none;
  }
  .mobileName {
    color: #000;
    display: block;
    font-size: 16px;
  }
  tr.showButtons {
    color: #000;
    height: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px 0;
    margin-bottom: 10px;
    margin-top: 10px;
    .yourAddressWithOptions {
      .notContractAddress {
        display: block;
      }
    }
    .yourAddress {
      display: block;
    }
    td:nth-child(1) {
      a {
        top: 14px;
        position: absolute;
      }
    }
    .mobileName {
      position: absolute;
      left: 70px;
      top: 23px;
      margin: 0;
      color: #000;
    }
    .buttonActivate {
      top: 0px;
    }
  }
  tr.hidden {
    td:nth-child(5) {
      div {
        display: none;
      }
    }
  }
  .unconfirmedBalance {
    position: absolute;
    right: 0;
    top: 23px;
    span {
      display: inline-block;
      margin-right: 5px;
    }
  }
  .buttonActivate {
    right: 0;
    height: 22px;
    line-height: 0px;
    top: -47px;
    left: 103px;
    color: #ffffff;
    background: rgba(61, 226, 91, 0.7);
    height: 25px;
    line-height: 25px;
    padding: 0 0.9em !important;
    margin-left: 31px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 13px!important;
    margin-right: 5px!important;
    width: 115px;
  }
  .buttonUseAnother {
    background: #ffffff;
    color: #8c8c8c;
    border: 1px solid #dbdbdb;
    height: 25px;
    line-height: 15px;
    padding: 0 15px!important;
    display: none;
    width: 115px;
    font-size: 13px!important;
  }
}

@media all and (min-width: 320px) and (max-width: 570px) {
  .yourAddress {
    display: none;
  }
  tr.showButtons {
      .yourAddress {
        display: none;
    }
  }
  .yourAddressWithOptions {
    position: absolute;
    right: -90px;
    bottom: 50px;
    width: 100%!important;
    .notContractAddress {
      display: none !important;
    }
  }
  .buttonActivate {
    width: 75px;
    height: 26px!important;
    // padding: 0!important;
    position: absolute;
    left: 16px;
    top: -17px!important;
    font-size: 10px !important;
  }
  .buttonUseAnother {
    width: 100px;
    display: none!important;
  }
}
