.dropdownMenu {
  position: static;
  color: var(--color);
}

.dotsButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 111;
  width: 1rem;
  height: 2rem;
  padding-top: 0.5rem;
  font-size: 0.32rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .icon {
    display: inline-block;
    opacity: 0.8;
  }
}

.dropdownMenuItem {
  border-bottom: 1px solid var(--color-border);

  &:last-child {
    border: none;
  }
}

.menu {
  border-radius: var(--main-component-border-radius);
  padding: 5px 0px;
  min-width: 100px;
  display: none;
  box-shadow: var(--box-shadow);
  background: var(--color-background-elements);
  @include ff;

  button {
    font-size: 12px;
    width: 100%;
    padding: 10px;
    text-align: left;
    margin: 0;
    display: block;

    &:hover {
      background: var(--color-brand);
      color: var(--color);
    }

    &[disabled],
    &[disabled]:hover {
      color: var(--color-indicating);
      background: inherit;
    }
  }
}

.menu.open {
  display: block;
}

.walletControls {
  position: absolute;
  right: 30px;
  top: -30px;
  z-index: 111111111111;
  height: max-content;
  min-width: 200px;
}

@media all and (max-width: 480px) {
  .dotsButton {
    padding-top: 0.7rem;
    font-size: 0.3rem;
  }

  .walletControls {
    top: -250px;
  }
}
