.VidNdFeatures {
    padding-top: 100px;
    padding-bottom: 50px;

    &__title {
        max-width: 45%;
        font-size: 30px;
        text-align: center;
        margin: 20px auto 45px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;

        :global(.purple) {
            color: var(--color-brand);
            font-weight: bolder;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 2%;
    }

    &__item {
        &_features {
            flex: 4;
            padding-right: 20px;
        }

        &_video {
            flex: 5;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                position: relative;
                font-size: 1.2em;
                padding-left: 25px;
                margin-top: 10px;
                margin-bottom: 15px;

                &::before {
                    display: block;
                    position: absolute;
                    content: '';
                    left: 0px;
                    top: 7px;
                    width: 12px;
                    height: 12px;
                    border: 1px solid var(--color-brand);
                    border-radius: 50%;
                }

                &::after {
                    display: block;
                    position: absolute;
                    content: '';
                    left: 3px;
                    top: 10px;
                    width: 6px;
                    height: 6px;
                    background: var(--color-brand);
                    border-radius: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
  .VidNdFeatures {
    padding-top: 30px;
  }
}

@include media-tablet-portrait-and-lower {
    .VidNdFeatures {
      padding-top: 10px;
      padding-bottom: 45px;

        &__title {
            max-width: 75%;
        }

        &__container {
            flex-direction: column-reverse;
            padding: 0 5%;
        }

        &__item {
            margin: 30px auto;
            margin-bottom: 0;
        }
    }
}
