.stepsWrapper {
  .fakeInput {
    height: 68px;
    padding: 0 16px;
    border-radius: 3px;
    vertical-align: top;
    box-shadow: none;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 20px;
    color: var(--color);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid var(--color-indicating);
    outline: none;
    line-height: 68px;
    overflow-x: auto;
    overflow-y: clip;
  }

  .readyTitle {
    text-align: center;
  }
}

@include media-mobile {
  .erc20ModalHolder {
    min-width: auto;

    .fakeInput {
      overflow: auto;
    }
  }
}

.title {
  font-size: 12px;
}

.lowLevel {
  margin-top: 1em;
  position: relative;
}