.reloadButton {
  width: 40px;
  height: 40px;
  @include inline-block;
  background: #f8f3fe;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;

  &:hover {
    background: #dfc5ff;
  }
}

.icon {
  height: 20px;
}
