.modalConductor {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101011111111;
}

.modalDashboardConductor {
  position: relative;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-top: 40px;
}

.dark {
  background: #242425;
  box-shadow: 0px 4px 16px rgba(243, 243, 243, 0.08), 0px 1px 4px rgba(240, 233, 233, 0.08);

  @media screen and (max-width: 480px) {
    box-shadow: none;
    background: #222528;
  }
}
