.social-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;

  & li {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.icon {
  color: #7371ff;
  font-size: 24px;
  text-align: center;
  transition: color 300ms ease;
  cursor: pointer;

  &:hover {
    color: #e91db4;
  }
}
