.social-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  @include media-mobile {
    margin-top: 16px;
  }

  & li {
    margin-right: 16px;

    @include media-mobile {
      margin-right: 32px;
    }

    @include media-tablet {
      margin-right: 50px;
    }

    @include media-tablet-landscape {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

.icon {
  color: #7371ff;
  font-size: 20px;
  text-align: center;
  transition: color 300ms ease;
  cursor: pointer;

  @include media-mobile {
    font-size: 32px;
  }

  @include media-tablet {
    font-size: 32px;
  }

  &:hover {
    color: #e91db4;
  }
}