.social-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

}

.icon {
  color: #7371ff;
  font-size: 32px;
  text-align: center;
  transition: color 300ms ease;
  cursor: pointer;

  &:hover {
    color: #e91db4;
  }
}