.social-menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;

  & li {
    margin: 0 5px;
  }
}

.icon {
  color: #7371ff;
  font-size: 24px;
  text-align: center;
  transition: color 300ms ease;
  cursor: pointer;

  &:hover {
    color: #e91db4;
  }
}

@include media-mobile {
  .social-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
