.column {
  position: absolute;
  min-width: 360px;
  top: 68px;
  right: 0;
  z-index: 1024;
}

.feed {
  min-width: 50%;
  height: 20px;
  padding: 25px 0;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background-elements);
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.06);
  margin-top: 10px;
}

.userTooltip {
  width: 100%;
  height: 88px;
  border-radius: 8px;
  background: var(--color);
  color: var(--color-background-elements);
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.06);
  padding: 0 25px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #333;
  margin-bottom: 5px;
}

.currency {
  font-size: 14px;
  font-weight: 700;
  width: 220px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin {
  color: #b4b4b4;
}

.arrow {
  display: inline-block;
  width: 5px;
}

.arrow img {
  display: block;
  width: 100%;
  height: auto;
}

.checked {
  width: 40px;
  height: 40px;
  background: #f2f9f2 url('./images/accept.svg') 50% 50% no-repeat;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.decline {
  width: 40px;
  height: 40px;
  background: #f2f9f2 url('./images/close.svg') 50% 50% no-repeat;
  border-radius: 20px;
  background-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 12px;
  height: 8px;
  border: solid 2px #3bb33b;
}

@include media-mobile {
  .title {
    position: relative;
    left: 70px;
  }
  .currency {
    flex-direction: column;
  }
}
