.IEO {
    padding-top: 40px;

    &__container {
        display: block;
        input {
            min-width: 210px;
        }
    }
}

.href {
  margin-bottom: 10px;

  a {
    text-decoration: underline;
  }
}

.button {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    max-width: 200px;
    border-radius: 3px;
    background: #000;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    box-shadow: none;
    transition: background-color 0.2s ease,
        color 0.2s ease;
    &:hover {
        background-color: white;
        color: black;
    }
}

@media screen and (max-width: 568px) {
  .IEO {
    top: 30px;
    position: relative;
  }
}
