@media (min-width: 1134px) {
  .TitleHolder {
    width: 40%;
    position: absolute;
    top: 67px;
    * {
      margin: 0;
      padding: 0;
    }
  }

  .section {
    padding-top: 70px;
  }
}

.button {
  margin-top: 20px;
  width: 45%;
  font-size: 14px;
}

.rowBtn {
  display: flex;
  justify-content: space-around;
}

.walletToggle {
  margin-top: 10px;
}

.walletInput {
  margin-top: 10px;
}

.section, .widgetSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blockVideo {
  flex-basis: 58%;
  iframe {
    width: 100%;
    height: 355px;
  }
}

.block {
  position: relative;
  flex-basis: 37%;
}

.error {
  color: red;
}

.row {
  display: flex;
  align-items: center;
}

.flipButton {
  position: absolute;
  z-index: 1;
  top: 99px;
  right: -13px;
  padding: 0;
  transform: rotate(90deg);
}

.withLoader {
  display: block;
  position: relative;

}

.inform {
  color: #626262;
  margin-top: 40px;
}

.loaderHolder {
  display: inline-block;
}

.additionalLoaderHolder {
  display: block;
  position: relative;
}

.extendedControls {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100px;
  background: white;
  overflow: visible;
  > div {
    margin: 0;
  }
}

@include media-mobile {
  .loaderHolder {
    display: block;
    position: relative;
    margin-top: -42px;
    padding-bottom: 42px;
    margin-top: -20px;
    padding-bottom: 20px;
  }
  .inform {
    margin-top: 10px;
  }
  .additionalLoaderHolder {
    > div {
      left: 140px;
      top: -5px;
    }
  }
}

@include media-tablet {
  .blockVideo {
    flex-basis: 50%;
  }
  .block {
    flex-basis: 45%;
  }
  .button {
    font-size: 12px;
  }
}
@media all and (min-width: 320px) and (max-width: 830px) {
  .section, .widgetSection {
    margin-top: 20px;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 400px;
    margin: auto;
  }
  .button {
    font-size: 12px;
  }
  .block {
    margin-bottom: 80px;
    margin-top: 60px;
  }
  .widgetSection {
    padding: 0 25px;
    overflow: hidden;
    .flipButton {
      left: auto;
      right: 40px;
      transform: translateY(12px) rotate(90deg);
    }
    .selectedItem {
      width: auto;
    }
  }
}

@media all and (min-width: 320px) and (max-width: 400px) {
  .button {
    font-size: 9px;
  }
}
