@keyframes scrollAnimation {
  0% {
    transform: translate(-50%, 0);
  }
  13% {
    transform: translate(-50%, -3px);
  }
  26% {
    transform: translate(-50%, 3px);
  }
  40% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes errorAppend {
  0% {
    max-height: 0;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-height: 300px;
  }
}

@mixin errAppend {
  animation: errorAppend 0.7s linear 1;
  will-change: max-height, opacity;
}

@media (min-width: 831px) {
  .TitleHolder {
    position: absolute;
    width: 50%;
    top: 87px;
    h1,
    span {
      font-size: 45px;
    }
    * {
      margin: 0;
      padding: 0;
    }
  }

  .section {
    padding-top: 70px;
  }
}

.informAbt {
  position: absolute;
  top: 15px;
}

.promoContainer {
  min-height: 100vh;
  position: relative;
  background: #f5f5f5;
  margin-bottom: 100px;

  &:before {
    position: absolute;
    content: '';
    background: #6144e5;
    right: 0;
    width: 32%;
    z-index: 100;
    height: 100%;
    top: 0;
  }
}
.scrollToTutorialSection {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 56px;
  right: 50%;
  color: gray;
  cursor: pointer;
  transition: opacity 0.3s ease, visibility 0.1s 0.3s;
  &:global(.hidden) {
    opacity: 0;
    visibility: hidden;
  }
}

.switchButton {
  left: 22em;
  top: 120px;
  display: flex;
  width: 60px;
  align-items: right;
  position: absolute;
}

.scrollTrigger {
  content: '';
  background: black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: scrollAnimation 5s linear infinite;
}
.scrollAdvice {
  display: inline-block;
  margin-right: 15px;
  font-size: 10px;
  line-height: 1.1em;
}
.exchangeWrap {
  color: #000;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding: 20vmin 2% 10vmin;
}

.IsSearching {
  display: block;
  position: relative;
  margin-bottom: 10px;
  @include errAppend();
}

.button {
  margin-top: 0;
  width: 100%;
  border-radius: 3px;
  height: 68px;
  font-size: 16px;
  flex-basis: 47%;
  box-shadow: none;
}

.button.disabled {
  background: #f5f5f5;
}

.walletInput input {
  border: none;
  margin: 0;
  height: 30px;
  padding: 0;
  margin-bottom: 20px;
  font-size: 16px;
  &:focus {
    border: none;
  }
}

.walletOpenSide {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  margin-bottom: -10px;
}

.alignCenter {
  display: flex;
  align-items: center;
  margin-top: -88px;
}

.rowBtn {
  display: flex;
  justify-content: space-between;
}

.buttonOrders {
  border: 1px solid #000;
  background: #fff;
  transition: background-color 0.2s ease, color 0.1s ease, border-color 0.2s ease;
  &:hover {
    background: black;
    color: white;
    border-color: white;
  }
}

.specify {
  width: 200px;
  font-weight: 500;
  line-height: 21px;
  font-size: 16px;
}

.walletToggle {
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  min-height: 73px;
  margin-bottom: 30px;
  padding: 0 20px;
  &_site {
    position: relative;
  }
}

.anotherRecepient {
  position: relative;
  z-index: -1;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease;
  &_active {
    z-index: 0;
    opacity: 1;
    max-height: 100vh;
    transition: opacity 0.3s 0.2s, max-height 0.7s ease;
  }
}

.walletInput {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.widgetSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.section {
  padding-top: 100px;
}
.blockVideo {
  flex-basis: 58%;
  iframe {
    width: 100%;
    height: 355px;
  }
}

.formExchange {
  position: relative;
  margin-top: -100px;
  padding: 50px 40px;
  width: 460px;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.formExchange_widgetBuild {
  position: relative;
  padding: 50px 0;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 420px;
  z-index: 100;
}

.widgetFormExchange {
  position: relative;
}

.error {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.3em 10px;
  margin-top: -5px;
  font-size: 13px;
  background: #fd6b65;
  border-radius: 3px;
  margin-bottom: 15px;
  @include errAppend();
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
  }
}
.error.link {
  cursor: pointer;
}
.notifyThat {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.3em 10px;
  margin-top: -5px;
  font-size: 13px;
  background: #ffb200;
  border-radius: 3px;
  margin-bottom: 15px;
  @include errAppend();
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
  }
}

.notCorrect {
  color: red;
}

.row {
  display: flex;
  align-items: center;
}

.flipButton {
  position: static;
  padding: 0;
  margin: 0px 12px -20px auto;
  transform: rotate(90deg);
}

.withLoader {
  display: block;
  position: relative;
}

.inform {
  color: #626262;
  margin-top: 40px;
}

.loaderHolder {
  display: inline-block;
  position: relative;
  top: 2px;
}

.additionalLoaderHolder {
  display: block;
  position: relative;
  > * {
    display: block;
    position: static !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.price {
  position: absolute;
  bottom: 32px;
  right: 10px;
  background: #fff;

  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  text-align: right;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
}

.selectWrap {
  position: relative;
}
.scan {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 999999999999999999;
}

.close {
  text-align: right;
  position: relative;
  font-size: 30px;
}

.qrCode {
  position: absolute;
  left: 97%;
  top: 9px;
}

.extendedControls {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: -16px 0 26px;
  background: white;
  overflow: visible;
  @include errAppend();

  > div {
    margin: 0;
  }
}

.maxAmount {
  position: absolute;
  top: 40px;
  background: #fff;
  font-size: 13px;
  right: 50px;
  padding: 0 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 0;
}

.widgetLink {
  position: absolute;
  left: 16.8em;
  color: white;
  bottom: -3em;
  text-decoration: underline;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}
.mobileDubleHeader {
  display: none;
}

.tooltipHeader {
  line-height: 1.2em;
  font-size: 38px;
}

.referralText {
  margin: 100px auto 40px;
  max-width: 1200px;
}

@media (max-width: 1200px) {
  .exchangeWrap {
    width: auto;
    left: 0;
    margin: 0 -2%;
  }

  .referralText {
    padding: 0 2em;
  }
}

@include media-tablet {
  .blockVideo {
    flex-basis: 50%;
  }

  .widgetLink {
    left: 16.5em;
    color: #297df1;
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;

    &:hover {
      color: #297df1;
      text-decoration: underline;
    }
  }

  .block {
    flex-basis: 45%;
  }
  .button {
    font-size: 12px;
  }
  .maxAmount {
    font-size: 14px;
  }
  .TitleHolder {
    width: 45%;
    h1,
    span {
      font-size: 35px;
    }
  }
  .promoContainer {
    &::before {
      display: none;
    }
  }
  .exchangeWrap {
    margin: 0 -40px;
  }
  .container {
    flex-direction: column;
  }
  .alignCenter {
    height: auto;
    padding: 50px 0 90px;
  }
}
@media all and (min-width: 320px) and (max-width: 830px) {
  .section,
  .widgetSection {
    margin-top: 20px;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 830px;
    margin: auto;
  }
  .section {
    padding-top: 120px;
  }
  .button {
    font-size: 12px;
  }
  .block {
    margin-bottom: 80px;
    margin-top: 60px;
  }
  .widgetSection {
    padding: 0 25px;
    overflow: hidden;
    .flipButton {
      left: auto;
      right: 40px;
      transform: translateY(12px) rotate(90deg);
    }
    .selectedItem {
      width: auto;
    }
  }
  .TitleHolder {
    width: 100%;
  }
}

@media all and (max-width: 570px) {
  .section {
    padding-top: 210px;
  }
}

@media all and (min-width: 320px) and (max-width: 400px) {
  .button {
    font-size: 12px;
    height: 48px;
  }
}

@include media-widget {
  .block {
    margin: 0 auto;
  }
}

@include media-mobile {
  .tooltipHeader {
    font-size: 16px;
  }

  .scrollToTutorialSection {
    bottom: 40px;
    right: 40%;
  }

  .referralText {
    overflow: hidden;
    width: 90%;
    position: relative;
    margin: 60px auto 0;
  }

  .mobileDubleHeader {
    display: block;
    background: white;
    h3 {
      display: block;
      margin: auto;
      margin-top: -100px;
      margin-bottom: 100px;
      padding: 0;
      padding-bottom: 10px;
      padding-top: 15px;
      div {
        display: block;
        margin: auto;
        width: 90%;
        text-align: center;
      }
    }
  }

  .inform {
    margin-top: 10px;
  }

  .switchButton {
    left: 82%;
  }

  .widgetLink {
    left: 51%;
    color: #297df1;
  }

  .IsSearching {
    font-size: 12px;
  }
  .maxAmount {
    top: 43px;
    right: 20px;
    font-size: 10px;
  }
  .exchangeWrap {
    margin: 0 -20px;
  }
  .container {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    align-items: normal;
    padding-top: 0;
    padding: 0;
  }
  .promoContainer {
    background: #f5f5f5;
    padding: 60px 0;
    margin-bottom: 60px;
    &::before {
      display: none;
    }
  }
  .formExchange {
    width: 100%;
    padding: 50px 15px;
    border-radius: 0;
    box-shadow: none;
  }
  .section {
    margin: 0;
  }
  .specify {
    width: 170px;
    font-weight: 500;
    line-height: 19px;
    font-size: 13px;
  }
}

// @media all and (min-width: 450px) and (max-width: 568px) {
//   .section {
//     margin: auto;
//   }
//   .formExchange {
//     width: 400px;
//   }

//   .widgetLink {
//     left: 14.5em;
//     color: #297df1;
//     text-decoration: underline;

//     &:hover {
//       color: #297df1;
//       text-decoration: underline;
//     }
//   }

//   .switchButton {
//     left: 20.5em;
//     top: 6.5em;
//   }
// }

.widgetExchangeWrap {
  width: 100vw;
  left: auto;
  margin: 0;
}
