.button {
  margin-top: 20px;
  width: 45%;
  font-size: 14px;
}

.rowBtn {
  display: flex;
  justify-content: space-around;
}

.walletToggle {
  margin-top: 15px;
}

.walletInput {
  margin-top: 15px;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.blockVideo {
  flex-basis: 58%;
  iframe {
    width: 100%;
    height: 355px;
  }
}

.block {
  flex-basis: 37%;
}

.error {
  color: red;
}

.row {
  display: flex;
  align-items: center;
}

.flipButton {
  transform: rotate(90deg);
  margin-left: calc(90% - 12px);
  padding: 0;
}

.withLoader {
  display: block;
  position: relative;

}

.inform {
  color: #626262;
}
.loaderHolder {
  display: inline-block;
}
@include media-mobile {
  .loaderHolder {
    display: block;
    position: relative;
    margin-top: -42px;
    padding-bottom: 42px;
  }
}

@include media-tablet {
  .blockVideo {
    flex-basis: 50%;
  }
  .block {
    flex-basis: 45%;
  }
  .button {
    font-size: 12px;
  }
}
@media all and (min-width: 320px) and (max-width: 830px) {
  .section {
    margin-top: 20px;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 400px;
    margin: auto;
  }
  .button {
    font-size: 12px;
  }
  .block {
    margin-bottom: 80px;
    margin-top: 60px;
  }
}

@media all and (min-width: 320px) and (max-width: 400px) {
  .button {
    font-size: 9px;
  }
}
