.button {
  margin-top: 20px;
}

.walletToggle {
  margin-top: 15px;
}

.walletInput {
  margin-top: 15px;
}

.section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block {
  width: 400px;
}

.error {
  color: red;
}
